/**
 * Footer #1
 */

[data-footer="footer-1"] {

	& .social-icons {
		margin-bottom: calc( var(--theme-footer-spacing) * .55);
	}

	& .footer-navigation {
		margin-bottom: calc( var(--theme-footer-spacing) * .5);

		& a {
			display: block;
			padding: var(--theme-footer-menu-link-spacing);
		}
	}

	& .menu-item {
		display: inline-block;
		width: 100%;

		@media (--medium) {
			width: auto;
		}
	}
}
