/**
 * Footer #3
 */

[data-footer="footer-3"] {

	& .site-footer {
		padding-bottom: calc(var(--theme-footer-spacing) * 0.4);
		padding-top: calc(var(--theme-footer-spacing) * 0.4);
	}

	& .footer-navigation {
		margin-bottom: var(--theme-spacing-unit-4);

		@media (--medium) {
			margin-bottom: 0;
		}

		@media (--medium) {
			flex: 1 65%;
		}

		& li {
			display: inline-block;

			&:first-child a {
				padding-left: 0
			}
		}

		& a {
			padding: 1rem 1.35rem;
		}
	}

	& .social-icons {

		& svg {
			height: calc(var(--theme-footer-social-icon-size) * .66);
		}
	}
}
