/**
 * Footer #1
 */

[data-footer="footer-1"] {

	& .social-icons {
		margin-bottom: var(--theme-footer-spacing);
	}

	& .footer-navigation {
		margin-bottom: var(--theme-footer-spacing);

		& a {
			color: hsla(var(--theme-footer-1-link-color), 1);
			display: block;
			padding: var(--theme-footer-menu-link-spacing);

			&:active,
			&:focus,
			&:hover {
				color: hsla(var(--theme-primary-menu-link-hover-active-color), 1);
			}
		}
	}

	& .menu-item {
		display: inline-block;
		width: 100%;

		@media (--medium) {
			width: auto;
		}
	}
}
