/**
 * Footer #3
 */

.site-footer--3 {
	display: flex;
	flex-flow: column;

	@media (--medium) {
		flex-flow: row;
		flex-wrap: wrap;
	}

	@media (--large) {
		padding-bottom: calc(2 * var(--theme-spacing-unit-6));
	}

	& .footer-blurb-text {
		margin-bottom: var(--theme-spacing-unit-6);

		@media (--medium) {
			flex: 1 100%;
		}
	}

	& .footer-navigation {
		margin-bottom: var(--theme-spacing-unit-4);

		@media (--medium) {
			margin-bottom: 0;
		}

		@media (--medium) {
			flex: 1 65%;
		}
	}

	& .footer-menu {
		margin-left: calc(-1 * var(--theme-spacing-unit-2));

		& li {
			display: inline-block;
		}

		& a {
			padding: var(--theme-spacing-unit-2);
		}
	}

	& .social-icons {
		margin-bottom: var(--theme-spacing-unit-4);
		margin-left: calc(-1 * var(--theme-spacing-unit-2));

		@media (--medium) {
			margin-bottom: 0;
		}

		& a {
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	& .footer-copy-text {
		color: hsla(var(--theme-footer-3-text-color), 0.4);
		font-size: 0.75rem;
		width: 100%;

		@media (--medium) {
			margin-top: calc(0.5 * var(--theme-spacing-unit));
		}
	}
}
