.site-footer {
	/*padding-top: var(--theme-footer-spacing-top);*/
	/*position: relative;*/

	/*@media (--full-width) {
		padding-left: inherit;
		padding-right: inherit;
	}*/

/*	& .u-informational {
		display: inline-block;
		padding: 0.3rem 0.5rem;
	}*/

	& a {
		color: hsla(var(--THEME-COLOR-NAV), 1);
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			color: hsl(var(--theme-primary-menu-link-hover-active-color));
		}
	}

	& .privacy-policy-link {
		border-left: 1px solid hsla(var(--theme-body-color), 0.25);
		margin-left: 0.85rem;
		padding-left: 1rem;
	}
}

.footer-copy-text {
	color: hsla(var(--THEME-COLOR-NAV), 1);
}
