/**
 * Social icons
 */

.social-icons {

	& a {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 48px;
		min-width: 48px;
	}

	& svg {
		fill: hsla(var(--theme-footer-social-icon-color), 1);
		vertical-align: middle;
	}
}
