/**
 * Social icons
 */

.social-icons {

	& li {
		padding-left: var(--theme-footer-social-icon-spacing);
		padding-right: var(--theme-footer-social-icon-spacing);
	}

	& a {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 48px;
		min-width: 48px;
	}

	& svg {
		fill: hsla(var(--theme-footer-social-icon-color), 1);
		height: var(--theme-footer-social-icon-size);
		vertical-align: middle;
	}
}
