/**
 * Modern - Primary Menu
 */

.primary-menu {
	--border-start: 22px;
	--border-end-mobile: 24px;
	--border-end-desktop: 28px;

	font-family: var(--theme-heading-font-family);
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;

	/* All links in Primary */
	& a::before {
		height: 2px;
	}

	/* A toggling parent item with children */
	& .menu-item-has-children {

		& svg {
			color: currentColor;
			height: 1.3rem;
			opacity: 0.7;
			width: 1.3rem;

			@media (--large) {
				height: 0.8rem;
				position: relative;
				top: 0.1rem;
				width: 0.8rem;
			}
		}
	}

	& .sub-menu {

		& .sub-menu {
			top: 0;
		}

		@media (--large) {
			text-align: center;
			top: 4.5rem;
			width: 12.5rem;
		}
	}

	@media (--large) {
		font-size: 0.85rem;
	}
}
