/**
 * Welcoming - CoBlocks Carousel gallery block
 */

/* Block wrapper */
.wp-block-coblocks-gallery-carousel {

	/* Each image in carousel */
	& .coblocks-gallery--item {
		width: 50% !important;

		@media (--medium) {
			width: 33.33% !important;
		}

		&.is-selected + .coblocks-gallery--item + .coblocks-gallery--item,
		&.is-selected + .coblocks-gallery--item + .coblocks-gallery--item + .coblocks-gallery--item {
			opacity: 0.5;
		}
	}

	&.alignwide .has-horizontal-gutter {
		overflow-x: visible;

		& .flickity-viewport {
			overflow: visible;
		}

		& .flickity-button {
			border-color: transparent;
			z-index: 39;
		}

		/* Left overlay */
		&::before {
			background-color: hsl(var(--color-white));
			content: "";
			display: block;
			height: 100%;
			left: auto;
			opacity: 0.5;
			position: absolute;
			right: 100%;
			width: 100vw;
			z-index: 29;
		}

		/* Right overlay */
		&::after {
			background-color: hsl(var(--color-white));
			content: "";
			display: block;
			height: 100%;
			left: 100%;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100vw;
			z-index: 29;
		}

		& .next {
			@media (--xlarge) {
				right: -90px;
			}
		}

		& .previous {
			@media (--xlarge) {
				left: -90px;
			}
		}
	}
}

/* Prev/Next buttons */
.flickity-button {
	background-color: transparent;
	border: 1px solid hsla(var(--theme-coblocks-gallery-carousel-border-color), 0.74);
	border-radius: 0;
	height: 36px;
	width: 47px;

	&::after {
		background-image: url("../../../dist/design-styles/creative-services/svg/arrow-right.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		content: "";
		display: inline-block;
		height: 8px;
		left: 13px;
		position: absolute;
		top: calc(50% - 3px);
		width: 42px;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: hsl(var(--color-white));
	}

	& .flickity-button-icon {
		display: none;
	}

	&.previous {

		&::after {
			transform: rotate(180deg);
		}

		&:active::after,
		&:focus::after,
		&:hover::after {
			transform: translateX(-29px) rotate(180deg);
		}
	}

	&.next {

		&::after {
			left: auto;
			right: 13px;
		}

		&:active::after,
		&:focus::after,
		&:hover::after {
			transform: translateX(29px);
		}
	}
}
