/**
 * Welcoming - CoBlocks Media block
 */

body {

	& .wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > .wp-block-media-text {

		/* For media cards, we want the alignment to be top, not center */
		align-items: stretch;

		/* On smaller devices, better to allow content a bit more weight */
		grid-template-columns: 60% 40%;

		/* On larger devices, match the figma design for column width */
		@media (--medium) {
			grid-template-columns: 65% 35%;
		}

		/* Default, when media is on the left-hand side */
		& .wp-block-media-text__media {
			@media (min-width: 601px) {
				border-right: 1px solid #979797;
				padding-right: 2rem;
			}

			@media (--medium) {
				padding-right: 4rem;
			}
		}

		/* Default, when content is on the right-hand side */
		& .wp-block-media-text__content {
			@media (min-width: 601px) {
				padding: 0 1rem 0 1.5rem;
			}

			@media (--large) {
				padding: 0 8rem 0 3rem;
			}
		}

		/* Based on design, the first content child should align almost to the top */
		& .wp-block-media-text__content > *:first-child {
			margin-top: 1rem;
		}

		/* When using an h4, it should have an underline */
		& .wp-block-media-text__content h4 {
			border-bottom: 1px solid hsl(var(--THEME-COLOR-PRIMARY));
			margin-bottom: 1rem;
			padding-bottom: 1rem;
		}

		/* Mirrored layout */
		&.has-media-on-the-right {

			/* On smaller devices, better to allow content a bit more weight */
			grid-template-columns: 40% 60%;

			/* On larger devices, match the figma design for column width */
			@media (--medium) {
				grid-template-columns: 35% 65%;
			}

			/* When media is on the right-hand side */
			& .wp-block-media-text__media {
				@media (min-width: 601px) {
					border-left: 1px solid #979797;
					border-right: none;
					padding: 0 0 0 2rem;
				}

				@media (--medium) {
					padding: 0 0 0 4rem;
				}
			}

			/* When content is on the left-hand side */
			& .wp-block-media-text__content {
				@media (min-width: 601px) {
					padding: 0 1.5rem 0 1rem;
				}

				@media (--large) {
					padding: 0 3rem 0 8rem;
				}
			}
		}
	}
}
