/**
 * Welcoming - CoBlocks Pricing Table block
 */

.wp-block-coblocks-pricing-table {

	/* Pricing Tables - each item */
	& .wp-block-coblocks-pricing-table-item {
		padding-bottom: calc(2 * var(--theme-spacing-unit-2));
		padding-top: calc(3.5 * var(--theme-spacing-unit-2));
	}

	/* Pricing Tables - item title */
	& .wp-block-coblocks-pricing-table-item__title {
		text-transform: uppercase;
	}

	/* Pricing Tables - price wrapper */
	& .wp-block-coblocks-pricing-table-item__price-wrapper {
		font-weight: 300;
	}

	/* Pricing Tables - features <ul> list */
	& .wp-block-coblocks-pricing-table-item__features {
		margin-bottom: calc(3.5 * var(--theme-spacing-unit-2));
	}

	/* Pricing Tables - link-button */
	& .wp-block-button .wp-block-button__link {
		font-size: 1rem;
		padding-bottom: 19px;
		padding-top: 19px;
		text-transform: lowercase;

		@media (--large) {
			width: 100%;
		}
	}

	& .wp-block-button__link {
		font-weight: 400;
	}

	& .wp-block-button:not(.is-style-outline) .wp-block-button__link {
		border-color: hsl(var(--color-white));
	}
}
