.wp-block-coblocks-gallery-carousel .coblocks-gallery--item {
	transition: opacity 0.75s;

	&:not(.is-selected) {
		opacity: 0.25;
	}
}

.wp-block-coblocks-gallery-carousel .coblocks-gallery--figure::before {
	display: none;
}

.wp-block-coblocks-gallery-carousel {

	.flickity-button,
	.flickity-button:hover {
		background: var(--go--color--primary);
	}

	.flickity-button:hover {
		background-color: var(--go-button-interactive--color--background, var(--go--color--secondary));
	}

	.flickity-prev-next-button {
		border-radius: var(--go-button--border-radius);
	}

	.flickity-button-icon {
		fill: var(--go--color--white);
	}
}
