/**
 * Modern - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/button.css");
@import url("components/carousel.css");
@import url("components/wc-button.css");

.wp-block-code,
.wp-block-verse,
p.has-background,
.wp-block-pullquote,
.wp-block-coblocks-alert,
.wp-block-separator.is-style-wide,
.wp-block-group:not(.alignfull):not(.alignwide),
.wp-block-cover:not(.alignwide):not(.alignfull),
.wp-block-coblocks-dynamic-separator.is-style-fullwidth::before {
	@media (--base) {
		margin-left: var(--theme-block-padding-x);
		margin-right: var(--theme-block-padding-x);
	}
}

.site-search__toggle {
	top: 2px;
}

.wp-block-coblocks-pricing-table-item__title {
	font-family: var(--theme-site-nav--font);
	font-size: var(--theme-site-nav--font-size);
	font-weight: var(--theme-site-nav--weight);
	letter-spacing: var(--theme-site-nav--tracking);
	text-transform: var(--theme-site-nav--text-transform);
}

.wp-block-group.has-background.alignwide {
	@media (--wide) {
		margin-left: var(--theme-block-padding-x);
		margin-right: var(--theme-block-padding-x);
	}
}

.is-style-3d .wp-block-button__link {
	box-shadow: inset 0 -3px 0 0 rgb(66, 66, 66);
}

.site-navigation {
	@media (--large) {
		margin-top: -0.3rem;
	}
}

.primary-menu a {

	&::after {
		background-color: currentColor;
		bottom: -5px;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		transform: scaleX(1);
		transform-origin: left center;
		transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1), background-color 200ms cubic-bezier(0.7, 0, 0.3, 1);
		width: 100%;
	}

	@media (hover: hover) {

		&:hover::after {
			transform: scaleX(0);
			transform-origin: right center;
		}
	}

	&:focus::after {
		transform: scaleX(0);
		transform-origin: right center;
	}
}
