// Modern - Styles
@import "../../../shared/css/config/breakpoints";
@import "../../../shared/css/config/mixins";
@import "../settings";

// Blocks
@import "blocks/button";
@import "blocks/carousel";
@import "blocks/wc-button";

// WooCommerce
@import "woocommerce/checkout";

@import "../../../shared/css/config/mixins";

.site-title {
	@include media(large-only) {
		margin-left: calc(var(--go-site-title--letter-spacing) * 2.5);
	}
}

.primary-menu a {

	&::after {
		background-color: currentColor;
		bottom: 0.15rem;
		content: "";
		height: 0.125rem;
		left: 0;
		position: absolute;
		transform: scaleX(1);
		transform-origin: left center;
		transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1), background-color 200ms cubic-bezier(0.7, 0, 0.3, 1);
		width: 96%;
	}

	@media (hover: hover) {

		&:hover::after {
			transform: scaleX(0);
			transform-origin: right center;
		}
	}

	&:hover {
		text-decoration: none;
	}

	&:focus::after {
		transform: scaleX(0);
		transform-origin: right center;
	}
}

.is-style-3d .wp-block-button__link {
	box-shadow: inset 0 -3px 0 0 rgb(66, 66, 66);
}

.woocommerce .product .onsale,
.woocommerce ul.products li.product .onsale {
	border-radius: 0;
	left: 0;
	top: 0;
}

#ship-to-different-address .woocommerce-form__label-for-checkbox input + span {
	display: inline-block;
	margin-left: 0.5rem;;
	width: calc(90% - 0.5rem);
}

.woocommerce-notices-wrapper .woocommerce-message a {
	float: none !important;
	margin-bottom: 0.5rem;
}

.woocommerce-additional-fields__field-wrapper textarea[name="order_comments"] {
	height: 100% !important;
	line-height: unset !important;
}

.woocommerce-page .woocommerce-shipping-methods label {
	padding-left: 2rem;
}

.woocommerce ul#shipping_method li {
	display: flex !important;
	margin: 0 0 1em;
}

.woocommerce-page .woocommerce-shipping-methods label:before {
	top: -2px;
}

@include media(small) {
	.woocommerce-page .woocommerce-shipping-methods label:before {
		top: 0 !important;
	}
}

.woocommerce ul#shipping_method li label {
	word-break: break-word !important;
}
