/*! Columns */
.wp-block-columns {

	& .wp-block-column {
		margin-bottom: var(--theme-block-spacing-larger);

		@media (--medium) {
			margin-bottom: 0 !important;
		}

		&:nth-child(2n) {
			@media (--small) {
				margin-left: 0;
				padding-left: 32px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}

.wp-block-column {

	& .wp-block-button {
		margin-top: 1.5rem;
	}
}
