/*! Pullquote */
.content-area {

	& .wp-block-pullquote {
		@mixin blockWidthNoPadding;
	}
}

.wp-block-pullquote {
	border-bottom: var(--theme-pullquote--border);
	border-top: var(--theme-pullquote--border);
	padding-bottom: var(--theme-pullquote--padding-y);
	padding-top: var(--theme-pullquote--padding-y);

	& blockquote {
		margin: 0;
	}

	& p {

		font-family: var(--theme-heading--font);
		font-size: var(--theme-pullquote--font-size);
		font-style: var(--theme-pullquote--style);
		font-weight: var(--theme-pullquote--weight);
		line-height: var(--theme-pullquote--leading);
	}

	&:not(.is-style-solid-color) p {
		color: hsl(var(--theme-pullquote--color));
		margin: 1rem 0;
	}

	& cite {
		color: hsl(var(--theme-caption--color));
		display: inline-block;
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style);
		margin-bottom: calc(var(--theme-pullquote--padding-y) + 0.5rem);
		text-transform: none;
	}

	&.is-style-solid-color {

		&:not([class*="background-color"]) {
			background-color: hsl(var(--theme-color-primary));
		}

		&:not([class*="text-color"]) {
			color: hsl(var(--color-white));
		}

		& blockquote {
			max-width: 100%;
			padding: calc(var(--theme-block-padding-x) * 0.6) 0;

			& p {
				font-size: var(--theme-pullquote--font-size);
			}

			& cite {
				color: currentColor;
				margin-bottom: 0;
				margin-top: 1rem;
				opacity: 0.65;
			}
		}
	}
}
