.wp-block-quote {
	border: none;
	color: hsl(var(--theme-h2--color));
	font-family: var(--theme-heading--font);
	font-weight: var(--theme-quote--weight);
	padding: 0;

	& p {
		font-size: var(--theme-quote--font-size);
		line-height: var(--theme-quote--leading);
		margin: 0 0 0 1.5rem;
		position: relative;

		&::before {
			content: "“";
			line-height: 1;
			position: absolute;
			transform: translate3d(-120%, 0, 0);
		}

		&::after {
			content: "”";
		}
	}

	& cite {
		color: hsla(var(--THEME-COLOR-SECONDARY), 0.75);
		display: block;
		font-family: var(--theme-body--font);
		font-size: 0.85rem;
		font-weight: 400;
		margin-bottom: -0.7rem !important;
		margin-left: 0.85rem;
		margin-top: 1rem;

		&::before {
			content: " - ";
		}
	}

	&.is-style-large {
		border-left: var(--theme-quote-large-border) currentColor;
		margin: var(--theme-block-spacing-huge) auto;

		& p {
			font-size: var(--theme-quote-large--font-size);
			font-style: var(--theme-quote-large-font-style);
			line-height: var(--theme-quote-large--leading);
			margin-bottom: 0 !important;
			margin-left: 0;
			padding: var(--theme-quote-large-padding);

			&::after,
			&::before {
				content: "";
				display: none;
			}
		}

		& cite {
			font-size: 1rem;
			margin-left: var(--theme-quote-large-cite-margin-left);
			text-align: inherit;

			& em {
				font-style: normal;
			}
		}
	}
}
