/*! Footer: Footer 4 */
.has-footer-4 {

	& .site-footer {
		padding-bottom: calc(var(--vertical-rhythm--lrg) * 0.5);
	}

	& .site-footer__row {
		margin-top: calc(var(--vertical-rhythm--lrg) * 0.5);
	}

	& .site-footer .header__titles {
		align-items: flex-start;
		flex: 0 0 100%;
		margin-bottom: calc(var(--vertical-rhythm--lrg) * 0.55);
		max-width: 100%;

		@media (--large) {
			flex: 0 0 28%;
			margin-bottom: 0;
			padding-right: 1rem;
		}

		& .site-title {
			color: hsla(var(--theme-footer-heading--color), 1);
		}

		& .site-description {
			display: none;
		}
	}

	& .footer-navigation {
		flex: 0 1 50%;

		@media (--small) {
			flex: 0 1 33%;
			max-width: 12rem;
		}

		@media (--medium) {
			flex: 0 1 25%;
		}

		&:last-of-type {
			padding-right: 0;
		}

		& a:focus {
			@mixin outline-text-link;
		}
	}

	& .footer-navigation--1,
	& .footer-navigation--2 {
		margin-bottom: 1.5rem;

		@media (--large) {
			margin-bottom: 0;
		}
	}

	& .site-info {
		flex: 1 50%;
	}

	& .social-icons {
		margin-left: calc(var(--theme-social--spacing) * -0.5);
		margin-top: 1rem;

		@media (--large) {
			margin-left: 0;
			margin-top: 0;
		}

		& li a {
			padding: calc(var(--theme-social--spacing) * 0.5);

			@media (--large) {
				padding: calc(var(--theme-social--spacing) * 0.8);
			}
		}

		& svg {
			height: var(--theme-social--size);

			@media (--large) {
				height: calc(var(--theme-social--size) * 1.1);
			}
		}
	}
}
