/*! Footer: Footer 3 */
.has-footer-3 {

	& .site-footer__inner {
		padding-bottom: calc(var(--vertical-rhythm--lrg) * 0.25);
	}

	& .site-footer__row {
		border-top: var(--theme-footer-3-site-info--border-width, 1px) solid hsla(var(--theme-footer-3-site-info--border-color), 0.5);
		margin-top: calc(var(--vertical-rhythm--lrg) * 0.75);
		padding: 2rem 0 1rem;
		text-align: center;

		@media (--medium) {
			text-align: left;
		}
	}

	& .footer-navigation {
		flex: 0 1 48%;
		padding-right: 2%;

		@media (--small) {
			flex: 0 1 33%;
		}

		&:last-of-type {
			padding-right: 0;
		}

		& a:focus {
			@mixin outline-text-link;
		}
	}

	& .footer-navigation--1,
	& .footer-navigation--2 {
		margin-bottom: 1.5rem;

		@media (--medium) {
			margin-bottom: 0;
		}
	}

	& .site-footer .header__titles {
		align-items: flex-start;
		flex: 0 0 100%;
		margin-bottom: calc(var(--vertical-rhythm--lrg) * 0.75);
		max-width: 100%;

		@media (--large) {
			flex: 0 0 50%;
			margin-bottom: 0;
			padding-right: 1rem;
		}

		& .site-title {
			color: hsla(var(--theme-footer-heading--color), 1);
		}

		& .site-description {
			display: none;
		}
	}

	& .social-icons {
		margin-top: 1rem;

		@media (--large) {
			margin-top: 0;
		}

		& svg {
			height: calc(var(--theme-social--size) * 0.8);
		}

		& a {
			padding: calc(var(--theme-social--spacing) * 0.8);

			@media (--large) {
				padding: calc(var(--theme-social--spacing) * 0.5);
			}
		}
	}

	& .site-info {
		margin-top: 0.75rem;

		@media (--large) {
			flex: 1 50%;
			margin-top: 0;
		}
	}
}
