/*! Footer: Footer 1 */
.has-footer-1 {

	& .site-footer {
		padding-bottom: var(--vertical-rhythm--lrg);
	}

	& .footer-navigation {
		margin-bottom: calc(var(--vertical-rhythm--lrg) * 0.5);

		& li {
			display: inline-block;
			width: 100%;

			@media (--medium) {
				width: auto;
			}
		}

		& a {
			display: block;
			font-family: var(--theme-site-nav--font);
			font-size: var(--theme-site-nav--font-size);
			font-weight: var(--theme-site-nav--weight);
			letter-spacing: var(--theme-site-nav--tracking);
			padding: var(--theme-footer-nav--padding-y) var(--theme-footer-nav--padding-x);
			text-transform: var(--theme-site-nav--text-transform);
		}
	}

	& .social-icons {
		margin-bottom: calc(var(--vertical-rhythm--lrg) * 0.5);

		& svg {
			height: var(--theme-social--size);
		}
	}
}
