/*! Footer */
.site-footer {
	background-color: hsl(var(--theme-footer--bg));
	color: hsl(var(--theme-footer--color));
	font-family: var(--theme-footer--font-family, inherit);

	&.has-background {
		padding-top: var(--vertical-rhythm--lrg);
	}

	& a {
		color: hsl(var(--theme-footer--color));
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	& .privacy-policy-link {
		display: inline;
		margin-left: 0.85rem;
		margin-top: 0;
		padding-left: 1rem;
		padding-top: 0;
		position: relative;

		&::before {
			background-color: currentColor;
			content: "";
			height: 100%;
			left: 0;
			opacity: 0.25;
			position: absolute;
			top: 0;
			transform: translateX(-50%);
			width: 1px;
		}

		&:focus {
			outline: none;

			&::after {
				@mixin outline-text-link;

				@media (--medium) {
					bottom: -3px;
					content: "";
					left: 1rem;
					position: absolute;
					width: calc(100% - 1rem);
				}
			}
		}
	}
}

.footer-navigation {
	line-height: var(--theme-footer-nav--leading);

	& a:focus {
		@mixin outline;
	}
}

.footer-navigation__title {
	color: hsl(var(--theme-footer-heading--color));
	display: block;
	font-family: var(--theme-site-nav--font);
	font-size: var(--theme-site-nav--font-size);
	font-weight: var(--theme-site-nav--weight);
	letter-spacing: var(--theme-site-nav--tracking);
	margin-bottom: 0.75rem;
	text-transform: var(--theme-site-nav--text-transform);
}
