/*  Columns */
.wp-block-columns {

	& .wp-block-quote {
		max-width: none;

		&.is-style-large {
			margin-left: 0;
			margin-right: 0;
		}
	}

	& .wp-block[data-type="core/paragraph"] ~ .wp-block[data-type="core/button"] {
		margin-bottom: 0 !important;
	}
}
