/*! Captions */
.wp-block-image,
.wp-block-embed,
.wp-block-audio,
.gallery {

	& figcaption,
	& .wp-caption,
	& .wp-caption-text,
	& .gallery-caption {
		color: var(--theme-caption--color, var(--theme-color-text-secondary));
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style, normal);
		margin-top: var(--theme-caption--spacing-top, 0.75em);
		text-align: var(--theme-caption--alignment);
	}

	&.alignfull {

		& figcaption {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}

	& .aligncenter {

		& figcaption {
			text-align: center;
		}
	}
}

body.rtl .wp-block-image,
body.rtl .wp-block-embed,
body.rtl .wp-block-audio,
body.rtl .gallery {

	& figcaption,
	& .wp-caption,
	& .wp-caption-text,
	& .gallery-caption {
		text-align: var(--theme-caption--alignment-opposite);
	}
}
