/*! Editor Font Sizes */
.has-small-font-size {
	font-size: var(--editor-font-size-small);
}

.has-medium-font-size {
	font-size: var(--theme-body--font-size);

	@media (--small) {
		font-size: var(--editor-font-size-medium);
	}
}

.has-large-font-size {
	font-size: var(--editor-font-size-large);
}

.has-huge-font-size {
	font-size: var(--editor-font-size-huge);
}
