/*! Editor Padding Sizes */
.has-small-padding {
	padding: var(--vertical-rhythm);

	@media (--medium) {
		padding: calc(var(--vertical-rhythm--lrg) * 0.2);
	}
}

.has-medium-padding {
	padding: var(--vertical-rhythm);

	@media (--medium) {
		padding: calc(var(--vertical-rhythm--lrg) * 0.5);
	}
}

.has-large-padding {
	padding: var(--vertical-rhythm);

	@media (--medium) {
		padding: calc(var(--vertical-rhythm--lrg) * 0.75);
	}
}

.has-huge-padding {
	padding: var(--vertical-rhythm--lrg);
}
