/*! Editor Padding Sizes */
.has-small-padding {
	padding: var(--editor-padding);

	@media (--medium) {
		padding: calc(var(--editor-padding) * 0.35);
	}
}

.has-medium-padding {
	padding: var(--editor-padding);

	@media (--medium) {
		padding: calc(var(--editor-padding) * 0.5);
	}
}

.has-large-padding {
	padding: var(--editor-padding);

	@media (--medium) {
		padding: calc(var(--editor-padding) * 0.75);
	}
}

.has-huge-padding {
	padding: var(--editor-padding);
}
