/*! WooCommerce products */
.wc-block-grid__products {
	padding-left: 0;
}

.wc-block-grid__products .wc-block-grid__product-image img {
	width: auto;
}

.wc-block-grid__products .wc-block-grid__product-title,
.wc-block-grid__products .woocommerce-loop-product__title {
	color: var(--go-heading--color--text);
	font-family: var(--go-heading--font-family);
	font-size: var(--go--type-scale-2);
	font-weight: var(--go-heading--font-weight);
	letter-spacing: var(--go-heading--letter-spacing, normal);
	line-height: var(--go-heading--line-height);
	margin-bottom: 2rem;
	text-decoration: none !important;

	@include media(large) {
		font-size: var(--go--type-scale-3);
	}

}

div[data-type="woocommerce/all-reviews"] {

	.wc-block-review-list-item__rating__stars span::before,
	.wc-block-review-list-item__product a {
		color: var(--go--hyperlink--color--text, var(--go--color--primary));
	}
}

div[data-type="woocommerce/handpicked-products"],
div[data-type="woocommerce/product-best-sellers"],
div[data-type="woocommerce/product-new"],
div[data-type="woocommerce/product-on-sale"],
div[data-type="woocommerce/products-by-attribute"],
div[data-type="woocommerce/product-category"] {

	.wc-block-grid__product-link,
	.wc-block-grid__product-rating .star-rating span::before {
		color: var(--go--hyperlink--color--text, var(--go--color--primary));
	}
}

div[data-type="woocommerce/product-categories"] {

	.wc-block-product-categories-list-item a {
		color: var(--go--hyperlink--color--text, var(--go--color--primary));
	}
}
