/.babelrc export-ignore
/.browserslistrc export-ignore
/.codeclimate.yml export-ignore
/.dev/ export-ignore
/.distignore export-ignore
/.distinclude export-ignore
/.editorconfig export-ignore
/.eslintignore export-ignore
/.eslintrc.js export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.npmrc export-ignore
/.nvmrc export-ignore
/.stylelintrc export-ignore
/.wp-env.json export-ignore
/Gruntfile.js export-ignore
/changelog.txt export-ignore
/composer.lock export-ignore
/cypress.json export-ignore
/docs/ export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/postcss.config.js export-ignore
/webpack.config.js export-ignore
/yarn.lock export-ignore
