node_modules
bower_components
release
vendor
phpunit.xml
.idea
.vscode

# Project Files
dist
!assets/shared/js/frontend/vendor/

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
