<?xml version="1.0"?>
<ruleset name="Go">
	<description>Rules for Go</description>

	<arg name="extensions" value="php" />
	<arg name="basepath" value="./" />
	<file>./</file>

	<exclude-pattern>build/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>.dev/*</exclude-pattern>

	<arg name="colors" />
	<arg value="sp" />

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>
		<!--
		ShortPrefixPassed is excluded due to the use of prefix `Go` This prefix,
		while short in length, is approved by the themes team at WordPress.org.
		For this reason the rule should be excluded as we are not concerned with
		code collisions.
		-->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed" />
	</rule>

	<!-- Let's also check that everything is properly documented. -->
	<rule ref="WordPress-Docs"/>

	<!-- Add in some extra rules from other standards. -->
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	<rule ref="Generic.Commenting.Todo"/>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="go"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="go"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.2"/>

</ruleset>
