<phpunit
	bootstrap=".dev/tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Go Test Suite">
			<directory prefix="test-" suffix=".php">./.dev/tests/php/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./</directory>
			<exclude>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./build</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<const name="PHPUNIT_THEME_TEST" value="true"/>
	</php>
</phpunit>
