<phpunit
	bootstrap=".dev/tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Go Test Suite">
			<directory prefix="test-" suffix=".php">./.dev/tests/php/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./</directory>
			<exclude>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./build</directory>
				<directory suffix=".php">./partials</directory>
				<file>./404.php</file>
				<file>./archive.php</file>
				<file>./comments.php</file>
				<file>./footer.php</file>
				<file>./header.php</file>
				<file>./index.php</file>
				<file>./page.php</file>
				<file>./search.php</file>
				<file>./searchform.php</file>
				<file>./single.php</file>
				<file>./woocommerce.php</file>
				<file>./includes/classes/class-tgm-plugin-activation.php</file>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<const name="PHPUNIT_THEME_TEST" value="true"/>
	</php>
</phpunit>
