/*! Blockquote */
.wp-block-quote {
	margin-bottom: calc(var(--go--spacing--vertical--lg) * 0.5);
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(var(--go--spacing--vertical--lg) * 0.5);

	p {
		color: var(--go-quote--color--text, var(--go-heading--color--text));
		font-display: swap;
		font-family: var(--go-heading--font-family);
		font-size: var(--go-quote--font-size, var(--go--type-scale-4));
		font-style: var(--go-quote--font-style, normal);
		font-weight: var(--go-quote--font-weight, var(--go-heading--font-weight));
		line-height: var(--go-quote--line-height, var(--go-heading--line-height));
		margin: 0 0 2rem;
		padding: 0.5rem 0;
		position: relative;
	}

	cite,
	.wp-block-quote__citation {
		color: var(--go-caption--color--text);
		display: block;
		font-size: var(--go-caption--font-size);
		font-style: var(--go-caption--font-style, normal);
	}

	&:not(.is-style-large) {
		border-left: var(--go-quote--border-width, 0) var(--go-quote--border-style, solid) var(--go-quote--border-color, var(--go--color--primary));
		padding-left: 0;
		padding-right: 0;

		p {
			color: var(--go-quote--color--text, var(--go-heading--color--text));
			padding-left: 1.5rem;

			@include media(medium) {
				padding-left: 2.75rem;
			}
		}

		cite,
		.wp-block-quote__citation {
			margin-left: 1.5rem;
			margin-top: -2rem;

			@include media(medium) {
				margin-left: 2.75rem;
			}
		}
	}

	&.is-style-large {
		color: var(--go-quote-large--color--text, var(--go-heading--color--text));
		margin-left: auto;
		margin-right: auto;
		padding: 0;

		p {
			font-size: var(--go-quote-large--font-size, var(--go--type-scale-5));
			font-style: var(--go-quote-large--font-style, normal);
			font-weight: var(--go-quote--font-weight, var(--go-heading--font-weight));
			line-height: var(--go-quote-large--line-height, var(--go-heading--line-height));
			margin: 0;
			padding: 0;

			&::after,
			&::before {
				content: "";
				display: none;
			}
		}

		cite,
		.wp-block-quote__citation {
			font-size: var(--go-caption--font-size);
			text-align: inherit;

			em {
				font-style: normal;
			}
		}
	}
}

.wp-block-column .wp-block-quote {
	margin-bottom: 0;
	margin-top: 0;
}
