h1,
.h1 {
	letter-spacing: -0.5px;
}

h2,
.h2 {
	font-weight: 400;
	letter-spacing: -0.005em;
	line-height: 1.35;
}

h3,
.h3 {
	font-weight: 400;
	line-height: 1.375;
}

h4,
.h4 {
	letter-spacing: 0.0025em;
	line-height: 1.356;
}

h4,
.h4,
h5,
.h5
h6,
.h6 {
	font-family: var(--theme-body-font-family);
	font-weight: 400;
}

h5,
.h5 {
	line-height: 1.375;
}

h6,
.h6 {
	letter-spacing: 0.005em;
	line-height: 1.375;
	text-transform: uppercase;
}
