/**
 * Global styling for all things forms
 */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	height: 100%;
	max-height: 3.5rem; /* Added for iOS consistent heights */
}

select:not([multiple]) {
	height: 100%;
	max-height: 3.5rem; /* Added for iOS consistent heights */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 1.3;
}
