.error-404 {

	& .entry-header {
		margin: 40px auto;
		text-align: center;

		& h1 {
			font-size: calc(var(--theme-h1-font-size) * 2);
			margin-bottom: 10px;
		}

		& h2 {
			line-height: 1.4;
		}
	}

	& .page-content .site-search {
		opacity: 1;
		pointer-events: auto;
		position: relative;
		transform: none;
	}
}
