.error404 {

	& .site-content {
		align-items: center;
		display: flex;
		margin-top: var(--theme-block-spacing-huge);
	}

	&[data-header="header-3"] .site-header__inner {
		padding-bottom: 0;
	}
}

.error-404 {
	max-width: 28em;
	padding-left: var(--theme-block-padding-x);
	padding-right: var(--theme-block-padding-x);

	& .entry-header {
		padding: 0;
		margin-bottom: 3rem;
	}

	& .page-title {
		font-size: var(--theme-h2--font-size);
		margin: 0;
		text-align: left;
	}

	& .site-search {
		margin: 0;
		opacity: 1;
		padding: 0 3rem;
		pointer-events: auto;
		position: relative;
		transform: none;
	}
}
