/*! WooCommerce: Button */
body {

	&.woocommerce-page {

		/* Primary Button */
		& #respond input#submit.alt,
		& .button.alt,
		& .button {
			@mixin button;

			&:hover,
			&:focus,
			&:active {
				@mixin button-hover;
			}
		}

		& .button.disabled,
		& .button.alt.disabled,
		& .button.disabled:hover,
		& .button.alt.disabled:hover {
			@mixin button;
		}

		/* Secondary Button */
		& #respond input#submit,
		& .button {
			@mixin button;

			&:hover,
			&:focus,
			&:active {
				@mixin button-hover;
			}

			/* Safari fix, in order for the after loading icon to animate
			the base element needs initial display setup */
			&.add_to_cart_button {
				display: inline-flex;
			}

			/* When ajax loading or added icon appears */
			&.added,
			&.loading {
				align-items: center;
				padding-right: 2.618em !important;

				/* IE adds underline to the after icon
				so we remove it here during animation */
				text-decoration: none !important;

				&::after {
					font-size: 16px;
					line-height: 1;
					margin-left: 1rem;
					position: absolute;
					right: 0.5rem;
					top: auto;
					vertical-align: bottom;
				}
			}
		}
	}
}

/* Buttons found on full product pages */
.woocommerce div.product form.cart .button {
	float: none;
}
