/*! WooCommerce: Cart */
body {

	&.woocommerce-cart {

		.content-area .woocommerce {
			max-width: 100% !important;
			width: 100% !important;

			.shop_table {

				thead {
					border-bottom: 1px solid;

					th:not(:first-child) {
						text-align: center;
					}
				}

				tbody tr:last-child {
					border-top: 1px solid !important;
				}
			}
		}

		.coupon {
			display: flex;

			#coupon_code {
				padding: var(--go-input--padding--y) var(--go-input--padding--x);
				width: auto !important;
			}
		}

		td.product-remove a {
			color: var(--go--color--primary) !important;
			margin: 0 auto;

			&:hover {
				background: var(--go--color--primary);
			}
		}

		.product-thumbnail {
			padding-left: 0 !important;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				&.remove {
					border-radius: unset;
					color: inherit !important;
					display: inline-block;
					font-size: inherit;
					font-weight: inherit;
					height: auto;
					line-height: 1;
					text-align: unset;
					text-decoration: underline;
					width: auto;

					&:hover {
						background: unset;
					}
				}
			}

			a:first-child {
				display: inline-block;
			}

			img {
				margin-right: 10px;
				width: 150px;
			}

			table.cart th,
			table.cart td {
				text-align: center;
			}

			.product-thumbnail img {
				width: 150px;
			}

			.actions {
				display: inline-block;
				margin-left: 5px;
			}
		}

		.cart-empty-icon {
			margin: 0 auto;
			max-width: 75px;
			text-align: center;
			width: 100%;
		}

		.return-to-shop {
			margin-top: 1em;
			text-align: center;
		}

		.woocommerce-cart-form__cart-item {

			td:not(:first-child) {
				text-align: center;
			}
		}

		td.actions {
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-top: 2rem;
		}

		.cart-collaterals .cart_totals {
			float: none;
			width: 50%;

			th {
				padding-left: 0;
			}
		}
	}

	&.woocommerce,
	&.woocommerce-page {

		.input-text {
			width: 180px;
		}
	}
}

.woocommerce table.shop_table {
	border: none;
	border-collapse: collapse;

	td {
		border-top: 0 !important;
	}

	td,
	th {
		border: none !important;
	}

	.quantity .qty {
		margin-bottom: unset;
	}
}

/* Mobile */
@include media(medium-only) {

	body.woocommerce-cart {

		.coupon {
			display: inline-block;
			width: 100%;

			#coupon_code {
				float: none;
				width: 100% !important;
			}

			button[type="submit"] {
				margin: 0.5rem 0;
				width: 100% !important;
			}
		}

		.cart_totals {
			width: 100% !important;

			.checkout-button {
				width: 100%;
			}
		}

		table.shop_table_responsive tr {
			display: block;
			margin: 1rem 0;
		}
	}

	.woocommerce-page table.shop_table_responsive .product-thumbnail {

		&::before {
			display: none;
		}

		a:first-child {
			display: block;
		}

		.actions {
			align-content: space-between;
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			padding-left: 9px;
			width: 100%;

			br {
				display: none;
			}

			a {
				font-weight: 600;
				text-decoration: underline;

				&.remove {
					font-weight: 400;
					margin-left: auto;
				}
			}
		}
	}

	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail {
		display: block;

		img {
			display: none;
		}
	}
}
