/*! WooCommerce: Cart */
body {

	&.woocommerce-cart {

		& .coupon {
			display: flex;

			& #coupon_code {
				padding: var(--theme-input--padding-y) var(--theme-input--padding-x);
				width: auto !important;
			}
		}

		& td.product-remove a {
			color: hsl(var(--theme-color-primary)) !important;
			margin: 0 auto;

			&:hover {
				background: hsl(var(--theme-color-primary));
			}
		}

		& table.cart th,
		& table.cart td {
			text-align: center;
		}

		& .product-thumbnail img {
			width: 150px;
		}

		& .cart-empty-icon {
			margin: 0 auto;
			max-width: 75px;
			text-align: center;
			width: 100%;
		}

		& .return-to-shop {
			margin-top: 1em;
			text-align: center;
		}

	}

	&.woocommerce,
	&.woocommerce-page {

		& .input-text {
			width: 180px;
		}
	}
}

.woocommerce table.shop_table {
	border-radius: 0 !important;
}

.woocommerce table.shop_table td {
	border-top: 0 !important;
}
