/**
 * WooCommerce Global - layout
 *
 * Global overrides to general layout
*/

.content-area--woocommerce {

	& .page-title {
		text-align: center;
	}
}

.woocommerce ul.products {
	margin-bottom: 2rem;

	@media (--medium) {
		margin-bottom: 2rem;
	}
}
