/**
 * WooCommerce Global - layout
 *
 * Global overrides to general layout
*/

.woocommerce-page .content-area {

	& .page-title {
		margin: 0 !important;
		padding: var(--theme-block-spacing-larger) 0 !important;
		text-align: center;
	}
}

.woocommerce ul.products {
	margin-bottom: 2rem;

	@media (--medium) {
		margin-bottom: 2rem;
	}
}
