/**
 * WooCommerce Global - layout
 *
 * Global overrides to general layout
*/

.content-area--woocommerce {

	& .page-title {
		text-align: center;
	}
}

.woocommerce ul.products {
	margin-bottom: 2rem;

	@media (--medium) {
		margin-bottom: 2rem;
	}
}

.woocommerce .woocommerce-MyAccount-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;

	& li.woocommerce-MyAccount-navigation-link {
		margin-left: 0;
	}
}
