/*! WooCommerce: Shop */
.content-area--woocommerce {
	margin-bottom: var(--vertical-rhythm--lrg);

	& .page-title {
		display: none !important;
	}

	& .woocommerce-result-count {
		float: left;
		margin-bottom: 0;
		padding: 0;
		position: relative;
	}

	& .woocommerce-ordering {
		@media (--medium) {
			float: right;
			margin-bottom: 0;
			margin-left: 1em;
			padding: 0;
		}
	}


	& .go-sorting {
		margin-bottom: 5rem;
		margin-top: 4rem;

		&::before,
		&::after {
			content: "";
			display: table;
		}

		&::after {
			clear: both;
		}

		& select {
			line-height: 1;
			margin-bottom: 0;
			padding: 1rem 0.75rem !important;
			width: auto;
		}
	}
}

.woocommerce ul.products,
.wc-block-grid__products {

	& li {
		margin-bottom: 5rem !important;
		text-align: center;

		@media (--small ) {
			margin-bottom: 5rem !important;
		}

		& a {

			& img {
				height: auto;
				margin: 0;
				width: 100%;

				@media (--large) {
					margin: 0 0 1rem;
				}
			}

			/* Add to cart button appears on Shop page after ajax load */
			&.added_to_cart {
				border: none;
				margin-left: 1rem;
			}
		}

		& .wc-block-grid__product-title,
		& .woocommerce-loop-product__title {
			color: hsl(var(--theme-heading--color));
			font-family: var(--theme-heading--font);
			font-size: var(--theme-h5--font-size);
			font-weight: var(--theme-heading--weight);
			letter-spacing: var(--theme-heading--tracking);
			line-height: var(--theme-heading--leading);
			margin-bottom: 0.5rem;

			@media (--large) {
				font-size: var(--theme-h4--font-size);
			}
		}

		& .price {
			color: hsl(var(--theme-color-text-secondary));
			font-size: var(--theme-text-sm);

			@media (--large) {
				margin-bottom: 2rem;
			}
		}
	}

}
