h1 {
	letter-spacing: -0.5px;
}

h2 {
	font-weight: 400;
	letter-spacing: -0.005em;
	line-height: 1.42;
}

h3 {
	line-height: 2;
}

h4 {
	font-family: var(--theme-body-font-family);
	letter-spacing: 0.0025em;
	line-height: 1.625;
}
