:root {

	/*--------------------------------------------------------------
	>>> TABLE OF CONTENTS:
	----------------------------------------------------------------
	# Base
	# Colors
	# Typography
	# Header
	# Header Navigation Toggle
	# Header Search Toggle
	# Entry Header
	# Footer


	/*--------------------------------------------------------------
	## Base
	--------------------------------------------------------------*/

	/* Widths */
	--theme-max-w-base: 680px;
	--theme-max-w-wide: 1280px;

	/* Vertical Rhythm */
	--theme-block-spacing: 1.15rem;
	--theme-block-spacing-larger: 1.75rem;
	--theme-block-spacing-huge: 4rem;

	@media (--large) {
		--theme-block-spacing: 1.75rem;
		--theme-block-spacing-larger: 2.3rem;
		--theme-block-spacing-huge: 8.5rem;
	}

	/* Site Padding */
	--theme-block-padding-x: 1.25rem;

	@media (--medium) {
		--theme-block-padding-x: 3.5rem;
	}

	/* Accessibility */
	--theme-outline-color: var(--theme-color-primary);
	--theme-outline-style: dotted;
	--theme-outline-width: 2px;

	--theme-selection--color: var(--theme-color-primary);


	/*--------------------------------------------------------------
	## Colors
	--------------------------------------------------------------*/

	/* Body */
	--theme-color-body-bg: 0, 0%, 100%;

	/* Text Colors */
	--theme-color-text: 0, 0%, 41%;
	--theme-color-text-secondary: 0, 0%, 41%;
	--theme-color-heading: 0, 0%, 11%;

	/* Global Color Scheme Colors */
	--theme-color-quaternary: var(--color-white);


	/*--------------------------------------------------------------
	## Typography
	--------------------------------------------------------------*/

	/* Body */
	--theme-body--font: "Arimo", sans-serif;
	--theme-body--font-size: 1rem;
	--theme-body--leading: 1.9;
	--theme-body--weight: 400;

	/* Headings */
	--theme-heading--font: "Montserrat", sans-serif;
	--theme-heading--leading: 1.35;

	--theme-h1--font-size: 2.5rem;
	--theme-h2--font-size: 2rem;
	--theme-h3--font-size: 1.75rem;
	--theme-h4--font-size: 1.65rem;
	--theme-h5--font-size: 1.35rem;
	--theme-h6--font-size: 1.15rem;

	@media (--large) {
		--theme-h1--font-size: 3.25rem;
		--theme-h2--font-size: 2.5rem;
		--theme-h3--font-size: 2rem;
	}

	--theme-h1--color: var(--theme-color-heading);
	--theme-h2--color: var(--theme-color-heading);
	--theme-h3--color: var(--theme-color-heading);
	--theme-h4--color: var(--theme-color-heading);
	--theme-h5--color: var(--theme-color-heading);
	--theme-h6--color: var(--theme-color-heading);

	/* Text Utilities */
	--theme-text-xs: 78%;
	--theme-text-sm: 82.5%;
	--theme-text-sm--letter-spacing: 0.015em;
	--theme-text-md: 105%;

	@media (--small) {
		--theme-text-sm: 85%;
		--theme-text-md: 110%;
	}

	@media (--large) {
		--theme-text-sm: 90%;
	}

	/* Links */
	--theme-link-color: var(--theme-color-text-secondary);
	--theme-link-color-interactive: var(--theme-color-text-secondary);
	--theme-link-underline-color: var(--theme-color-text-secondary);
	--theme-link-underline-color-interactive: var(--theme-color-text-secondary);

	/* Blockquote */
	--theme-quote--font-size: 1.9rem;
	--theme-quote--leading: 1.36;
	--theme-quote--weight: 700;

	--theme-quote-large--font-size: 2.25rem;
	--theme-quote-large--leading: 1.3;
	--theme-quote-large-font-style: italic;
	--theme-quote-large-padding: 0.9rem 0 0 2rem;
	--theme-quote-large-cite-margin-left: 1.25rem;

	--theme-quote-large-border-width: 0.45rem;
	--theme-quote-large-border-style: solid;
	--theme-quote-large-border: var(--theme-quote-large-border-width) var(--theme-quote-large-border-style);

	@media (--large) {
		--theme-quote--font-size: 2.15rem;
		--theme-quote-large--font-size: 2.75em;
	}

	/* Bulleted Lists */
	--theme-list-bullet-color: var(--theme-color-text-secondary);
	--theme-list-font-size: 1.0625rem;
	--theme-list-line-height: 1.89;
	--theme-list-color: var(-theme-color-secondary);
	--theme-list-font-weight: 700;


	/*--------------------------------------------------------------
	## Header
	--------------------------------------------------------------*/

	--theme-header--bg: "";
	--theme-header--padding-y: 1rem;

	@media (--medium) {
		--theme-header--padding-y: 1.85rem;
	}

	/* Header > Site Branding */
	--theme-site-title--color: var(--theme-color-heading);
	--theme-site-title--font-size: 1.5rem;
	--theme-site-title--font-family: var(--theme-font-family-heading);
	--theme-site-title--font-weight: 700;

	--theme-site-description--color: var(--theme-color-heading);
	--theme-site-description--leading: 1.4;
	--theme-site-description--opacity: 0.65;

	/* Header > Navigation */
	--theme-site-nav--color: var(--theme-color-heading);
	--theme-site-nav--color-interactive: var(--theme-color-heading);
	--theme-site-nav--font-family: var(--theme-heading--font);
	--theme-site-nav--font-size: 0.75rem;
	--theme-site-nav--font-weight: 700;
	--theme-site-nav--opacity-interactive: 0.65;
	--theme-site-nav--text-transform: uppercase;

	/* Header > Navigation > Submenu */
	--theme-submenu--bg: var(--theme-color-heading);
	--theme-submenu--color: var(--theme-color-text-secondary);

	@media (--large) {
		--theme-submenu--color: 0, 0%, 100%;
	}

	/* Header Variation Specific */
	--theme-header-3--padding-y: 3.5rem;
	--theme-header-3-nav--margin-top: 1.5rem;

	@media (--large) {
		--theme-header-3--padding-y: 8rem;
	}

	/*--------------------------------------------------------------
	## Header Navigation Toggle
	--------------------------------------------------------------*/

	/* Header > Navigation > Toggle */
	--theme-site-nav-toggle--color: var(--theme-color-heading);
	--theme-site-nav-toggle--color-interactive: var(--theme-color-heading); /* Not currently in use, could be hover color for primary color */
	--theme-site-nav-toggle--size: 2rem;

	/* Offscreen Navigation */
	--theme-has-offscreen-nav-overlay-color: var(--theme-color-primary);
	--theme-offscreen-nav-padding: 2rem;


	/*--------------------------------------------------------------
	## Header Search Toggle
	--------------------------------------------------------------*/

	--theme-search-toggle--color: var(--theme-color-heading);
	--theme-search-toggle--color-interactive: var(--theme-color-heading);
	--theme-search-toggle--size: 22px;

	--theme-search-submit--bg: var(--theme-color-heading);
	--theme-search-submit--bg-interactive: var(--theme-color-heading);
	--theme-search-submit--color: var(--color-white);


	/*--------------------------------------------------------------
	## Entry Header
	--------------------------------------------------------------*/

	--theme-entryheader--padding-top: 4rem;
	--theme-entryheader--padding-bottom: 7rem;

	@media (--large) {
		--theme-entryheader--padding-bottom: 8.5rem;
	}


	/*--------------------------------------------------------------
	## Footer
	--------------------------------------------------------------*/

	--theme-footer--bg: "";
	--theme-footer--color: var(--theme-color-text-secondary);
	--theme-footer-heading--color: var(--theme-color-heading);

	/* Footer > Navigation */
	--theme-footer-nav--color-interactive: var(--theme-color-heading);
	--theme-footer-nav--leading: 2.25;
	--theme-footer-nav--padding-x: 1rem;
	--theme-footer-nav--padding-y: 0.25rem;

	@media (--medium) {
		--theme-footer-nav--padding-y: 1.15rem;
		--theme-footer-nav--padding-x: 1.75rem;
	}

	/* Footer > Social Icons */
	--theme-social--color: var(--theme-color-heading);
	--theme-social--size: 1.5rem;
	--theme-social--spacing: 0.5rem;

	@media (--medium) {
		--theme-social--size: 1.75rem;
		--theme-social--spacing: 1rem;
	}

	/* Footer Variations Specific */
	--theme-footer-2-site-info--border-color: 0, 0%, 90%;


	/***************************************************************
	* BUTTONS
	* shared/css/config/mixins.css
	***************************************************************/

	--theme-button--bg: var(--theme-color-heading);
	--theme-button--color: 0, 0%, 100%;
	--theme-button--font-weight: 600;
	--theme-button--text-transform: uppercase;
	--theme-button--letter-spacing: 3px;
	--theme-button--font-family: var(--theme-heading--font);
	--theme-button--font-size: 0.65rem;


	/* SHARED: Vertical button padding */
	--theme-button-block-vertical-spacing-unit: 1.5rem;

	/* SHARED: Horizontal button padding */
	--theme-button-block-horizontal-spacing-unit: 1.5rem;

	/* SHARED: Line height */
	--theme-button-block-line-height: 1;

	/* PRIMARY BUTTON: Font color */
	--theme-button-block-color: var(--theme-color-primary); /* #fff */
	--theme-button-block-color-interactive: var(--theme-color-primary); /* #fff */

	/* PRIMARY BUTTON: Font size */
	--theme-button-block-font-size: 0.85rem;

	/* PRIMARY BUTTON: Font weight */
	--theme-button-block-font-weight: 700;

	/* PRIMARY BUTTON: Background color */
	--theme-button-block-background-color: var(--theme-color-heading);
	--theme-button-block-background-color-interactive: var(--theme-color-heading);

	/* PRIMARY BUTTON: Border */
	--theme-button-block-border: none;
	--theme-button-block-border-interactive: none;

	/* PRIMARY BUTTON: Border radius */
	--theme-button-block-border-radius: 0;

	/* PRIMARY BUTTON: Box shadow (use none to remove) */
	--theme-button-block-shadow: none;
	--theme-button-block-shadow-interactive: none;

	/* PRIMARY BUTTON: Padding */
	--theme-button-block-padding: var(--theme-button-block-vertical-spacing-unit) var(--theme-button-block-horizontal-spacing-unit) calc(var(--theme-button-block-vertical-spacing-unit) - 1px);

	/* PRIMARY BUTTON: Text decoration */
	--theme-button-block-text-decoration: none;
	--theme-button-block-text-decoration-interactive: none;

	/* PRIMARY BUTTON: Text transform */
	--theme-button-block-text-transform: uppercase;

	/* SECONDARY BUTTON: Background color */
	--theme-button-block-outline-background-color: var(--theme-color-primary); /* #fff */
	--theme-button-block-outline-background-color-interactive: var(--theme-color-primary); /* #fff */

	/* SECONDARY BUTTON: Border */
	--theme-button-block-outline-border: 2px solid hsl(var(--theme-color-secondary));
	--theme-button-block-outline-border-interactive: 2px solid hsl(var(--theme-color-secondary));

	/* SECONDARY BUTTON: Border radius */
	--theme-button-block-outline-border-radius: 0;

	/* SECONDARY BUTTON: Box shadow (use none to remove) */
	--theme-button-block-outline-shadow: none;
	--theme-button-block-outline-shadow-interactive: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.12);

	/* SECONDARY BUTTON: Font color */
	--theme-button-block-outline-color: var(--theme-color-text-secondary);
	--theme-button-block-outline-color-interactive: var(--theme-color-text-secondary);

	/* SECONDARY BUTTON: Font size */
	--theme-button-block-outline-font-size: 1.0625rem;

	/* SECONDARY BUTTON: Font weight */
	--theme-button-block-outline-font-weight: 700;

	/* SECONDARY BUTTON: Padding */
	--theme-button-block-outline-padding: calc(var(--theme-button-block-vertical-spacing-unit) - 2px) calc(var(--theme-button-block-horizontal-spacing-unit) - 2px);

	/* SECONDARY BUTTON: Text decoration */
	--theme-button-block-outline-text-decoration: none;
	--theme-button-block-outline-text-decoration-interactive: underline;

	/* SECONDARY BUTTON: Text transform */
	--theme-button-block-outline-text-transform: uppercase;

	/* ALTERNATE BUTTON: Border color */
	--theme-button-block-alternate-border: 3px solid hsl(var(--theme-color-secondary));
	--theme-button-block-alternate-border-interactive: 3px solid hsl(var(--theme-color-secondary));

	/* ALTERNATE BUTTON: Font color */
	--theme-button-block-alternate-color: var(--theme-color-text-secondary);
	--theme-button-block-alternate-color-interactive: var(--theme-color-text-secondary);

	/* ALTERNATE BUTTON: Font size */
	--theme-button-block-alternate-font-size: 0.875rem;

	/* ALTERNATE BUTTON: Font weight */
	--theme-button-block-alternate-font-weight: 700;

	/* ALTERNATE BUTTON: Padding */
	--theme-button-block-alternate-padding: var(--theme-button-block-vertical-spacing-unit) 0 0;

	/* ALTERNATE BUTTON: Text transform */
	--theme-button-block-alternate-text-transform: uppercase;

	/* DISABLED BUTTON: Background color */
	--theme-button-block-disabled-background-color: 0, 2%, 89%; /* #e3e2e2 */

	/* DISABLED BUTTON: Border radius */
	--theme-button-block-disabled-border-radius: 0;

	/* DISABLED BUTTON: Font color */
	--theme-button-block-disabled-color: 0, 0%, 61%; /* #9b9b9b */

	/* DISABLED BUTTON: Font weight */
	--theme-button-block-disabled-font-weight: 400;

	/* DISABLED BUTTON: Font size */
	--theme-button-block-disabled-font-size: 1.0625rem;

	/* DISABLED BUTTON: Padding */
	--theme-button-block-disabled-padding: var(--theme-button-block-vertical-spacing-unit) var(--theme-button-block-horizontal-spacing-unit);

	/* UNDERLINED BUTTON: Underline color */
	--theme-button-block-underlined-color: var(--theme-color-primary); /* #fff */
	--theme-button-block-underlined-color-interactive: var(--theme-color-primary); /* #fff */

	/***************************************************************
	* Gutenberg core blocks
	***************************************************************/
	--theme-image-caption-text-color: var(--theme-color-text-secondary);
	--theme-block-separator-color: var(--theme-color-text-secondary);

	/***************************************************************
	* CoBlocks blocks
	***************************************************************/
	--theme-coblocks-author-background-color: var(--theme-color-primary);
	--theme-coblocks-author-border-radius: 0;
	--theme-coblocks-author-heading-color: var(--theme-color-text-secondary);
	--theme-coblocks-author-name-color: var(--theme-color-text-secondary);

	--theme-coblocks-hero-content-color: var(--theme-color-text-secondary);

	--theme-coblocks-pricing-table-color: var(--theme-color-text-secondary);
	--theme-coblocks-pricing-table-background-color: var(--color-athens-gray);
	--theme-coblocks-pricing-table-title-font-family: var(--theme-heading--font);
	--theme-coblocks-pricing-table-price-font-family: var(--theme-heading--font);
	--theme-coblocks-pricing-table-features-font-family: var(--theme-heading--font);
	--theme-coblocks-pricing-table-features-color: var(--color-mid-gray);

	--theme-coblocks-gallery-carousel-overlay-color: var(--theme-color-text-secondary);
	--theme-coblocks-gallery-carousel-border-color: var(--color-charade);

	/***************************************************************
	* FORMS
	* shared/css/elements/forms.css
	* shared/css/config/mixins.css
	***************************************************************/

	/* SHARED: Input padding */
	--theme-spacing-v-input: 1rem;
	--theme-spacing-h-input: 1rem;

	/* Labels */
	--theme-label-letter-spacing: 2px;
	--theme-label-text-transform: uppercase;
	--theme-label-font-family: var(--theme-body--font);
	--theme-input-label-font-size: 0.875rem;
	--theme-input-label-font-weight: 700;
	--theme-label-color: var(--theme-color-text-secondary);

	/* Inputs */
	--theme-input-border-bottom-width: 2px;
	--theme-input-border-left-width: 2px;
	--theme-input-border-right-width: 2px;
	--theme-input-border-top-width: 2px;
	--theme-input-border-width: 2px;
	--theme-input-stroke-color: var(--theme-color-heading);
	--theme-input-border-radius: 0;
	--theme-input-font-size: 1.0625rem;
	--theme-input-font-weight: 700;
	--theme-input-stroke-color-focus: var(--theme-color-text-secondary);
	--theme-input-box-shadow-focus: 0 1px 11px rgba(40, 37, 37, 0.07);
	--theme-input-color: var(--theme-color-text-secondary);
	--theme-input-color-focus: var(--theme-color-text-secondary);
	--theme-input-placeholder-color: 0, 0%, 47%; /* #797878 */
	--theme-input-color-background: 0, 0%, 100%; /* #fff */

	/* Errors */
	--theme-color-error: 357, 81%, 38%; /* #b0131c */
	--theme-input-stroke-error: 357, 81%, 38%; /* #b0131c */

	/* Textarea */
	--theme-textarea-color: var(--theme-color-text-secondary);
	--theme-textarea-stroke-color: var(--theme-color-text-secondary);
	--theme-textarea-color-focus: var(--theme-color-text-secondary);
	--theme-textarea-stroke-color-focus: var(--theme-color-text-secondary);
	--theme-textarea-color-background: 0, 0%, 100%; /* #fff */

	/* Check and Radio SVG trick */
	--theme-checkbox-radio-fill: var(--theme-color-text-secondary); /* #202124 */


	/* Feedback colors: error, success, warning, informational. */
	--theme-feedback-informational-color: 208, 100%, 43%;


	/* Spacing units */
	--theme-spacing-unit: 0.5rem;
	--theme-spacing-unit-2: 1rem;
	--theme-spacing-unit-3: 1.5rem;
	--theme-spacing-unit-4: 2rem;
	--theme-spacing-unit-5: 2.5rem;
	--theme-spacing-unit-6: 3rem;
}
