/**
 * Modern - Design Style
 */

/* Settings */
@import url("../../../shared/css/config/media-queries.css");
@import url("settings.css");
@import url("config/fonts.css");

/* Elements - all the HTML elements coverage */
@import url("elements/headings.css");
@import url("elements/forms.css");
@import url("elements/site-search.css");

/* Gutenberg core blocks overrides */
@import url("core-blocks/button.css");

/* CoBlocks */
@import url("coblocks/carousel.css");
@import url("coblocks/hero.css");
@import url("coblocks/media-card.css");
@import url("coblocks/pricing-table.css");

/* Components */
@import url("header/site-navigation__toggle.css");

/* WooCommerce */
@import url("woocommerce/button.css");
@import url("woocommerce/shop.css");

/* Templates */
@import url("templates/post.css");

/* Custom Styling */
.site-branding__title {
	letter-spacing: 3px;
	text-transform: uppercase;
}

.primary-menu,
.footer-navigation__title,
[data-footer="footer-3"] .footer-navigation,
[data-footer="footer-1"] .footer-navigation li {
	letter-spacing: 2px;
}

.footer-navigation__title {
	margin-bottom: 0.75rem;
}
