/**
 * Modern Style
 */

/* Settings */
@import url("../../../shared/css/config/media-queries.css");
@import url("settings.css");

/* Elements - all the HTML elements coverage */
@import url("elements/headings.css");
@import url("elements/forms.css");

/* Gutenberg core blocks overrides */
@import url("blocks/button.css");

/* CoBlocks */
@import url("coblocks/carousel.css");
@import url("coblocks/hero.css");
@import url("coblocks/media-card.css");
@import url("coblocks/pricing-table.css");

/* Components */
@import url("header/has-offscreen-nav.css");
@import url("header/site-navigation__toggle.css");
@import url("header/site-navigation.css");

/* WooCommerce */
@import url("woocommerce/button.css");
@import url("woocommerce/shop.css");

/* Templates */
@import url("templates/post.css");

/* Custom Styling */
.site-branding__title {
	letter-spacing: 3px;
	text-transform: uppercase;
}

.primary-menu,
.footer-navigation__title,
[data-footer="footer-3"] .footer-navigation,
[data-footer="footer-1"] .footer-navigation li {
	letter-spacing: 2px;
}

.footer-navigation__title {
	margin-bottom: 0.75rem;
}

.site-navigation {
	@media (--large) {
		margin-top: -0.3rem;
	}
}

.primary-menu a {

	&::after {
		background-color: currentColor;
		bottom: -5px;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		transform: scaleX(1);
		transform-origin: left center;
		transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1), background-color 200ms cubic-bezier(0.7, 0, 0.3, 1);
		width: 100%;
	}

	@media (hover: hover) {

		&:hover::after {
			transform: scaleX(0);
			transform-origin: right center;
		}
	}

	&:focus::after {
		transform: scaleX(0);
		transform-origin: right center;
	}
}

p.has-background {
	@media (max-width: 795px) {
		margin-left: var(--theme-block-padding-x);
		margin-right: var(--theme-block-padding-x);
	}
}
