.wp-block[data-type="coblocks/food-item"] [data-block] {
	margin-bottom: 0;
}

.wp-block-coblocks-food-item__heading-wrapper {
	margin-bottom: 0.5rem;
}

.wp-block-coblocks-food-item__heading {
	margin-bottom: 0.4em;

	h4 {
		font-size: var(--wp-block-coblocks-food-item--heading--font-size);
		font-weight: var(--wp-block-coblocks-food-item--heading--font-weight, --go-heading--font-weight);
		letter-spacing: var(--wp-block-coblocks-food-item--heading--letter-spacing, 2px);
		text-transform: var(--wp-block-coblocks-food-item--heading--text-transform, uppercase);
	}
}
