/**
 * Trendy Shop - CoBlocks Author card overrides
 */

.wp-block-coblocks-author {
	@media (--medium) {
		padding-bottom: calc(3.3 * var(--theme-spacing-unit-2));
	}

	/* Heading */
	& .wp-block-coblocks-author__heading {
		font-family: var(--theme-heading-font-family);
	}

	/* Bio */
	& .wp-block-coblocks-author__biography {
		font-family: var(--theme-heading-font-family);
	}

	/* Button */
	& .wp-block-button {
		margin-top: calc(2.9 * var(--theme-spacing-unit-2));
	}
}
