/**
 * Trendy - CoBlocks Media Card block
 */

.wp-block-coblocks-media-card {

	/* Media Card - wrapper */
	& .wp-block-coblocks-media-card__wrapper {
		grid-template-columns: repeat(24, 1fr);
	}

	/* Media Card - <figure> element */
	& .wp-block-coblocks-media-card__media {
		@media (min-width: 660px) {
			grid-column: 1 / 17;
		}

		@media (--medium) {
			grid-column: 1 / 20;
		}

		& img {
			object-fit: fill;
		}
	}

	/* Media Card - content: heading + copy */
	& .wp-block-coblocks-media-card__content {
		@media (min-width: 660px) {
			grid-column: 16 / 25;
			margin: 0;
		}
	}

	/* Media Card - we have to brute this color in to place. */
	& .wp-block-coblocks-row__inner {
		box-shadow: 0 0 20px hsla(var(--color-black), 0.04);
	}

	/* Media Card - we override the 'Huge' setting only */
	& .wp-block-coblocks-row__inner.has-huge-padding {
		padding: calc(1.5 * var(--theme-spacing-unit-4)) calc(1.2 * var(--theme-spacing-unit-4)) calc(2 * var(--theme-spacing-unit-4));
	}

	&.is-stacked-on-mobile .wp-block-coblocks-media-card__content {
		@media (max-width: 660px) {
			margin-left: var(--theme-spacing-unit-2);
			margin-right: var(--theme-spacing-unit-2);
			margin-top: -10%;
		}
	}

	/* Media Card - heading */
	& h3 {
		font-size: 1.8rem;
		letter-spacing: 2px;
		line-height: 1.22;
		margin: 0 0 calc(1.4 * var(--theme-spacing-unit-2));

		@media (--large) {
			font-size: 3.125rem;
		}
	}

	/* Media Card - inner content */
	& .wp-block-coblocks-column__inner {

		& > h3 {
			color: hsl(var(--color-charade));
		}

		& > * {
			color: hsl(var(--color-abbey));
		}

		& > p {
			line-height: 1.875;
		}

		& .wp-block-button {
			margin-top: calc(1.5 * var(--theme-spacing-unit-2));
			max-width: none;
		}

		& .wp-block-button.is-style-outline .wp-block-button__link {
			opacity: 1;
		}
	}
}
