/**
 * Trendy - CoBlocks Pricing Table block
 */

.wp-block-coblocks-pricing-table {

	/* Pricing Tables - each item */
	& .wp-block-coblocks-pricing-table-item {
		padding-bottom: calc(2.4 * var(--theme-spacing-unit-2));
	}

	/* Pricing Tables - item title */
	& .wp-block-coblocks-pricing-table-item__title {
		text-transform: lowercase;
	}

	/* Pricing Tables - price wrapper */
	& .wp-block-coblocks-pricing-table-item__price-wrapper {
		margin-bottom: calc(3 * var(--theme-spacing-unit-2));
		margin-top: calc(-1 * var(--theme-spacing-unit));
	}

	/* Pricing Tables - currency */
	& .wp-block-coblocks-pricing-table-item__currency {
		left: -9px;
		top: 32px;
	}

	/* Pricing Tables - features <ul> list */
	& .wp-block-coblocks-pricing-table-item__features {
		font-size: 0.8125rem;
		margin-bottom: calc(2.5 * var(--theme-spacing-unit-4));

		& li {
			margin-bottom: var(--theme-spacing-unit-2);
		}
	}

	/* Pricing Tables - link-button */
	& .is-style-outline .wp-block-button__link,
	& .is-style-outline-rounded .wp-block-button__link {
		padding-bottom: 4px;
		padding-top: 4px;

		@media (--large) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
