/**
 * WooCommerce Welcoming - button overrides
 *
*/

/* Specificity to override nested styles from woo */
body {

	&.woocommerce-page .content-area {

		& .button {
			@mixin c-button-block-alternate;

			&:hover {
				@mixin c-button-block-alternate-hover;
			}

			&.add_to_cart_button {

				&:hover,
				&:active,
				&:focus {
					background-color: transparent;
				}
			}
		}

		/* Primary Button */
		& #respond input#submit.alt,
		& .button.alt {
			padding: var(--theme-button-block-outline-padding) !important;
			text-align: left;

			&::after {
				background-image: url("../../../dist/design-styles/welcoming/svg/arrow-right.svg");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				display: inline-block;
				height: 6px;
				position: absolute;
				right: var(--theme-button-block-horizontal-spacing-unit);
				top: 50%;
				transform: translateY(-50%);
				width: 34px;
			}

			&:active,
			&:focus,
			&:hover {

				&::after {
					filter: invert(100%);
				}
			}

		}
	}
}
