/**
 * Creative Services - CoBlocks Hero block
 */

.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay),
.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay) {

	&:not(.has-background-overlay) .wp-block-coblocks-hero__box::before {
		opacity: 0.4;
	}

	&:not(.has-text-color) {
		color: hsla(var(--color-shark), 1);

		& h1,
		& .h1,
		& h2,
		& .h2,
		& h3,
		& .h3,
		& h4,
		& .h4,
		& h5,
		& .h5,
		& h6,
		& .h6 {
			color: inherit;
		}
	}

	& h2 {
		font-family: var(--theme-heading-font-family);
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: var(--theme-spacing-unit-2);

		@media (--large) {
			font-size: 2.8125rem;
		}
	}

	& .wp-block-coblocks-buttons {
		padding-top: var(--theme-spacing-unit-2);
	}
}
