/* Arimo font */
@font-face {
	font-family: Arimo;
	font-style: italic;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-bolditalic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-bolditalic-webfont.woff") format("woff");
}

@font-face {
	font-family: Arimo;
	font-style: normal;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-bold-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: Arimo;
	font-style: italic;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-italic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-italic-webfont.woff") format("woff");
}

@font-face {
	font-family: Arimo;
	font-style: normal;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-regular-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/arimo/arimo-regular-webfont.woff") format("woff");
}

/* "Playfair Display" font */
@font-face {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-bolditalic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-bolditalic-webfont.woff") format("woff");
}

@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-bold-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-italic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-italic-webfont.woff") format("woff");
}

@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-regular-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/trendy-shop/fonts/playfairdisplay/playfairdisplay-regular-webfont.woff") format("woff");
}
