:root {

	/*--------------------------------------------------------------
	## Base
	--------------------------------------------------------------*/
	--horizontalSpacing: 60;
	--paragraphSpacing: 9;
	--headerSpacing: 25;
	--theme-max-w-base: 42rem;
	--theme-max-w-wide: 84rem;

	/* Accessibility */
	--theme-outline-color: var(--go--color--primary);
	--theme-selection--bg: var(--go--color--primary);

	/*--------------------------------------------------------------
	## Text Colors
	--------------------------------------------------------------*/
	--theme-color-heading: hsl(229, 18%, 24%);
	--theme-color-text: hsl(230, 9%, 39%);
	--theme-color-text-secondary: hsl(0, 0%, 52%);


	/*--------------------------------------------------------------
	## Typography
	--------------------------------------------------------------*/
	--theme-body--font: "Quicksand", sans-serif;
	--theme-body--font-size: 1.1rem;
	--theme-body--leading: 1.8;

	/* Headings */
	--theme-heading--font: "Quicksand", sans-serif;
	--theme-heading--leading: 1.35;
	--theme-heading--spacing: 1.75rem;
	--theme-heading--weight: 600;
	--theme-heading--button-spacing: 2rem;

	--theme-h1--font-size: 2.25em;
	--theme-h2--font-size: 2em;
	--theme-h3--font-size: 1.75em;
	--theme-h4--font-size: 2em;
	--theme-h5--font-size: 1.5em;
	--theme-h6--font-size: 1.25em;

	@media (--medium) {
		--theme-h1--font-size: 3em;
		--theme-h2--font-size: 2.5em;
		--theme-h3--font-size: 2em;
	}

	/* Text Utilities */
	--theme-text-sm: 80%;
	--theme-text-xs: 80%;

	/* Captions */
	--theme-caption--alignment: center;
	--theme-caption--font-size: 0.85rem;

	/* Pullquote */
	--theme-pullquote--font: "Poppins", sans-serif;
	--theme-pullquote--font-size: var(--theme-h1--font-size);
	--theme-pullquote--leading: 1.25;
	--theme-pullquote--padding-x: 1rem;
	--theme-pullquote--style: normal;
	--theme-pullquote--weight: 700;

	/* Blockquote */
	--theme-quote--font-size: var(--theme-h3--font-size);
	--theme-quote--leading: var(--theme-heading--leading);
	--theme-quote--style: normal;
	--theme-quote--weight: var(--theme-heading--weight);


	/*--------------------------------------------------------------
	## Forms
	--------------------------------------------------------------*/
	--theme-label--font-size: var(--theme-body--font-size);
	--theme-label--tracking: var(--theme-site-nav--tracking);
	--theme-label--weight: 600;
	--theme-label--spacing: 0.35rem;

	/* Input */
	--theme-input--bg-interactive: var(--color-white);
	--theme-input--border-width: 2px;
	--theme-input--border: var(--theme-input--border-width) var(--theme-input--border-style, solid) var(--theme-input--border-color, var(--theme-color-heading));
	--theme-input--color: var(--theme-color-heading);
	--theme-input--font-size: 1.1rem;
	--theme-input--padding-x: 1.35rem;
	--theme-input--padding-y: 1rem;
	--theme-input--radius: 5px;
	--theme-input--spacing: 1.75rem;
	--theme-input--weight: 600;
	--theme-input--border-color-interactive: var(--go--color--primary);
	--theme-input--color-interactive: var(--go--color--primary);


	/*--------------------------------------------------------------
	## Buttons
	--------------------------------------------------------------*/
	--theme-button--bg: var(--go--color--primary);
	--theme-button--bg-interactive: var(--go--color--secondary);
	--theme-button--border-width: 1px;
	--theme-button--font-size: var(--theme-body--font-size);
	--theme-button--font: var(--theme-site-nav--font);
	--theme-button--padding-x: 1.85rem;
	--theme-button--padding-y: 1.35rem;
	--theme-button--radius: 5px;
	--theme-button--weight: 600;


	/*--------------------------------------------------------------
	## Header
	--------------------------------------------------------------*/
	--go-header--color--background: "";
	--header-padding: 4vw;

	@media (--huge) {
		--header-padding: 3.45rem;
	}

	/* Header > Site Branding */
	--go-site-title--color--text: var(--color-white);
	--theme-site-title--font-size: 1.4rem;
	--theme-site-title--font: "Poppins", sans-serif;
	--theme-site-title--text-transform: none;
	--theme-site-title--tracking: 0;

	@media (--medium) {
		--theme-site-title--font-size: 1.8rem;
	}

	--go-site-description--color--text: var(--color-white);
	--theme-site-description--leading: 1.4;

	/* Header > Navigation */
	--go-navigation--color--text: var(--color-white);
	--theme-site-nav--font: var(--theme-body--font);
	--theme-site-nav--font-size: 1.1rem;
	--theme-site-nav--font-size-mobile: 1.4rem;
	--theme-site-nav--weight: 600;
	--theme-site-nav--text-transform: none;
	--theme-site-nav--tracking: 0;


	/*--------------------------------------------------------------
	## Search
	--------------------------------------------------------------*/
	--go-search-button--color--text: var(--color-white);
	--go-search-button--color--text-interactive: var(--color-white);
	--go-search-button--color--background: var(--go--color--primary);
	--go-search-button--color--background-interactive: var(--go--color--primary);


	/*--------------------------------------------------------------
	## Footer
	--------------------------------------------------------------*/
	--go-footer--color--text: var(--color-white);
	--go-footer-heading--color--text: var(--color-white);
	--theme-footer-2--padding-y: 4rem;

	/* Footer > Navigation */
	--go-footer-navigation--color--text: var(--color-white);
	--theme-footer-nav--leading: 2.5;
	--theme-footer-nav--padding-x: 1rem;
	--theme-footer-nav--padding-y: 0.25rem;

	@media (--medium) {
		--theme-footer-nav--padding-x: 1.75rem;
		--theme-footer-nav--padding-y: 0.15rem;
	}

	/* Footer > Social Icons */
	--go-social--color--fill: var(--color-white);
	--theme-social--size: 1.5rem;
	--theme-social--spacing: 0.5rem;

	@media (--medium) {
		--theme-social--spacing: 1rem;
	}

	/* Footer Variations Specific */
	--theme-footer-3-site-info--border-color: var(--go-header--color--background);
	--theme-footer-3-site-info--border-width: 10px;


	/*--------------------------------------------------------------
	## Post
	--------------------------------------------------------------*/
	--theme-entry-header--width: 70rem;
	--theme-meta--color: var(--go--color--primary);
	--theme-comment-p--font-size: 0.95rem;


	/*--------------------------------------------------------------
	## CoBlocks
	--------------------------------------------------------------*/
	--coblocks-accordion--bg: var(--go--color--tertiary);
	--coblocks-accordion--border-color: var(--go--color--primary);
	--coblocks-accordion--border: var(--coblocks-accordion--border-width, 2px) solid var(--coblocks-accordion--border-color);

	--coblocks-features--icon-spacing: 2rem;
	--coblocks-features--heading-spacing: 1.5rem;

	--coblocks-food-drinks-item--font-size: 0.95em;
	--coblocks-food-drinks-item--spacing: 3.5em;
	--coblocks-food-drinks-item--text-transform: uppercase;
	--coblocks-food-drinks-item--tracking: 2px;
	--coblocks-food-drinks-item--weight: 700;
	--coblocks-food-drinks-title--border-bottom: none;
	--coblocks-food-drinks-title--font-size: 1.5em;
	--coblocks-food-drinks-title--margin-y: 0.65em;
	--coblocks-food-drinks-title--padding: 0.3em 0.25em 0.2em;
	--coblocks-food-drinks-title--style: normal;

	--coblocks-pricing--border: 2px solid var(--theme-color-heading);

	--coblocks-services--heading-margin-bottom: 1.25rem;
	--coblocks-services--heading-margin-top: 2rem;

	/*--------------------------------------------------------------
	## Editor
	--------------------------------------------------------------*/
	--editor-max-w-base: 702px;
	--editor-max-w-wide: 1118px;
}
