/**
 * partials/headers/header-logo-nav.php
 */

.site-header--logo-nav-search {
	display: flex;
	padding-left: var(--theme-spacing-unit-5);
	padding-right: var(--theme-spacing-unit-5);

	@media (--large) {

		& .site-navigation {
			left: 0;
			width: 100%;
		}

		& .sub-menu a {
			opacity: 1;
			padding-bottom: var(--theme-spacing-unit-2);
			padding-top: var(--theme-spacing-unit-2);

			&::before {
				display: none !important;
			}

			&[aria-haspopup] {

				&::after {
					background-image: url("../../dist/shared/svg/arrow-down-white.svg");
				}
			}
		}
	}

	& .site-branding {
		margin-right: 2%;

		@media (--large) {
			flex: 1 0 25%;
		}
	}
}

.has-offscreen-nav.menu-is-open .site-header--logo-nav-search .site-navigation {
	height: calc(100% - 70px);
	left: 0;
	padding-left: var(--theme-spacing-unit-5); /* Padding left/right is the same as the header */
	padding-right: var(--theme-spacing-unit-5);

	/* Restore sub-menu colors when desktop style */
	@media (--large) {

		& .sub-menu a {
			color: hsl(var(--theme-sub-menu-link-color));
		}
	}
}

/* When admin bar is on */
.admin-bar.has-offscreen-nav.menu-is-open .site-header--logo-nav-search .site-navigation {
	height: calc(100% - 116px);
	top: auto;

	@media (--medium) {
		height: calc(100% - 102px);
	}

	@media (--large) {
		top: auto;
	}
}

/* When admin bar is on, but no mobile nav panel is available */
body.admin-bar .site-header--logo-nav-search .site-navigation {
	top: auto;
}
