/**
 * Body class variant for header-search-logo-nav
 */

.is-header-nav-logo-search {

	&::before {
		content: "has-search-toggle has-offscreen-nav";
		display: none;

		@media (--large) {
			content: "has-search-toggle has-offscreen-nav";
		}
	}

	&.blog .content-area,
	&.archive .content-area {
		margin-top: 0;
	}

	&.blog .content-area h1,
	&.archive .content-area h1,
	& .content-area .navigation.posts-navigation,
	& .content-area .post.post--archive {
		margin-left: 0;
	}

	&.blog .content-area h1,
	&.archive .content-area h1 {
		text-align: left;
	}

	& .site-footer,
	& .content-area,
	& .site-header .site-branding,
	& .site-search__toggle,
	& .post__hero {
		transition: transform 0.2s ease-in-out;
	}

	&.menu-is-open {
		bottom: 0;
		height: 100%;
		left: 0;
		overflow-y: hidden;
		position: static;
		right: 0;
		top: 0;
		width: 100%;

		& .site-footer,
		& .content-area,
		& .site-header .site-branding,
		& .site-search__toggle,
		& .post__hero {
			transform: translate3d(370px, 0, 0);

			@media (--large) {
				transform: translate3d(500px, 0, 0);
			}
		}
	}

	& .content-area {
		width: 100%;

		@media (--medium) {
			margin-left: 0;
			padding-left: 6rem;
		}

		@media (--large) {
			padding-left: 9rem;
		}

		@media (--full-width) {
			margin-bottom: 0;
		}
	}

	& .primary-menu {

		& a {
			color: hsl(var(--color-shark));

			&::before {
				background-color: hsl(var(--color-shark));
			}
		}

		/* A toggling parent item with children */
		& .menu-item-has-children {

			/* Add a small ddown arrow */
			& > [aria-haspopup] {

				&::after {
					background-image: url("../../dist/shared/svg/arrow-down.svg");
				}
			}


		}
	}


	& .site-footer {

		& .row {
			margin-left: 0;
		}

		@media (--medium) {
			margin-left: 0;
			padding-left: 6rem;
		}

		@media (--large) {
			padding-left: 9rem;
		}

	}
}
