/**
 * Body class variant for header-search-logo-nav
 */

.is-header-search-logo-nav {

	&::before {
		content: "has-search-toggle has-offscreen-nav";
		display: none;

		@media (--large) {
			content: "has-search-toggle has-offscreen-nav";
		}
	}

	/* In mobile view, this navigation system removes spacing
	between itself and the content area */
	& .content-area {
		@media (max-width: 600px) {
			margin-top: 0;
		}
	}
}

