/**
 * Site branding
 */

.site-branding {
	flex: 1 0 50%;
	line-height: 1.1;

	& a {
		text-decoration-color: transparent;
	}
}

.site-branding__link {
	display: block;
	text-decoration: none;

	@media (--medium) {
		display: inline-block;
	}

	&:hover {
		text-decoration: none;
	}

	& + .site-branding__description {
		display: block;
		margin-top: 0.25rem;

		@media (--small) {
			border-left: 1px solid hsla(var(--theme-body-color), 0.25);
			margin-left: 1rem;
			margin-top: 0;
			padding-left: 1rem;
		}
	}
}

.site-branding__title {
	color: hsla(var(--theme-h1-color), 1);
	font-family: var(--theme-heading-font-family);
	font-size: var(--theme-h4-font-size);
	font-weight: 700;
}
