/**
 * Global - site search
 */

/* Locally scoped component variables */
body {

	& .site-search {
		padding: var(--theme-spacing-unit) 0;
		z-index: var(--theme-site-search-z-index);

		@media (--large) {
			left: 0;
			opacity: 0;
			padding: var(--theme-spacing-unit) var(--theme-spacing-unit-2);
			pointer-events: none;
			position: absolute;
			right: -0.2rem;
			transform: translateX(60%);
			transition: opacity 175ms ease-out 75ms, transform ease-out 175ms;
		}

		& .search-form {
			display: flex;
		}

		& .search-input__button {
			background-color: hsl(var(--theme-button-block-background-color));
			border: var(--theme-button-block-border);
			border-radius: 0;
			box-shadow: none;
			color: inherit;
			margin: 0 0 0 0.5rem;
			padding: 0 1.75rem;
			position: relative;
			width: 50px;

			& .search-input__label {
				left: -5000px;
				position: absolute;
			}

			& .search-input__arrow-icon {
				fill: hsl(var(--theme-button-block-color));
				height: auto;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 20px;
			}

			&::after {
				display: none !important;
			}

			&:active,
			&:hover {
				background-color: hsl(var(--theme-button-block-background-color-interactive));
				border: var(--theme-button-block-border-interactive);
				box-shadow: none;

				& .search-input__arrow-icon {
					fill: hsl(var(--theme-button-block-color-interactive));
				}
			}
		}
	}
}

/* When the search sits within the mobile panel navigation,
we provide it some cushion */
body.menu-is-open nav .site-search {
	margin-top: 0.45rem;

	@media (--large) {
		margin-top: 0;
	}
}

/* When search becomes visible */
.site-search.is-open {
	opacity: 1;
	pointer-events: all;
	transform: translateX(0);
}

/* Override aria defaults */
.site-navigation .site-search[aria-hidden="true"] {
	display: block;
	visibility: visible;
}
