/**
 * Site header
 */

.site-header {
	position: relative;
	width: 100%;

	@media (--full-width) {
		margin-left: auto;
		margin-right: auto;
	}

	& .u-informational {
		display: inline-block;
		padding: 0.3rem 0.5rem;
	}
}

.site-header__inner {
	max-width: var(--theme-max-width-wide);
	padding: var(--theme-header-padding-x) var(--theme-header-padding-y);
}
