/**
 * Site navigation toggle.
 */

.site-navigation__toggle {
	--theme-button-block-padding: var(--theme-spacing-unit);

	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: hsla(var(--theme-site-navigation__toggle-color), 1);
	cursor: pointer;
	height: 100%;
	line-height: 1;
	margin-right: -0.75rem;
	padding: var(--theme-button-block-padding) var(--theme-button-block-padding) 0;
	position: relative;
	user-select: none;
	z-index: var(--theme-site-navigation__toggle-z-index);

	@media (--large) {
		display: none;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	&:focus {
		outline: 1px dotted hsla(var(--theme-site-navigation__toggle-color), 1);
	}
}

.site-navigation__toggle-icon {
	display: inline-block;
	height: var(--theme-site-navigation__toggle-height);
	position: relative;
	width: var(--theme-site-navigation__toggle-width);
}

.site-navigation__toggle-icon-inner {
	background-color: hsla(var(--theme-site-navigation__toggle-color), 1);
	height: 2px;
	margin-top: -5px;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 50%;
	transition: all 0.2s ease-in-out;
	width: 100%;

	&::before {
		background-color: hsla(var(--theme-site-navigation__toggle-color), 1);
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		top: 10px;
		transition: all 0.2s ease-in-out;
		width: 100%;
	}

	&::after {
		background: hsla(var(--theme-site-navigation__toggle-color), 1);
		bottom: 10px;
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		transition: all 0.2s ease-in-out;
		width: 100%;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: hsla(var(--theme-site-navigation__toggle-color-interactive), 1);

		&::before {
			background-color: hsla(var(--theme-site-navigation__toggle-color-interactive), 1);
		}

		&::after {
			background-color: hsla(var(--theme-site-navigation__toggle-color-interactive), 1);
		}
	}

	/* Alter appearance when menu is opened */
	@nest .menu-is-open & {
		background-color: transparent;

		&::after,
		&::before {
			background-color: hsla(var(--theme-site-navigation__toggle-color-active), 1);
			transition: all 0.2s ease-in-out;
		}

		&::before {
			top: 0;
			transform: rotate(45deg);
			transition: all 0.2s ease-in-out;
		}

		&::after {
			bottom: 0;
			transform: rotate(-45deg);
			transition: all 0.3s ease-in-out;
		}
	}
}
