/**
 * Primary menu
 */

/* Locally scoped component variables */
.site-navigation {
	background-color: hsla(var(--theme-has-offscreen-nav-overlay-color));
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 0;
	left: 0;
	opacity: 0;
	overflow-y: scroll;
	position: fixed;
	top: 70px; /* a default */
	width: 100%;
	z-index: var(--theme-site-navigation-z-index);

	@media (--large) {
		align-items: center;
		background: transparent;
		flex-direction: row;
		height: 100%;
		justify-content: flex-end;
		max-height: none;
		opacity: 1;
		overflow: visible;
		position: relative;
		top: auto; /* a default */
		width: auto;
	}

	& .primary-menu [aria-hidden="true"]:not(:hover) {
		display: none !important;
		opacity: 0;
		visibility: hidden;
	}
}

/* Set all panel navigations to have some left cushion */
body.has-offscreen-nav.menu-is-open .site-navigation {
	padding-left: 1rem;
}

/* Whenever a panel nav is opened, it receives a menu-is-open class.
We want to fix the body height to prevent scrolling when this system
is open. */
body.menu-is-open {
	@media (max-width: 1087px) {
		height: 100%;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
}

/* If admin, add to nav top positioning */
body.admin-bar.has-offscreen-nav.menu-is-open .site-navigation {
	top: 116px;

	@media (--medium) {
		top: 102px;
	}

	@media (--large) {
		top: auto;
	}
}
