/*  Services */
.wp-block-coblocks-service .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

.wp-block[data-type="coblocks/service"] {
	margin-left: 0;
	margin-right: 0;
}

[data-columns="2"] .wp-block[data-type="coblocks/service"] {
	@media (--medium) {
		max-width: calc(100% / 2 - 1em);
	}
}

[data-columns="3"] .wp-block[data-type="coblocks/service"] {
	@media (--large) {
		max-width: calc(100% / 3 - 0.5em);
	}
}

[data-columns="4"] .wp-block[data-type="coblocks/service"] {
	@media (--small) {
		max-width: calc(100% / 2 - 1em);
	}

	@media (--large) {
		max-width: calc(100% / 4 - 0.5em);
	}
}
