/*! CoBlocks: Services */
.wp-block-coblocks-service {

	&.alignfull {
		padding-left: var(--go-block--padding--x);
		padding-right: var(--go-block--padding--x);
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: var(--wp-block-coblocks-services--heading--margin-bottom, 1rem);
		margin-top: var(--wp-block-coblocks-services--heading--margin-top, 1.75rem);
	}
}

.wp-block-coblocks-service__content {

	p ~ .wp-block-button {
		margin-top: 2.5rem !important;
	}
}

.wp-block-coblocks-services[data-columns="2"] > .wp-block-coblocks-service {
	@include media(medium) {
		max-width: calc(100% / 2 - 2em);
	}
}

.wp-block-coblocks-services[data-columns="3"] > .wp-block-coblocks-service {
	@include media(large) {
		max-width: calc(100% / 3 - 2em);
	}
}

.wp-block-coblocks-services[data-columns="4"] > .wp-block-coblocks-service {
	@include media(small) {
		max-width: calc(100% / 2 - 2em);
	}
	@include media(large) {
		max-width: calc(100% / 4 - 2em);
	}
}

