/*! CoBlocks: Author */
.wp-block-coblocks-author {
	border-radius: var(--wp-block-coblocks-author--border-radius, 0);
	padding: var(--wp-block-coblocks-author--padding, 2.5rem);

	p ~ .wp-block-button {
		margin-bottom: 10px !important;
		margin-top: 1.5em !important;
	}
}

.wp-block-coblocks-author__name {
	color: var(--wp-block-coblocks-author--color--text, var(--go-heading--color--text));
}
