workflows:
  version: 2.1
  main:
    jobs:
      # Support PHP Versions
      # http://php.net/supported-versions.php
      - php56-phpcs: # EOL December 31, 2018, latest PHP version supported by Go
          filters:
            tags:
              only: /^(?!canary).*$/
      - php73-phpcs: # Will be deprecated on 30 Nov 2020
          filters:
            tags:
              only: /^(?!canary).*$/
      - unit-tests:
          filters:
            tags:
              only: /^(?!canary).*$/
      - theme-check:
          filters:
            tags:
              only: /^(?!canary).*$/
      - a11y-tests:
          filters:
            tags:
              only: /^(?!canary).*$/
      - i18n:
          filters:
            branches:
              only: /i18n-.*/
      - canary:
          requires:
            - php56-phpcs
            - php73-phpcs
            - unit-tests
            - theme-check
            - a11y-tests
          filters:
            branches:
              only: /i18n-.*/
      - deploy:
          requires:
            - php56-phpcs
            - php73-phpcs
            - unit-tests
            - theme-check
            - a11y-tests
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9][0-9]*)(\.(0|[1-9][0-9]*))*)?(\+[0-9-]+(\.[0-9]+)*)?/ # Run on semantic version tags only
            branches:
              ignore: /.*/

version: 2.1
jobs:
  php56-phpcs:
    docker:
      - image: circleci/php:5.6
    steps:
      - checkout
      - run:
          name: "Setup Environment Variables"
          command: |
            echo "export PATH=$HOME/.composer/vendor/bin:$PATH" >> $BASH_ENV
            source /home/circleci/.bashrc
      - run:
          name: "Install Dependencies"
          command: |
            composer global require wp-coding-standards/wpcs
            phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs
      - run:
          name: "Run PHPCS"
          command: phpcs --standard=phpcs.xml --extensions=php --colors -s -p -v .

  php73-phpcs:
    docker:
      - image: circleci/php:7.3.8
    steps:
      - checkout
      - run:
          name: "Setup Environment Variables"
          command: |
            echo "export PATH=$HOME/.composer/vendor/bin:$PATH" >> $BASH_ENV
            source /home/circleci/.bashrc
      - run:
          name: "Install Dependencies"
          command: |
            composer global require wp-coding-standards/wpcs
            phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs
      - run:
          name: "Run PHPCS"
          command: phpcs --standard=phpcs.xml --extensions=php --colors -s -p -v .

  unit-tests:
    docker:
      - image: circleci/php:7.3.8-apache-node-browsers
      - image: circleci/mysql:5.7
    steps:
      - checkout
      - run:
          name: Update hosts
          command: echo 127.0.0.1 go.test | sudo tee -a /etc/hosts
      - run:
          name: Update npm
          command: sudo npm install -g npm@latest
      - run:
          name: Install rsync
          command: sudo apt install rsync
      - run:
          name: Install Code Climate test reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
      - run:
          name: Install WPCLI
          command: |
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            sudo mv wp-cli.phar /usr/local/bin/wp
      - run:
          name: Install gettext
          command: sudo apt-get install gettext
      - run:
          name: Setup WordPress site
          command: bash .dev/deploy-scripts/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
      - run:
          name: Install Composer packages
          command: composer install
          working_directory: /tmp/wordpress/wp-content/themes/go
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install node packages
          command: npm install
          working_directory: /tmp/wordpress/wp-content/themes/go
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Build the Go Theme
          command: npm run build
          working_directory: /tmp/wordpress/wp-content/themes/go
      - run:
          name: "Run PHPUnit - Single Site - Generate Coverage Reports"
          command: composer run test -- --coverage-html=/tmp/artifacts/code-coverage/phpunit/html --log-junit=/tmp/artifacts/code-coverage/phpunit/results.xml --coverage-clover=clover.xml
          working_directory: /tmp/wordpress/wp-content/themes/go
      - run:
          name: "Deploy Coverage to Code Climate"
          command: ./cc-test-reporter after-build -t clover --exit-code $?
          working_directory: /tmp/wordpress/wp-content/themes/go
      - store_artifacts:
          path: /tmp/artifacts/code-coverage/
          destination: phpunit-coverage
      - store_test_results:
          path: /tmp/artifacts/code-coverage/

  theme-check:
    docker:
      - image: circleci/php:7.3.8-apache-node-browsers
      - image: circleci/mysql:5.7
    steps:
      - checkout
      - run:
          name: Update npm
          command: sudo npm install -g npm@latest
      - run:
          name: Install rsync
          command: sudo apt install rsync
      - run:
          name: Install gettext
          command: sudo apt-get install gettext
      - run:
          name: Install Grunt.js
          command: sudo npm install -g grunt-cli
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install node packages
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Install WPCLI
          command: |
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            sudo mv wp-cli.phar /usr/local/bin/wp
      - run:
          name: Build the Go Theme
          command: npm run build
      - run:
          name: Setup WordPress site and install the Theme Check package
          command: bash .dev/deploy-scripts/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
      - run:
          name: Run theme check
          command: wp themecheck --theme=go --no-interactive --path=/tmp/wordpress

  a11y-tests:
    docker:
      - image: circleci/php:7.3.8-apache-node-browsers
      - image: circleci/mysql:5.7
    steps:
      - checkout
      - run:
          name: Update hosts
          command: echo 127.0.0.1 go.test | sudo tee -a /etc/hosts
      - run:
          name: Update npm
          command: sudo npm install -g npm@latest
      - run:
          name: Install rsync
          command: sudo apt install rsync
      - run:
          name: Install gettext
          command: sudo apt-get install gettext
      - run:
          name: Install Grunt.js
          command: sudo npm install -g grunt-cli
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install node packages
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Install WPCLI
          command: |
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            sudo mv wp-cli.phar /usr/local/bin/wp
      - run:
          name: Build the Go Theme
          command: npm run build
      - run:
          name: Setup WordPress site
          command: bash .dev/deploy-scripts/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
      - run:
          name: Run a11y tests
          command: |
            RESULTS=$(npm run test-a11y)
            # rerun tests to display the formatted output
            npm run test-a11y
            if [[ $RESULTS != *"All accessibility tests have passed"* ]]; then
              exit 1
            fi

  i18n:
    docker:
      - image: circleci/php:7.3-node-browsers-legacy
    steps:
      - checkout
      - run:
          name: Test
          command: |
            export GIT_COMMIT_DESC=$(git log --format=oneline -n 1 $CIRCLE_SHA1)
            if [[ $GIT_COMMIT_DESC == *"skip i18n"* ]]; then
              circleci-agent step halt
            fi
      - run:
          name: Disable xdebug PHP extension
          command: |
            sudo rm -f /etc/php/*/mods-available/xdebug.ini
            sudo rm -f /etc/php/*/mods-enabled/xdebug.ini
            sudo rm -f /etc/php/*/conf.d/*xdebug.ini
            sudo rm -f /usr/local/etc/php/conf.d/*xdebug.ini
      - restore_cache:
          keys:
            - npm-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - npm-deps-{{ .Branch }}
      - run:
          name: Install node dependencies
          command: |
            npm install
      - save_cache:
          key: npm-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - /home/circleci/project/node_modules
            - /home/circleci/.npm
      - run:
          name: Install composer dependencies
          command: |
            composer install
      - save_cache:
          key: composer-deps-{{ .Branch }}-{{ checksum "composer.lock" }}
          paths:
            - /home/circleci/project/vendor
      - run:
          name: Generate the translations
          command: |
            npm run makepot
            npm run json2po
            npm run pot2json
      - run:
          name: Deploy coblocks.pot/coblocks.json back to GitHub
          command: |
            git config --global user.email "plugins@godaddy.com"
            git config --global user.name "GoDaddy Translator"
            git add languages/go.json && git add languages/go.pot
            git commit -m "Update go.pot/go.json files [skip i18n]"
            git push origin master --quiet

  canary:
    docker:
      - image: circleci/golang:latest-node-browsers-legacy
    steps:
      - add_ssh_keys:
          fingerprints:
            - "0e:f8:0a:19:88:42:c3:5a:b9:82:17:34:6b:40:68:21"
      - run:
          name: Add staging site to known_hosts
          command: ssh-keyscan -H a90.8f7.myftpupload.com >> ~/.ssh/known_hosts
      - checkout
      - run:
          name: Update npm
          command: sudo npm install -g npm@latest
      - run:
          name: Install Grunt.js
          command: sudo npm install -g grunt-cli
      - run:
          name: Install PHP
          command: sudo apt-get install php libapache2-mod-php php-mbstring
      - run:
          name: Install gettext
          command: sudo apt-get install gettext
      - run:
          name: Install WPCLI
          command: |
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            sudo mv wp-cli.phar /usr/local/bin/wp
      - run:
          name: Install ghr
          command: |
            go get -u github.com/tcnksm/ghr
      - run:
          name: Install rsync
          command: sudo apt install rsync
      - run:
          name: Install node packages
          command: npm install
      - run:
          name: Build the Go Theme
          command: |
            npm run build
            mkdir -p go
            mkdir -p /tmp/artifacts
            npm run json2po
            npm run po2mo
            rsync -av --exclude-from ~/project/.distignore --delete ~/project/. ./go
            GO_VERSION_LINE=$(awk '/\* Version:/{ print NR; exit }' ./go/style.css)
            GO_COMMIT_HASH=$(git rev-parse --verify HEAD | head -c 7)
            sed -i -e "${GO_VERSION_LINE}s/$/-${GO_COMMIT_HASH}/" ./go/style.css
            zip -r /tmp/artifacts/go-canary.zip ./go
      - run:
          name: Deploy Go theme to the staging site
          command: |
            scp -r /tmp/artifacts/go-canary.zip ${STAGING_SITE_SSH_CREDS}:html/wp-content/
            ssh ${STAGING_SITE_SSH_CREDS} 'cd html/wp-content && wp theme install go-canary.zip --force --activate --skip-themes --skip-plugins && rm -rf go-canary.zip'
      - deploy:
          name: Create a canary release on GitHub
          command: ghr -t ${GH_ACCESS_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -n "canary" -b "Latest build of the master branch. This bleeding edge version is for testing purposes only and should not be used in production." -delete -prerelease -replace canary /tmp/artifacts/go-canary.zip

  deploy:
    docker:
      - image: circleci/golang:latest-node-browsers-legacy
    steps:
      - checkout
      - run:
          name: Update npm
          command: sudo npm install -g npm@latest
      - run:
          name: Install Grunt.js
          command: sudo npm install -g grunt-cli
      - run:
          name: Install PHP
          command: sudo apt-get install php libapache2-mod-php php-mbstring
      - run:
          name: Install gettext
          command: sudo apt-get install gettext
      - run:
          name: Install WPCLI
          command: |
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            sudo mv wp-cli.phar /usr/local/bin/wp
      - run:
          name: Install ghr
          command: |
            go get -u github.com/tcnksm/ghr
      - run:
          name: Install rsync
          command: sudo apt install rsync
      - run:
          name: Install node packages
          command: npm install
      - run:
          name: Build the Go Theme
          command: |
            npm run build
            mkdir -p go
            mkdir -p /tmp/artifacts
            rsync -av --exclude-from ~/project/.distignore --delete ~/project/. ./go
            zip -r /tmp/artifacts/go.zip ./go
      - deploy:
          name: Deploy a new release to GitHub
          command: ghr -t ${GH_ACCESS_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts
