/**
 * Modern - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/button.css");
@import url("components/carousel.css");

body {
	-webkit-font-smoothing: antialiased;
}

.wp-block-code,
.wp-block-verse,
p.has-background,
.wp-block-pullquote:not(.alignfull):not(.alignwide),
.wp-block-coblocks-alert,
.wp-block-separator.is-style-wide,
.wp-block-group:not(.alignfull):not(.alignwide),
.wp-block-cover:not(.alignwide):not(.alignfull),
.wp-block-coblocks-dynamic-separator.is-style-fullwidth::before {
	@media (--base) {
		margin-left: var(--theme-block-padding-x);
		margin-right: var(--theme-block-padding-x);
	}
}

.site-header__inner,
.site-footer__inner {
	max-width: none;
}

.site-search__toggle {
	top: 1px;
}

.single-post:not(.has-featured-image) .entry-header::before {
	background: hsl(var(--theme-color-tertiary));
	content: "";
	height: var(--theme-post-header-before--height, 145px);
	left: 0;
	opacity: 0.33;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;

	@media (--medium) {
		height: var(--theme-post-header-before--height, 205px);
	}

	@media (--large) {
		height: var(--theme-post-header-before--height, 265px);
	}
}

.admin-bar.single-post:not(.has-featured-image) .entry-header::before {
	top: 32px;

	@media (--admin-bar-lg) {
		top: 46px;
	}
}

