// Global variables
@import "../../../shared/css/config/breakpoints";
@import "../../../shared/css/config/mixins";

/**
 * Trendy - Styles
 */
@import "../settings";
@import "components/button";
@import "components/carousel";

body {
	-webkit-font-smoothing: antialiased;
}

.site-footer__inner {
	max-width: none;
}

.has-footer-1 .footer-navigation a {
	color: var(--go-footer--color--text, initial);
}
