/**
 * Trendy - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/button.css");
@import url("components/carousel.css");

body {
	-webkit-font-smoothing: antialiased;
}

.site-footer__inner {
	max-width: none;
}

.has-footer-1 .footer-navigation a {
	color: hsl(var(--theme-footer--color));
}
