/**
 * Global - pullquote styling
*/

.wp-block-pullquote {
	border-color: hsl(var(--theme-site-branding-dividing-border-color));
	color: hsl(var(--theme-body-color));
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: inherit;
	font-family: var(--theme-body-font-family);
	font-weight: 400;
	letter-spacing: 1px;
	opacity: 0.7;
	text-transform: inherit;
}
