/* Group */
.wp-block[data-type="core/group"][data-align="wide"] {

	& .has-background {
		padding: calc(var(--editor-padding) / 4);

		@media (--medium) {
			padding: calc(var(--editor-padding) / 2);
		}

		@media (--large) {
			padding: var(--editor-padding);
		}
	}
}

.wp-block[data-type="core/group"][data-align="full"] {

	& .wp-block-group__inner-container {
		padding-left: var(--theme-block-padding-x));
		padding-right: var(--theme-block-padding-x));
	}

	& .has-background .wp-block-group__inner-container {
		padding-bottom: calc(var(--editor-padding) / 4) var(--theme-block-padding-x);

		@media (--medium) {
			padding-bottom: calc(var(--editor-padding) / 2);
			padding-top: calc(var(--editor-padding) / 2);
		}

		@media (--large) {
			padding-bottom: var(--editor-padding);
			padding-top: var(--editor-padding);
		}

		& > h2,
		& > h3 {
			@media (--small) {
				padding-left: var(--theme-block-padding-x);
				padding-right: var(--theme-block-padding-x);
			}
		}
	}
}

.wp-block-group__inner-container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--editor-max-w-wide);

	& .wp-block {
		max-width: var(--editor-max-w-wide);
	}

	& .wp-block[data-type="core/columns"] {
		padding-bottom: calc(var(--editor-padding) / 4);

		@media (--medium) {
			padding-bottom: calc(var(--editor-padding) / 2);
		}

		@media (--large) {
			padding-bottom: var(--editor-padding);
		}

		&:last-of-type {
			padding-bottom: 0;
		}
	}

	& .wp-block[data-type="core/paragraph"] {
		max-width: 680px;
	}
}
