.wp-block-coblocks-hero__content-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--editor-max-w-wide);
	width: 100%;
}

.hero-top-center-align .wp-block-coblocks-hero__content-wrapper,
.hero-bottom-center-align .wp-block-coblocks-hero__content-wrapper,
.hero-center-center-align .wp-block-coblocks-hero__content-wrapper {
	width: inherit;
}

.hero-top-right-align .wp-block-coblocks-hero__content-wrapper,
.hero-center-right-align .wp-block-coblocks-hero__content-wrapper,
.hero-bottom-right-align .wp-block-coblocks-hero__content-wrapper {
	margin-right: 0;
	width: inherit;
}
