.wp-block {
	max-width: var(--go--max-width);

	.wp-block:not(.wp-block-button) {
		width: 100%;
	}

	.wp-block[data-align="full"] {
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block[data-align="wide"] {
	max-width: var(--go--max-width--alignwide);
}

.wp-block[data-align="full"] {
	margin-left: calc(var(--go-block--padding--x) * -1);
	margin-right: calc(var(--go-block--padding--x) * -1);
	max-width: none;
}

.wp-block[data-align="wide"] .wp-block[data-align="wide"],
.wp-block[data-align="full"] .wp-block[data-align="wide"] {
	max-width: var(--go--max-width--alignwide);
}

.wp-block .wp-block[data-type="core/group"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
.wp-block .wp-block[data-type="core/cover"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]) {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--go--max-width);
}

.wp-block[data-type="core/group"][data-align="full"] .wp-block:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]):not([data-type="core/heading"]):not([data-type="core/paragraph"]):not([data-type="coblocks/form"]) {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--go--max-width--alignwide);
	width: 100%;
}

.wp-block[data-type="core/group"][data-align="full"] [data-type="core/heading"] {
	max-width: var(--go--max-width);
}

*[data-align="right"] .wp-block-edit,
*[data-align="left"] .wp-block-edit {
	max-width: 50%;
}
