:root {
	--editor-permalink--color: hsl(209, 9%, 54%);
	--editor-permalink--color-interactive: hsl(194, 100%, 41%);
	--editor-title-max-w: calc(var(--go-entryheader--max-width, 78rem) - var(--go-block--padding--x) - var(--go-block--padding--x));
}
