/*! Editor Post Title */
.editor-post-title__block {
	max-width: var(--editor-title-max-w);

	& .editor-post-title__input {
		color: hsl(var(--theme-h1--color, var(--theme-color-heading)));
		font-family: var(--theme-heading--font);
		font-size: var(--editor-title--font-size, var(--theme-h1--font-size));
		font-style: var(--theme-heading--style, normal);
		font-weight: var(--theme-heading--weight);
		letter-spacing: var(--theme-heading--tracking);
		line-height: var(--theme-heading--leading);
		text-align: var(--editor-title-block--alignment, center);
	}
}
