/*! Editor Post Title */
.editor-post-title__block {
	max-width: var(--editor-title-max-w);

	& .editor-post-title__input {
		color: var(--theme-h1--color, var(--go-heading--color--text));
		font-family: var(--go-heading--font-family);
		font-size: var(--editor-title--font-size, var(--go-heading--font-size--h1));
		font-style: var(--theme-heading--style, normal);
		font-weight: var(--go-heading--font-weight);
		letter-spacing: var(--go-heading--letter-spacing, normal);
		line-height: var(--go-heading--line-height);
		text-align: var(--editor-title-block--alignment, center);
	}
}
