// User agent overrides
.block-editor-block-list__layout {

	h1 {
		margin-block-start: 0.83em;
	}

	h2 {
		margin-block-start: 0.83em;
	}

	h3 {
		margin-block-start: 1em;
	}

	h4 {
		margin-block-start: 1.33em;
	}

	h5 {
		margin-block-start: 1.67em;
	}

	h6 {
		margin-block-start: 2.33em;
	}
}
