/**
 * Creative Services - Gutenberg core Button block overrides.
 */

/* Local scoped variable overrides. */
.wp-block-button {

	&:not(.is-style-outline) .wp-block-button__link {

		&:active,
		&:focus,
		&:hover {

			&::after {
				background-color: hsl(var(--color-white));
				bottom: 0;
				content: "";
				display: block;
				height: 8px;
				left: var(--theme-button-block-vertical-spacing-unit);
				position: absolute;
				right: var(--theme-button-block-vertical-spacing-unit);
			}
		}
	}
}
