:root {

	/* Font families */
	--font-family-body: sans-serif;
	--font-family-heading: sans-serif;

	/* Font sizing */
	--font-size-body: 1rem;

	--font-size-h1: 2.5rem;

	@media (--large) {
		--font-size-h1: 5rem;
	}

	--font-size-h2: 2rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.33rem;
	--font-size-h5: 1.25rem;
	--font-size-h6: 1rem;

	--font-size-featured: 3rem;

	--font-size-small: 0.85rem;

	/* Line heights */
	--line-height-body: 1.33;
	--line-height-heading: 1.2875;

	/* Inputs */
	--input-font-weight: 700;
	--input-font-size: var(--font-size-body);
	--input-label-font-weight: 700;
	--input-label-font-size: var(--font-size-body);
	--label-font-family: var(--font-family-heading);
}
