/*! Button */
.wp-block-button {

	&:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
		background-color: hsl(var(--theme-button--bg));
	}

	&.is-style-outline .wp-block-button__link.has-primary-color:hover {
		color: hsl(var(--theme-color-secondary));
	}

	&.is-style-outline .wp-block-button__link.has-secondary-color:hover {
		color: hsl(var(--theme-color-primary));
	}

	&.is-style-outline .wp-block-button__link:not(.has-text-color) {
		color: hsl(var(--theme-color-primary));
	}

	&.is-style-outline .wp-block-button__link:not(.has-background) {
		background-color: transparent;
	}

	&.is-style-outline .wp-block-button__link {
		border-color: currentColor;
		border-style: solid;
		border-width: var(--theme-button--border-width);
		padding: calc(var(--theme-button--padding-y) - 2px) calc(var(--theme-button--padding-x) - 2px);

		&:hover {
			color: hsl(var(--theme-color-secondary));
		}
	}

	&:not(.is-style-outline) .wp-block-button__link {

		&:hover {
			@mixin button-hover;
		}

		&:focus {
			@mixin button-hover;
		}
	}

	&:not(.is-style-outline) .wp-block-button__link.has-tertiary-background-color:hover {
		background-color: hsl(var(--theme-color-tertiary));
	}
}

.wp-block-search__button,
.wp-block-button__link {
	@mixin button;
	position: relative;

	&:focus {
		@mixin outline;
		outline-offset: 2px;
	}
}
