/*! Code */
.content-area {

	& .wp-block-code {
		@mixin blockWidthNoPadding;
	}
}

.wp-block-code {
	padding: 10px 20px !important;

	&  code {
		white-space: pre-wrap;
		word-break: break-word;
	}
}
