/*! Columns */
.content-area {

	& div.wp-block-columns {

		&.is-medium-full .wp-block-column {
			@media (max-width: 960px) {
				flex-basis: 100% !important;
				margin-top: var(--vertical-rhythm--med);
				padding: 0 !important;
			}
		}

		& .wp-block-column {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;

			@media (--small) {
				margin-top: 0;
				padding: 0 1.15em;
			}

			@media (--mediumMax) {
				flex-basis: 100% !important;
				margin-top: var(--vertical-rhythm--med);
			}

			&:first-child {
				margin-top: 0;
				padding-left: 0;
			}

			&:last-child {
				margin-bottom: 0;
				padding-right: 0;
			}

			&:empty {
				margin: 0;
			}

			& > *:first-child {
				margin-top: 0;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		& .wp-block-column:empty + .wp-block-column {
			margin-top: 0;
		}
	}
}

.wp-block-columns {

	& .wp-block-quote {
		border: none !important;
		max-width: none;

		&.is-style-large {
			margin-left: 0;
			margin-right: 0;
		}

		& p {
			padding: 0 !important;
		}

		& cite {
			margin-left: 0 !important;
		}
	}

	& p ~ .wp-block-button {
		margin-bottom: 0 !important;
	}

	& .wp-block-column > .wp-block-button:first-child {
		margin-top: 0.75em !important;
	}
}
