/*! Cover */
.wp-block-cover {

	& > div {
		margin: 0 auto;
		max-width: calc(var(--go--max-width));
		padding: var(--theme-vertical-rhythm--lrg) 1rem;
		width: 100%;
	}

	& h2:last-of-type,
	& h3:last-of-type,
	& h4:last-of-type,
	& h5:last-of-type,
	& h6:last-of-type {
		margin-bottom: 0;
	}

	& ul,
	& ol {
		padding-left: 0;
	}
}
