/*! Cover */
.wp-block-cover {

	&.alignfull > div {
		padding-bottom: var(--vertical-rhythm--lrg);
		padding-top: var(--vertical-rhythm--lrg);
	}

	& .wp-block-cover__inner-container {
		margin: 0 auto;
		max-width: calc(var(--theme-max-w-base));
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}

	& ul,
	& ol {
		padding-left: 0;
	}
}
