/*! Gallery */
.wp-block-gallery {

	& .blocks-gallery-item figcaption {
		font-size: var(--go-caption--font-size);
		font-style: var(--go-caption--font-style, normal);
		padding-left: 15px;
		padding-right: 15px;
		text-align: var(--go-caption--text-align);
	}

	& .blocks-gallery-grid + figcaption {
		display: block;
		width: 100%;
	}

	& .blocks-gallery-item:last-child {
		margin-bottom: 16px !important;
	}
}

body.rtl .wp-block-gallery {

	& .blocks-gallery-item figcaption {
		text-align: var(--go-caption--text-align--rtl);
	}
}

#page.site .content-area__wrapper .content-area .wp-block-gallery.mb-0 {
	margin-bottom: 0 !important;
}

.site .content-area__wrapper .content-area .wp-block-gallery {
	margin-bottom: calc(var(--go--spacing--vertical) - 16px) !important;
}

.site .content-area__wrapper .content-area .wp-block-gallery.alignfull,
.site .content-area__wrapper .content-area .wp-block-gallery.alignwide {
	margin-bottom: calc(var(--go--spacing--vertical--lg) - 16px) !important;
	margin-top: calc(var(--go--spacing--vertical--lg) - 16px) !important;
}

.site .content-area__wrapper .content-area .wp-block-gallery .mb-0 {
	margin-bottom: -16px !important;
}

.site .content-area__wrapper .wp-block-gallery.alignfull + .wp-block-cover.alignfull {
	margin-top: 16px !important;
}

.site .content-area__wrapper .wp-block-gallery.alignfull + .wp-block-image.alignfull {
	margin-top: calc(var(--go--spacing--vertical--lg) * -1 + 16px) !important;
}

.site .content-area__wrapper .wp-block-image.alignfull + .wp-block-gallery.alignfull {
	margin-top: calc(var(--go--spacing--vertical--lg) * -1 + 16px) !important;
}

.site .content-area__wrapper .wp-block-group.alignfull + .wp-block-gallery.alignfull {
	margin-top: calc(var(--go--spacing--vertical--lg) * -1 + 16px) !important;
}

.site .content-area__wrapper .wp-block-gallery.alignfull + .wp-block-group.alignfull {
	margin-top: calc(var(--go--spacing--vertical--lg) * -1 + 16px) !important;
}
