/*! Gallery */
.wp-block-gallery {

	& .blocks-gallery-item figcaption {
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style, normal);
		padding-left: 15px;
		padding-right: 15px;
		text-align: var(--theme-caption--alignment);
	}

	& .blocks-gallery-item:last-child {
		margin-bottom: 16px !important;
	}
}

/*! Gallery */
.content-area .wp-block-gallery {
	margin-bottom: calc(var(--vertical-rhythm--med) - 35px) !important;
	margin-top: var(--vertical-rhythm--med);

	&.alignfull,
	&.alignwide {
		margin-bottom: calc(var(--vertical-rhythm--lrg) - 15px) !important;
		margin-top: var(--vertical-rhythm--lrg);
	}

	&.mb-0 {
		margin-bottom: -15px !important;
	}
}

.wp-block-gallery.alignfull + .wp-block-cover.alignfull {
	margin-top: 16px !important;
}

.wp-block-gallery.alignfull + .wp-block-image.alignfull {
	margin-top: calc(var(--vertical-rhythm--lrg) * -1 + 16px) !important;
}

.wp-block-image.alignfull + .wp-block-gallery.alignfull {
	margin-top: calc(var(--vertical-rhythm--lrg) * -1 + 16px) !important;
}

.wp-block-group.alignfull + .wp-block-gallery.alignfull {
	margin-top: calc(var(--vertical-rhythm--lrg) * -1 + 16px) !important;
}

.wp-block-gallery.alignfull + .wp-block-group.alignfull {
	margin-top: calc(var(--vertical-rhythm--lrg) * -1 + 16px) !important;
}
