/*! Group */
.wp-block-group:not([class*="align"]) {
	@mixin blockWidthNoPadding;
}

.wp-block-group.alignwide {
	@mixin blockWidthNoPaddingWide;
}

.wp-block-group.has-background {

	&.alignwide {
		padding: 1.75rem;

		@media (--medium) {
			padding: 3.5rem;
		}

		@media (--large) {
			padding: 7rem;
		}
	}

	&.alignfull .wp-block-group__inner-container {
		padding: 1.75rem var(--theme-block-padding-x);

		@media (--medium) {
			padding: 3.5rem var(--theme-block-padding-x);
		}

		@media (--large) {
			padding: 7rem var(--theme-block-padding-x);
		}
	}
}

.wp-block-group__inner-container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--theme-max-w-wide);

	& .wp-block-columns {
		padding-bottom: 1.75rem;

		@media (--medium) {
			padding-bottom: 3.5rem;
		}

		@media (--large) {
			padding-bottom: 7rem;
		}
	}

	& .wp-block-columns:last-of-type {
		padding-bottom: 0;
	}
}
