/*! Media & Text */
.wp-block-media-text {

	/* Fix 50% width */
	@media (--smallMax) {
		grid-template-columns: 50% auto !important;
	}

	&.has-media-on-the-right {

		& .wp-block-media-text__content {
			padding-left: 0;
		}
	}

	& .wp-block-media-text__content {
		@media (max-width: 600px) {
			padding-right: 0;
		}
	}

	& .wp-block-media-text__content *:last-child {
		margin-bottom: 0 !important;
	}

	&.is-stacked-on-mobile {

		&.has-media-on-the-right .wp-block-media-text__media {
			@media (--smallMax) {
				margin-top: var(--go--spacing--vertical);
			}
		}

		&:not(.has-media-on-the-right) .wp-block-media-text__media {
			@media (--smallMax) {
				margin-bottom: var(--go--spacing--vertical);
			}
		}

		& .wp-block-media-text__content {
			@media (--smallMax) {
				padding: 0;
			}
		}
	}
}

/* When two Media & Text blocks are displayed right after each other */
.wp-block-media-text.has-media-on-the-right.is-stacked-on-mobile + .wp-block-media-text {
	@media (--smallMax) {
		display: flex;
	}

	& .wp-block-media-text__content {
		order: 1;
	}

	& .wp-block-media-text__media {
		order: 2;

		@media (--smallMax) {
			margin-top: var(--go--spacing--vertical);
		}
	}
}

.is-image-fill {

	&.alignfull .wp-block-media-text__content {
		max-width: var(--go--max-width);
		padding-bottom: var(--go--spacing--vertical--lg);
		padding-top: var(--go--spacing--vertical--lg);
	}
}
