/*! Paragraph */
.has-drop-cap:not(:focus) {

	&::first-letter {
		color: hsl(var(--theme-color-primary));
		font-size: var(--theme-dropcap--font-size, 5rem);
		font-weight: var(--theme-dropcap--weight, 700);
		line-height: 1;
		margin: 0 0.275em -1px 0;
		padding-top: 0;
	}

	&::after {
		padding-top: 0;
	}
}
