/*! Pullquote */
.wp-block-pullquote {
	border-bottom: var(--theme-pullquote--border);
	border-top: var(--theme-pullquote--border);

	&:not(.alignleft):not(.alignright) {
		padding-bottom: var(--theme-pullquote--padding-y);
		padding-top: var(--theme-pullquote--padding-y);
	}

	&:not(.is-style-solid-color):not(.alignleft):not(.alignright) {
		padding-left: var(--theme-pullquote--padding-x);
		padding-right: var(--theme-pullquote--padding-x);

		& p {
			color: hsl(var(--theme-pullquote--color));
			margin: 1rem 0;
		}
	}

	& blockquote {
		margin: 0;
	}

	& p {

		font-family: var(--theme-pullquote--font);
		font-size: var(--theme-pullquote--font-size);
		font-style: var(--theme-pullquote--style);
		font-weight: var(--theme-pullquote--weight);
		line-height: var(--theme-pullquote--leading);
	}

	& cite,
	& .wp-block-pullquote__citation {
		color: hsl(var(--theme-caption--color));
		display: inline-block;
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style, normal);
		margin-bottom: calc(var(--theme-pullquote--padding-y) + 0.5rem);
		text-transform: none;
	}

	&.is-style-solid-color {

		&:not([class*="background-color"]) {
			background-color: hsl(var(--theme-color-primary));
		}

		&:not([class*="text-color"]) {
			color: hsl(var(--color-white));
		}

		& blockquote {
			max-width: 100%;
			padding: calc(var(--editor-padding) / 3) calc(var(--editor-padding) / 2);

			@media (--medium) {
				padding: calc(var(--editor-padding) / 2) calc(var(--editor-padding) * 0.75);
			}

			& p {
				font-size: var(--theme-pullquote--font-size);
			}

			& cite,
			& .wp-block-pullquote__citation {
				color: currentColor;
				display: block;
				margin-bottom: 0;
				margin-top: 1rem;
				opacity: 0.65;
				text-align: right;
			}
		}
	}
}

.wp-block-pullquote.alignfull {

	& > blockquote {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--theme-max-w-wide);
		padding-left: var(--theme-block-padding-x);
		padding-right: var(--theme-block-padding-x);

		@media (--large) {
			padding-bottom: var(--editor-padding);
			padding-top: var(--editor-padding);
		}
	}
}
