/*! Blockquote */
.wp-block-quote {
	margin-bottom: 0;

	& cite,
	& .wp-block-quote__citation {
		color: var(--theme-caption--color, var(--theme-color-text-secondary));
		display: block;
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style, normal);
	}

	&:not(.is-style-large) {
		border-left: var(--theme-quote--border-width, 0) var(--theme-quote--border-style, solid) var(--theme-quote--border-color, var(--theme-color-primary));
		padding-left: 0;
		padding-right: 0;

		& p {
			padding-left: 1.5rem;

			@media (--medium) {
				padding-left: 2.75rem;
			}
		}

		& cite,
		& .wp-block-quote__citation {
			margin-left: 1.5rem;
			margin-top: -2rem;

			@media (--medium) {
				margin-left: 2.75rem;
			}
		}
	}

	&.is-style-large {
		color: var(--theme-quote-large--color, var(--theme-color-heading));
		margin-left: auto;
		margin-right: auto;
		padding: 0;

		& p {
			font-size: var(--theme-quote-large--font-size, var(--theme-h2--font-size));
			font-style: var(--theme-quote-large--style, normal);
			line-height: var(--theme-quote-large--leading), var(--theme-heading--leading));
			margin: 0;
			padding: 0;

			&::after,
			&::before {
				content: "";
				display: none;
			}
		}

		& cite,
		& .wp-block-quote__citation {
			font-size: var(--theme-caption--font-size);
			text-align: inherit;

			& em {
				font-style: normal;
			}
		}
	}
}
