/*! Blockquote */
.wp-block-quote {
	border: none;
	margin-bottom: 0;

	& p {
		color: hsl(var(--theme-quote--color));
		font-family: var(--theme-heading--font);
		font-size: var(--theme-quote--font-size);
		font-style: var(--theme-quote--style);
		font-weight: var(--theme-quote--weight);
		line-height: var(--theme-quote--leading);
		margin: 0 0 2rem;
		padding: 1.5rem 0;
		position: relative;

		&::before {
			content: "“";
			line-height: 1;
			position: absolute;
			transform: translate3d(-120%, 20%, 0);
		}

		&::after {
			content: "”";
		}
	}

	& cite {
		color: hsl(var(--theme-caption--color));
		display: block;
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style);
		margin-top: -2.5rem;
		padding-bottom: 1.25rem;
	}

	&:not(.is-style-large) {

		& cite {
			margin-top: -2.5rem;
		}
	}

	&.is-style-large {
		border-left: var(--theme-quote-large--border);
		color: hsl(var(--theme-quote-large--color));
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;

		& p {
			font-size: var(--theme-quote-large--font-size);
			font-style: var(--theme-quote-large--style);
			line-height: var(--theme-quote--leading);
			padding-left: 2rem;

			&::after,
			&::before {
				content: "";
				display: none;
			}
		}

		& cite {
			font-size: var(--theme-caption--font-size);
			margin-left: 2rem;
			text-align: inherit;

			& em {
				font-style: normal;
			}
		}
	}
}
