/*! Separator */
.wp-block-separator {
	border-bottom-color: hsl(var(--theme-separator--color));

	&.is-style-wide {
		@mixin blockWidthNoPadding;
		padding: 0;
	}

	&.is-style-dots::before {
		font-size: var(--theme-separator--dot-size);
	}
}
