.wp-block-table {

	& table {
		border-collapse: collapse;
		margin: 0 0 1rem;
		width: 100%;
	}

	& table td,
	& table th {
		border: 2px solid hsl(var(--theme-table--border-color, var(--theme-color-heading)));
		padding: 1em;
		word-break: break-all;
	}
}
