body[class*="amp"] .primary-menu .menu-item-has-children:hover > .sub-menu {
	display: none;
}

body[class*="amp"] .primary-menu .menu-item-has-children:hover button.dropdown-toggle.toggled-on + ul,
body[class*="amp"] .primary-menu button.toggled-on + ul {
	display: block;
}

body[class*="amp"] .primary-menu button.dropdown-toggle {
	background: transparent;
	border-radius: 0;
	height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

body[class*="amp"] .primary-menu .sub-menu {
	background-color: var(--theme-submenu--bg, var(--go-heading--color--text));
}
