[data-header="header-2"] {

	& .site-header__inner {
		flex-direction: row;

		@media (--small) {
			padding-bottom: calc(var(--theme-spacing-unit) * 4);
			padding-top: calc(var(--theme-spacing-unit) * 4);
		}

		@media (--large) {
			padding-bottom: calc(var(--theme-spacing-unit) * 10);
			padding-top: calc(var(--theme-spacing-unit) * 10);
		}

		@media (--large) {
			flex-direction: column;

			& .primary-menu a {
				margin-left: 0;
				margin-right: 0;
			}

			& .sub-menu a {
				padding-bottom: var(--theme-spacing-unit-2);
				padding-top: var(--theme-spacing-unit-2);

				&::before {
					display: none !important;
				}
			}

			& .sub-menu a[aria-haspopup] {

				&::after {
					background-image: url("../../dist/shared/svg/arrow-down-white.svg");
				}
			}
		}

	}

	& .site-navigation {
		text-align: center;

		@media (--large) {
			justify-content: center;
			margin-top: calc(var(--theme-spacing-unit) * 3);
		}
	}

	& .site-navigation__toggle {
		position: absolute;
		right: var(--theme-spacing-unit);
		top: 50%;
		transform: translateY(-50%);
	}

	/* Mobile overlay menu */
	@nest .has-offscreen-nav.menu-is-open & .primary-menu {
		width: 100%;
	}
}


.has-offscreen-nav.menu-is-open[data-header="header-2"] .site-navigation {

	/* Will override all links (including sub links) for mobile,
	so they appear same color */
	& .primary-menu a {
		color: hsl(var(--theme-primary-menu-link-color));
	}

	/* Restore sub-menu colors when desktop style */
	@media (--large) {

		& .sub-menu a {
			color: hsl(var(--theme-sub-menu-link-color));
		}
	}
}

/* When admin bar is on */
body.admin-bar.has-offscreen-nav.menu-is-open[data-header="header-2"] .site-navigation {
	height: calc(100% - 130px);
	top: 130px;

	@media (--medium) {
		height: calc(100% - 116px);
		top: 116px;
	}

	@media (--large) {
		top: auto;
	}
}
