/**
 * Site branding
 */

.site-branding {
	flex: 1 0 50%;
	line-height: 1.1;

	& a {
		text-decoration-color: transparent;
	}
}

.site-branding__link {
	display: block;
	text-decoration: none;

	@media (--medium) {
		display: inline-block;
	}

	&:hover {
		text-decoration: none;
	}

	& + .site-branding__description {
		color: hsla(var(--theme-site-branding-description-color), 1);
		margin-top: 0.25rem;
		opacity: var(--theme-site-branding-description-opacity);

		@media (--small) {
			margin-left: 0.5rem;
			margin-top: 0;
			padding-left: 1.75rem;
		}

		&::before {
			@media (--small) {
				background-color: currentColor;
				content: "";
				display: block;
				height: 100%;
				left: 10px;
				opacity: 0.25;
				position: absolute;
				width: 1px;
			}
		}
	}
}

.site-branding__title {
	color: hsla(var(--theme-site-branding-title-color), 1);
	font-family: var(--theme-heading-font-family);
	font-size: var(--theme-h4-font-size);
	font-weight: 700;
}
