/**
 * Site search toggle <button>
 */

/**
 * Button to toggle search
 *
 * Typically hidden on small screens and shown on larger.
 */
.site-search__toggle {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: hsl(var(--theme-site-search__toggle-color));
	display: inline-block;
	line-height: 1;
	padding: 0 0.4rem;
	position: relative;
	z-index: 1;

	@media (--large) {
		display: block;
	}

	&:focus {
		outline: 1px dotted var(--theme-primary-menu--color);
	}

	&:active,
	&:focus,
	&:hover {
		background-color: transparent;
		border: none;
		box-shadow: none;
		color: hsl(var(--theme-primary-menu--color-interactive));
	}

	& svg {
		fill: currentColor;
		height: var(--theme-site-search__toggle-height);
		width: var(--theme-site-search__toggle-width);
	}
}
