/*! Social Icons */
.social-icons {

	& a {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: var(--theme-social--spacing);

		&:focus {
			@mixin outline;
		}

		&:hover svg,
		&:focus svg {
			outline: none;
			transform: scale(1.125);
		}
	}

	& svg {
		fill: hsl(var(--theme-social--color));
		transition: transform 0.15s linear;
		vertical-align: middle;
	}
}
