/*! Social Icons */
.social-icons {

	&:hover li a {
		opacity: 0.65;
	}

	& li:hover a {
		opacity: 1;
	}

	& a {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: var(--theme-social--spacing);
		transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);

		&:focus {
			@mixin outline;
		}
	}

	& svg {
		fill: hsl(var(--theme-social--color));
		vertical-align: middle;
	}
}
