/*! Base */

.wp-block {
	--total-block-padding: calc(var(--theme-block-padding-x) * 1.5);
	max-width: calc(var(--theme-max-w-base) - var(--total-block-padding));

	& .wp-block {
		width: 100%;
	}
}

.wp-block[data-align="wide"] {
	max-width: var(--theme-max-w-wide);
}

.wp-block[data-align="full"] {
	max-width: none;
}

/*! Base Typography */

body {
	color: hsl(var(--theme-color-text));
	font-family: var(--theme-body--font);
	font-size: var(--theme-body--font-size);
	font-weight: var(--theme-body--weight);
	letter-spacing: var(--theme-body--tracking);
	line-height: var(--theme-body--leading);
}

p {
	font-size: var(--theme-body--font-size);
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

/* @import url("elements/headings.css"); */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--theme-heading--font);
	font-style: var(--theme-heading--style);
	font-weight: var(--theme-heading--weight);
	line-height: var(--theme-heading--leading);
}

h1 {
	color: hsl(var(--theme-h1--color));
	font-size: var(--theme-h1--font-size);
	letter-spacing: var(--theme-heading--tracking);
}

h2 {
	color: hsl(var(--theme-h2--color));
	font-size: var(--theme-h2--font-size);
	letter-spacing: var(--theme-heading--tracking);
}

h3 {
	color: hsl(var(--theme-h3--color));
	font-size: var(--theme-h3--font-size);
}

h4 {
	color: hsl(var(--theme-h4--color));
	font-size: var(--theme-h4--font-size);
}

h5 {
	color: hsl(var(--theme-h5--color));
	font-size: var(--theme-h5--font-size);
}

h6 {
	color: hsl(var(--theme-h6--color));
	font-size: var(--theme-h6--font-size);
}
