// Global variables
@import "config/breakpoints";
@import "config/mixins";
@import "config/root";

// Styling the editor
@import "editor/settings";
@import "editor/vertical-rhythm";
@import "editor/horizontal-rhythm";
@import "editor/title-block";
@import "editor/title-permalink";

@import "elements/headings";
@import "elements/typography";

// Blocks
// @import "blocks/blocks"; // We shouldnt need these styles also in this file.
@import "blocks/blocks-editor";

/**
 * Utitlities
 */
@import "utilities/padding";
@import "utilities/font-sizes";
@import "utilities/captions";
@import "utilities/colors";

.wp-block figcaption {
	margin-top: 0 !important;
}

[data-align="full"] figcaption {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.wp-block-pullquote blockquote > .block-editor-rich-text p {
	font-size: var(--go-pullquote--font-size, --go--type-scale-5);
	line-height: var(--go-pullquote--line-height, 1.25);
}

.wp-block-search__label .rich-text,
label:not(.components-toggle-control__label):not(.components-base-control__label):not(.has-text-color) {
	color: var(--go-label--color--text, var(--go-heading--color--text));
	font-family: var(--go-label--font-family, --go-navigation--font-family);
	font-size: var(--go-label--font-size);
	font-weight: var(--go-label--font-weight);
	letter-spacing: var(--go-label--letter-spacing);
	text-transform: var(--go-label--text-transform, normal);
}

.wp-block-search__label .rich-text {
	margin-bottom: calc(var(--go-label--margin-bottom) - 5px);
}

.wp-block-search__input,
.wp-block[data-type="coblocks/form"] .components-text-control__input,
.wp-block[data-type="coblocks/form"] .components-textarea-control__input {
	background-color: var(--go-input--color--background, --go--color--white);
	border: var(--go-input--border);
	border-radius: var(--go-input--border-radius, --go-button--border-radius);
	box-shadow: var(--go-input--box-shadow, none);
	color: var(--go-input--color--text);
	font-size: var(--go-input--font-size);
	font-weight: var(--go-input--font-weight, 400);
	padding: var(--go-input--padding--y) var(--go-input--padding--x);
}

/*! Default Appender */
.editor-default-block-appender .editor-default-block-appender__content {
	font-family: var(--go--font-family);
	font-size: var(--go--font-size);
}

.gform_wrapper {

	.gfield_time_hour i {
		margin-top: 0 !important;
	}

	.gfield_time_ampm select {
		height: inherit !important;
	}
}

/*! Block Editor Insert Panel Fix */
.block-editor-inserter__panel-content {

	.wp-block[data-align="full"],
	.wp-block[data-align="wide"] {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}
