/* Vertical Rhythm */
@import url("editor/vertical-rhythm.css");
@import url("config/media-queries.css");
@import url("config/mixins.css");
@import url("config/colors.css");
@import url("editor/settings.css");
@import url("editor/widths.css");
@import url("editor/title-block.css");
@import url("editor/title-permalink.css");
@import url("utilities/padding.css");
@import url("elements/headings.css");
@import url("elements/typography.css");

/* Custom Editor Styles */
@import url("editor/hero.css");
@import url("editor/group.css");

/* Utitlities */
@import url("utilities/captions.css");
@import url("utilities/colors.css");

/* Core */
@import url("blocks/paragraph.css");
@import url("blocks/audio-video.css");
@import url("blocks/code.css");
@import url("blocks/cover.css");
@import url("blocks/file.css");
@import url("blocks/search.css");
@import url("blocks/button.css");
@import url("blocks/verse.css");
@import url("blocks/quote.css");
@import url("blocks/pullquote.css");

/* CoBlocks */
@import url("coblocks/accordion.css");
@import url("coblocks/pricing-table.css");
@import url("coblocks/social.css");
@import url("coblocks/services.css");
@import url("coblocks/features.css");
@import url("coblocks/carousel.css");
@import url("coblocks/food-drinks.css");

.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: var(--theme-body--leading);
}

/* Captions */
.wp-block figcaption {
	margin-top: 0 !important;
}

[data-align="full"] figcaption {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

/*  Author */
.wp-block-coblocks-author {
	padding: var(--coblocks-author--padding, 2.5rem);
}

/*  Food & Drinks */
.wp-block-coblocks-food-and-drinks .wp-block[data-type="core/heading"] {

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		background-color: hsl(var(--coblocks-food-drinks-title--bg));
		border-bottom: var(--coblocks-food-drinks-title--border-bottom);
		color: hsl(var(--coblocks-food-drinks-title--color));
		font-size: var(--coblocks-food-drinks-title--font-size);
		font-style: var(--coblocks-food-drinks-title--style);
		margin-bottom: var(--coblocks-food-drinks-title--margin-y);
		padding: var(--coblocks-food-drinks-title--padding);
	}
}

.wp-block[data-type="coblocks/food-item"] [data-block] {
	margin-bottom: 0;
}

.wp-block-coblocks-food-item__heading-wrapper {
	margin-bottom: 0.5rem;
}

.wp-block-coblocks-food-item__heading {
	margin-bottom: 0.4em;

	& h4 {
		font-size: var(--coblocks-food-drinks-item--font-size);
		font-weight: var(--coblocks-food-drinks-item--weight);
		letter-spacing: var(--coblocks-food-drinks-item--tracking);
		text-transform: var(--coblocks-food-drinks-item--text-transform);
	}
}

/*  Columns */
.wp-block-columns {

	& .wp-block-quote {
		max-width: none;

		&.is-style-large {
			margin-left: 0;
			margin-right: 0;
		}
	}

	& .wp-block[data-type="core/paragraph"] ~ .wp-block[data-type="core/button"] {
		margin-bottom: 0 !important;
	}
}

/* Latest Posts */
.wp-block-latest-posts {
	padding-left: 0;
}

/* Pullquote */
.wp-block-pullquote blockquote > .block-editor-rich-text p {
	font-size: var(--theme-pullquote--font-size);
	line-height: var(--theme-pullquote--leading);
}

.wp-block[data-type="core/pullquote"] {

	& .is-style-solid-color blockquote {
		padding-left: var(--theme-block-padding-x);
		padding-right: var(--theme-block-padding-x);
	}
}

/* Forms */
.wp-block[data-type="coblocks/form"] {

	& .wp-block {
		margin-bottom: var(--theme-input--spacing);
	}

	& .components-base-control__field {
		align-content: center;
		align-items: center;
	}

	& .components-form-toggle {
		display: flex;
		margin-top: 0 !important;
	}

	& .components-base-control__field label {
		line-height: 1;
	}

	& .required {
		color: hsl(var(--theme-color-primary));
		margin-top: -6px;
	}
}

.wp-block-search__label .rich-text,
label:not(.components-toggle-control__label):not(.components-base-control__label) {
	color: hsl(var(--theme-label--color));
	font-family: var(--theme-label--font);
	font-size: var(--theme-label--font-size);
	font-weight: var(--theme-label--weight);
	letter-spacing: var(--theme-label--tracking);
	text-transform: var(--theme-label--transform);
}

.wp-block-search__label .rich-text {
	margin-bottom: calc(var(--theme-label--spacing) - 5px);
}

.coblocks-field-label {
	margin-bottom: calc(var(--theme-label--spacing) - 5px);
}

.wp-block-search__input,
.wp-block[data-type="coblocks/form"] .components-text-control__input,
.wp-block[data-type="coblocks/form"] .components-textarea-control__input {
	background-color: hsl(var(--theme-input--bg));
	border: var(--theme-input--border);
	border-radius: var(--theme-input--radius, var(--theme-button--radius));
	box-shadow: var(--theme-input--shadow, none);
	color: hsl(var(--theme-input--color));
	font-size: var(--theme-input--font-size);
	font-weight: var(--theme-input--weight);
	padding: var(--theme-input--padding-y) var(--theme-input--padding-x);
}

/* Default Appender */
.editor-default-block-appender .editor-default-block-appender__content {
	font-family: var(--theme-body--font);
	font-size: var(--theme-body--font-size);
}

/*  Features */
.wp-block-coblocks-feature .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

/*  Services */
.wp-block-coblocks-service .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

.wp-block[data-type="coblocks/service"] {
	margin-left: 0;
	margin-right: 0;
}

[data-columns="2"] .wp-block[data-type="coblocks/service"] {
	@media (--medium) {
		max-width: calc(100% / 2 - 1em);
	}
}

[data-columns="3"] .wp-block[data-type="coblocks/service"] {
	@media (--large) {
		max-width: calc(100% / 3 - 0.5em);
	}
}

[data-columns="4"] .wp-block[data-type="coblocks/service"] {
	@media (--small) {
		max-width: calc(100% / 2 - 1em);
	}

	@media (--large) {
		max-width: calc(100% / 4 - 0.5em);
	}
}

/* Forms */
.gform_wrapper {

	& .gfield_time_hour i {
		margin-top: 0 !important;
	}

	& .gfield_time_ampm select {
		height: inherit !important;
	}
}

/*! Verse */
.wp-block-verse pre {
	margin: 0;
	padding: 0;
}

/*! Button */
.wp-block-button__link,
.wp-block-search__button {

	&:focus {
		outline: none !important;
	}
}

.is-style-outline .wp-block-button__link {
	border: 2px solid;
}

/*! Table */
.wp-block-table {

	& table td,
	& table th {
		border: 2px solid hsl(var(--theme-table--border-color, var(--theme-color-heading)));
	}
}

/*! Separator */
.wp-block[data-type="core/separator"] {
	margin-bottom: var(--editor-block-spacing, 4em);
	margin-top: var(--editor-block-spacing, 4em);
}

.wp-block-separator {
	border-bottom-color: hsl(var(--theme-separator--color, var(--theme-color-heading)));
	padding: 0;

	&.is-style-wide {
		max-width: 100%;
	}

	&.is-style-dots::before {
		font-size: var(--theme-separator--dot-size, 2rem);
	}
}

