/* Reset */
@import url("normalize.css");

/* Global Variables */
@import url("config/media-queries.css");
@import url("config/colors.css");
@import url("config/editor-font-sizes.css");
@import url("config/mixins.css");

/* Elements */
@import url("elements/page.css");
@import url("elements/typography.css");
@import url("elements/links.css");
@import url("elements/buttons.css");
@import url("elements/labels.css");
@import url("elements/forms.css");
@import url("elements/headings.css");
@import url("elements/lists.css");
@import url("elements/media.css");
@import url("blocks/table.css");

/* Layout */
@import url("layout/content.css");
@import url("layout/alignments.css");
@import url("layout/entry-header.css");
@import url("layout/featured-image.css");
@import url("layout/post.css");
@import url("layout/pagination.css");
@import url("layout/404.css");

/* Header */
@import url("header/header.css");
@import url("header/header-2.css");
@import url("header/header-3.css");
@import url("header/header-4.css");
@import url("header/header__nav-toggle.css");
@import url("header/header__navigation.css");
@import url("header/header__navigation-mobile.css");
@import url("header/header__search-toggle.css");
@import url("header/header__cart-toggle.css");
@import url("header/header__titles.css");
@import url("header/site-search.css");
@import url("header/search-modal.css");
@import url("header/sub-menu.css");

/* Footer */
@import url("footer/footer-1.css");
@import url("footer/footer-2.css");
@import url("footer/footer-3.css");
@import url("footer/footer-4.css");
@import url("footer/site-footer.css");

/* Misc Components */
@import url("components/posts-navigation.css");
@import url("components/comments.css");
@import url("components/social-icons.css");

/*! Blocks */
@import url("blocks/button.css");
@import url("blocks/separator.css");
@import url("blocks/image.css");
@import url("blocks/columns.css");
@import url("blocks/cover.css");
@import url("blocks/media.css");
@import url("blocks/gallery.css");
@import url("blocks/preformatted.css");
@import url("blocks/pullquote.css");
@import url("blocks/file.css");
@import url("blocks/latest-posts.css");
@import url("blocks/latest-comments.css");
@import url("blocks/quote.css");
@import url("blocks/paragraph.css");
@import url("blocks/verse.css");
@import url("blocks/more.css");
@import url("blocks/code.css");
@import url("blocks/audio-video.css");
@import url("blocks/search.css");
@import url("blocks/group.css");

/*! CoBlocks */
@import url("coblocks/author.css");
@import url("coblocks/form.css");
@import url("coblocks/row.css");
@import url("coblocks/food-drinks.css");
@import url("coblocks/icon.css");
@import url("coblocks/masonry.css");
@import url("coblocks/carousel.css");
@import url("coblocks/accordion.css");
@import url("coblocks/pricing-table.css");
@import url("coblocks/services.css");
@import url("coblocks/dynamic-separator.css");
@import url("coblocks/social.css");
@import url("coblocks/shape-divider.css");
@import url("coblocks/alert.css");
@import url("coblocks/hero.css");
@import url("coblocks/features.css");
@import url("coblocks/media-card.css");

/*! WooCommerce */
@import url("woocommerce/notice.css");
@import url("woocommerce/onsale.css");
@import url("woocommerce/account.css");
@import url("woocommerce/button.css");
@import url("woocommerce/cart.css");
@import url("woocommerce/checkbox.css");
@import url("woocommerce/forms.css");
@import url("woocommerce/product.css");
@import url("woocommerce/pagination.css");
@import url("woocommerce/shop.css");
@import url("woocommerce/tabs.css");
@import url("woocommerce/typography.css");
@import url("woocommerce/thank-you.css");
@import url("woocommerce/blocks.css");
@import url("woocommerce/single-product.css");
@import url("woocommerce/slideout-menu.css");

/*! Gravity Forms */
@import url("gravity/forms.css");
@import url("gravity/checkbox.css");
@import url("gravity/radio.css");

/* Utilities */
@import url("utilities/captions.css");
@import url("utilities/accessibility.css");
@import url("utilities/font-sizes.css");
@import url("utilities/colors.css");
@import url("utilities/padding.css");

.site-content {
	overflow: hidden;
}

/* Everything below here still needs organizing */
.u-informational {
	background-color: hsla(var(--theme-feedback-informational-color), 0.1);
	border: 1px solid hsla(var(--theme-feedback-informational-color), 1);
	color: hsla(var(--theme-feedback-informational-color), 1);
	line-height: 2;
	padding: 0 0.5em;
}

.max-w-sml {
	max-width: 40em;
}

.wp-block-coblocks-pricing-table-item__title {
	font-family: var(--theme-site-nav--font);
	font-size: var(--theme-site-nav--font-size);
	font-weight: var(--theme-site-nav--weight);
	letter-spacing: var(--theme-site-nav--tracking);
	text-transform: var(--theme-site-nav--text-transform);
}

div[class*="wp-block"].mb-0 {
	margin-bottom: 0 !important;
}

/*! Utility Classes */
p {
	margin: 0 0 1.25rem;

	&:last-child {
		margin-bottom: 0;
	}
}

figure {
	margin-left: 0;
	margin-right: 0;
}

.bypostauthor {
	display: block;
}

.h-inherit {
	height: inherit;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-none {
	display: none;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.items-center {
	align-items: center;
}

.w-full {
	width: 100%;
}

.m-0 {
	margin: 0;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-start {
	justify-content: start;
}

.justify-end {
	justify-content: flex-end;
}

.sticky {
	display: block;
}

.text-xs {
	font-size: var(--theme-text-xs);
}

.text-sm {
	font-size: var(--theme-text-sm);
}

.no-underline {
	text-decoration: none;
}

.relative {
	position: relative;
}

.max-w-base {
	max-width: var(--theme-max-w-base);
}

.max-w-wide {
	max-width: var(--theme-max-w-wide);
}

.max-w-full {
	max-width: 100%;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.bold {
	font-weight: 700;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.px {
	padding-left: var(--theme-block-padding-x) !important;
	padding-right: var(--theme-block-padding-x) !important;
}

@media (--small) {

	.sm\:display-block {
		display: block;
	}

	.sm\:flex {
		display: flex;
	}

	.sm\:flex-wrap {
		flex-wrap: wrap;
	}

	.sm\:flex-nowrap {
		flex-wrap: nowrap;
	}

	.sm\:justify-start {
		justify-content: start;
	}

	.sm\:max-w-base {
		max-width: var(--theme-max-w-base);
	}
}

@media (--medium) {

	.md\:flex {
		display: flex;
	}

	.md\:flex-column {
		flex-direction: column;
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:flex-wrap {
		flex-wrap: wrap;
	}

	.md\:flex-nowrap {
		flex-wrap: nowrap;
	}

	.md\:max-w-base {
		max-width: var(--theme-max-w-base);
	}

	.md\:max-w-wide {
		max-width: var(--theme-max-w-wide);
	}

	.md\:justify-between {
		justify-content: space-between;
	}

	.md\:items-center {
		align-items: center;
	}

	.md\:w-full {
		width: 100%;
	}

	.md\:text-right {
		text-align: right;
	}
}

@media (--large) {

	.lg\:flex {
		display: flex;
	}

	.lg\:flex-wrap {
		flex-wrap: wrap;
	}

	.lg\:flex-nowrap {
		flex-wrap: nowrap;
	}

	.lg\:flex-column {
		flex-direction: column;
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:justify-between {
		justify-content: space-between;
	}

	.lg\:justify-center {
		justify-content: center;
	}

	.lg\:justify-start {
		justify-content: start;
	}

	.lg\:items-center {
		align-items: center;
	}

	.lg\:max-w-base {
		max-width: var(--theme-max-w-base);
	}

	.lg\:max-w-wide {
		max-width: var(--theme-max-w-wide);
	}
}
