/*! Global Variables */
@import "config/breakpoints";
@import "config/mixins";
@import "config/root";

/**
 * Blocks
 */
@import "blocks/blocks";
@import "blocks/blocks-editor";






/**
 * Editor styles
 */
@import "editor/vertical-rhythm";
@import "editor/settings";
@import "editor/widths";
@import "editor/title-block";
@import "editor/title-permalink";
@import "utilities/padding";
@import "utilities/font-sizes";
@import "elements/headings";
@import "elements/typography";

/**
 * Custom Editor Styles
 */
// @import "editor/hero";
// @import "editor/group";
@import "editor/woocommerce-blocks";

/**
 * Utitlities
 */
@import "utilities/captions";
@import "utilities/colors";

// @import "blocks/paragraph";
// @import "blocks/code";
// @import "blocks/cover";
// @import "blocks/file";
// @import "blocks/search";
// @import "blocks/button";
// @import "blocks/verse";
// @import "blocks/quote";
// @import "blocks/pullquote";

// /**
//  * CoBlocks
//  */
// @import "coblocks/accordion";
// @import "coblocks/carousel";
// @import "coblocks/events";
// @import "coblocks/features";
// @import "coblocks/food-drinks";
// @import "coblocks/pricing-table";
// @import "coblocks/services";
// @import "coblocks/social";

.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: var(--go--line-height);
}

.wp-block figcaption {
	margin-top: 0 !important;
}

[data-align="full"] figcaption {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.wp-block-pullquote blockquote > .block-editor-rich-text p {
	font-size: var(--go-pullquote--font-size, --go--type-scale-5);
	line-height: var(--go-pullquote--line-height, 1.25);
}

.wp-block-search__label .rich-text,
label:not(.components-toggle-control__label):not(.components-base-control__label):not(.has-text-color) {
	color: var(--go-label--color--text, --go-heading--color--text);
	font-family: var(--go-label--font-family, --go-navigation--font-family);
	font-size: var(--go-label--font-size);
	font-weight: var(--go-label--font-weight);
	letter-spacing: var(--go-label--letter-spacing);
	text-transform: var(--go-label--text-transform, normal);
}

.wp-block-search__label .rich-text {
	margin-bottom: calc(var(--go-label--margin-bottom) - 5px);
}


.wp-block-search__input,
.wp-block[data-type="coblocks/form"] .components-text-control__input,
.wp-block[data-type="coblocks/form"] .components-textarea-control__input {
	background-color: var(--go-input--color--background, --go--color--white);
	border: var(--go-input--border);
	border-radius: var(--go-input--border-radius, --go-button--border-radius);
	box-shadow: var(--go-input--box-shadow, none);
	color: var(--go-input--color--text);
	font-size: var(--go-input--font-size);
	font-weight: var(--go-input--font-weight, 400);
	padding: var(--go-input--padding--y) var(--go-input--padding--x);
}

/*! Default Appender */
.editor-default-block-appender .editor-default-block-appender__content {
	font-family: var(--go--font-family);
	font-size: var(--go--font-size);
}

/*! Features */
.wp-block-coblocks-feature .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

/*! Services */
.wp-block-coblocks-service .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

.wp-block[data-type="coblocks/service"] {
	margin-left: 0;
	margin-right: 0;
}

[data-columns="2"] .wp-block[data-type="coblocks/service"] {
	@include media(medium) {
		max-width: calc(100% / 2 - 1em);
	}
}

[data-columns="3"] .wp-block[data-type="coblocks/service"] {
	@include media(large) {
		max-width: calc(100% / 3 - 0.5em);
	}
}

[data-columns="4"] .wp-block[data-type="coblocks/service"] {
	@include media(small) {
		max-width: calc(100% / 2 - 1em);
	}

	@include media(large) {
		max-width: calc(100% / 4 - 0.5em);
	}
}

.gform_wrapper {

	.gfield_time_hour i {
		margin-top: 0 !important;
	}

	.gfield_time_ampm select {
		height: inherit !important;
	}
}

/*! Verse */
.wp-block-verse pre {
	margin: 0;
	padding: 0;
}

/*! Button */
.wp-block-button__link,
.wp-block-search__button {

	&:focus {
		outline: none !important;
	}
}

.is-style-outline .wp-block-button__link {
	border: 2px solid;
}

/*! WooCommerce products */
.wc-block-grid__products {
	padding-left: 0;
}

.wc-block-grid__products .wc-block-grid__product-image img {
	width: auto;
}

.wc-block-grid__products .wc-block-grid__product-title,
.wc-block-grid__products .woocommerce-loop-product__title {
	color: var(--go-heading--color--text);
	font-family: var(--go-heading--font-family);
	font-size: var(--go--type-scale-2);
	font-weight: var(--go-heading--font-weight);
	letter-spacing: var(--go-heading--letter-spacing);
	line-height: var(--go-heading--line-height);
	margin-bottom: 2rem;
	text-decoration: none !important;

	@include media(large) {
		font-size: var(--go--type-scale-3);
	}

}

/*! Block Editor Insert Panel Fix */
.block-editor-inserter__panel-content {

	.wp-block[data-align="full"],
	.wp-block[data-align="wide"] {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}
