@import "config/normalize";

// Global variables
@import "config/breakpoints";
@import "config/mixins";
@import "config/root";

// Elements
@import "elements/page";
@import "elements/typography";
@import "elements/links";
@import "elements/buttons";
@import "elements/labels";
@import "elements/forms";
@import "elements/headings";
@import "elements/lists";
@import "elements/media";

// Layout
@import "layout/alignments";
@import "layout/entry-header";
@import "layout/featured-image";
@import "layout/post";
@import "layout/pagination";
@import "layout/404";

// Header
@import "header/header";
@import "header/header-2";
@import "header/header-3";
@import "header/header-4";
@import "header/header__nav-toggle";
@import "header/header__navigation";
@import "header/header__navigation-mobile";
@import "header/header__search-toggle";
@import "header/header__cart-toggle";
@import "header/header__titles";
@import "header/site-search";
@import "header/search-modal";
@import "header/sub-menu";

// Footer
@import "footer/footer-1";
@import "footer/footer-2";
@import "footer/footer-3";
@import "footer/footer-4";
@import "footer/site-footer";

//Misc Components
@import "components/posts-navigation";
@import "components/comments";
@import "components/social-icons";

//Blocks
@import "blocks/blocks";

//WooCommerce
@import "woocommerce/notice";
@import "woocommerce/onsale";
@import "woocommerce/account";
@import "woocommerce/button";
@import "woocommerce/cart";
@import "woocommerce/checkout";
@import "woocommerce/checkbox";
@import "woocommerce/radio";
@import "woocommerce/forms";
@import "woocommerce/product";
@import "woocommerce/pagination";
@import "woocommerce/shop";
@import "woocommerce/tabs";
@import "woocommerce/typography";
@import "woocommerce/thank-you";
@import "woocommerce/blocks";
@import "woocommerce/single-product";
@import "woocommerce/slideout-menu";

// Gravity Forms
@import "gravity/forms";
@import "gravity/checkbox";
@import "gravity/radio";

// Utilities
@import "utilities/captions";
@import "utilities/accessibility";
@import "utilities/font-sizes";
@import "utilities/colors";
@import "utilities/padding";

// AMP
@import "amp/amp";

.site-content {
	overflow: hidden;
}

/* Everything below here still needs organizing */
.u-informational {
	background-color: var(--go-customizer-notice--color--background, hsla(208, 100%, 43%, 0.1));
	border: 1px solid var(--go-customizer-notice--color--text, hsl(208, 100%, 43%));
	color: var(--go-customizer-notice--color--text, hsl(208, 100%, 43%));
	line-height: 2;
	padding: 0 0.5em;
}

.max-w-sml {
	max-width: 40em;
}

div[class*="wp-block"].mb-0 {
	margin-bottom: 0 !important;
}

/*! Utility Classes */
p {
	margin: 0 0 1.25rem;

	&:last-child {
		margin-bottom: 0;
	}
}

figure {
	margin-left: 0;
	margin-right: 0;
}

.bypostauthor {
	display: block;
}

.h-inherit {
	height: inherit;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-none {
	display: none;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.items-center {
	align-items: center;
}

.w-full {
	width: 100%;
}

.m-0 {
	margin: 0;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-start {
	justify-content: start;
}

.justify-end {
	justify-content: flex-end;
}

.sticky {
	display: block;
}

.text-xs {
	font-size: var(--go--font-size--smallest);
}

.text-sm {
	font-size: var(--go--font-size--small);
}

.no-underline {
	text-decoration: none;
}

.relative {
	position: relative;
}

.max-w-base {
	max-width: var(--go--max-width);
}

.max-w-wide {
	max-width: var(--go--max-width--alignwide);
}

.max-w-full {
	max-width: 100%;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.bold {
	font-weight: 700;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.px {
	padding-left: var(--go-block--padding--x) !important;
	padding-right: var(--go-block--padding--x) !important;
}

@include media(small) {
	.sm\:display-block {
		display: block;
	}

	.sm\:flex {
		display: flex;
	}

	.sm\:flex-wrap {
		flex-wrap: wrap;
	}

	.sm\:flex-nowrap {
		flex-wrap: nowrap;
	}

	.sm\:justify-start {
		justify-content: start;
	}

	.sm\:max-w-base {
		max-width: var(--go--max-width);
	}
}
@include media(medium) {
	.md\:flex {
		display: flex;
	}

	.md\:flex-column {
		flex-direction: column;
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:flex-wrap {
		flex-wrap: wrap;
	}

	.md\:flex-nowrap {
		flex-wrap: nowrap;
	}

	.md\:max-w-base {
		max-width: var(--go--max-width);
	}

	.md\:max-w-wide {
		max-width: var(--go--max-width--alignwide);
	}

	.md\:justify-between {
		justify-content: space-between;
	}

	.md\:items-center {
		align-items: center;
	}

	.md\:w-full {
		width: 100%;
	}

	.md\:text-right {
		text-align: right;
	}
}
@include media(large) {
	.lg\:flex {
		display: flex;
	}

	.lg\:flex-wrap {
		flex-wrap: wrap;
	}

	.lg\:flex-nowrap {
		flex-wrap: nowrap;
	}

	.lg\:flex-column {
		flex-direction: column;
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:justify-between {
		justify-content: space-between;
	}

	.lg\:justify-center {
		justify-content: center;
	}

	.lg\:justify-start {
		justify-content: start;
	}

	.lg\:items-center {
		align-items: center;
	}

	.lg\:max-w-base {
		max-width: var(--go--max-width);
	}

	.lg\:max-w-wide {
		max-width: var(--go--max-width--alignwide);
	}
}
