/* Global Variables */
@import url("editor/vertical-rhythm.css");
@import url("config/media-queries.css");
@import url("config/mixins.css");
@import url("config/root.css");
@import url("editor/settings.css");
@import url("editor/widths.css");
@import url("editor/title-block.css");
@import url("editor/title-permalink.css");
@import url("utilities/padding.css");
@import url("elements/headings.css");
@import url("elements/typography.css");

/* Custom Editor Styles */
@import url("editor/hero.css");
@import url("editor/group.css");

/* Utitlities */
@import url("utilities/captions.css");
@import url("utilities/colors.css");

/* Core */
@import url("blocks/paragraph.css");
@import url("blocks/audio-video.css");
@import url("blocks/code.css");
@import url("blocks/cover.css");
@import url("blocks/file.css");
@import url("blocks/search.css");
@import url("blocks/button.css");
@import url("blocks/verse.css");
@import url("blocks/quote.css");
@import url("blocks/pullquote.css");

/* CoBlocks */
@import url("coblocks/accordion.css");
@import url("coblocks/pricing-table.css");
@import url("coblocks/social.css");
@import url("coblocks/services.css");
@import url("coblocks/features.css");
@import url("coblocks/carousel.css");
@import url("coblocks/food-drinks.css");

.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: var(--go--line-height);
}

/* Captions */
.wp-block figcaption {
	margin-top: 0 !important;
}

[data-align="full"] figcaption {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

/*  Author */
.wp-block-coblocks-author {
	padding: var(--wp-block-coblocks-author--padding, 2.5rem);
}

/*  Food & Drinks */
.wp-block-coblocks-food-and-drinks .wp-block[data-type="core/heading"] {

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		background-color: var(--wp-block-coblocks-food-drinks--heading--color--background, var(--go-heading--color--text));
		border-bottom: var(--wp-block-coblocks-food-drinks--heading--border-bottom, none);
		color: var(--wp-block-coblocks-food-drinks--heading--color--text, var(--go--color--white));
		font-size: var(--wp-block-coblocks-food-drinks--heading--font-size, 1.25rem);
		font-style: var(--wp-block-coblocks-food-drinks--heading--font-style, normal);
		margin-bottom: var(--wp-block-coblocks-food-drinks--heading--margin-bottom, 0.65rem);
		padding: var(--wp-block-coblocks-food-drinks--heading--padding, 0.4rem 0.25rem 0.4rem);
	}
}

.wp-block[data-type="coblocks/food-item"] [data-block] {
	margin-bottom: 0;
}

.wp-block-coblocks-food-item__heading-wrapper {
	margin-bottom: 0.5rem;
}

.wp-block-coblocks-food-item__heading {
	margin-bottom: 0.4em;

	& h4 {
		font-size: var(--wp-block-coblocks-food-item--heading--font-size);
		font-weight: var(--wp-block-coblocks-food-item--heading--font-weight, var(--go-heading--font-weight));
		letter-spacing: var(--wp-block-coblocks-food-item--heading--letter-spacing, 2px);
		text-transform: var(--wp-block-coblocks-food-item--heading--text-transform, uppercase);
	}
}

/*  Columns */
.wp-block-columns {

	& .wp-block-quote {
		max-width: none;

		&.is-style-large {
			margin-left: 0;
			margin-right: 0;
		}
	}

	& .wp-block[data-type="core/paragraph"] ~ .wp-block[data-type="core/button"] {
		margin-bottom: 0 !important;
	}
}

/* Latest Posts */
.wp-block-latest-posts {
	padding-left: 0;
}

/* Pullquote */
.wp-block-pullquote blockquote > .block-editor-rich-text p {
	font-size: var(--go-pullquote--font-size, var(--go--type-scale-5));
	line-height: var(--go-pullquote--line-height, 1.25);
}

.wp-block[data-type="core/pullquote"] {

	& .is-style-solid-color blockquote {
		padding-left: var(--go-block--padding--x);
		padding-right: var(--go-block--padding--x);
	}
}

/* Forms */
.wp-block[data-type="coblocks/form"] {

	& .wp-block {
		margin-bottom: var(--go-input--margin-bottom);
	}

	& .components-base-control__field {
		align-content: center;
		align-items: center;
	}

	& .components-form-toggle {
		display: flex;
		margin-top: 0 !important;
	}

	& .components-base-control__field label {
		line-height: 1;
	}

	& .required {
		color: var(--go--color--primary);
		margin-top: -6px;
	}
}

.wp-block-search__label .rich-text,
label:not(.components-toggle-control__label):not(.components-base-control__label) {
	color: var(--go-label--color--text, var(--go-heading--color--text));
	font-family: var(--go-label--font-family, var(--go-navigation--font-family));
	font-size: var(--go-label--font-size);
	font-weight: var(--go-label--font-weight);
	letter-spacing: var(--go-label--letter-spacing);
	text-transform: var(--go-label--text-transform, normal);
}

.wp-block-search__label .rich-text {
	margin-bottom: calc(var(--go-label--margin-bottom) - 5px);
}

.coblocks-field-label {
	margin-bottom: calc(var(--go-label--margin-bottom) - 5px);
}

.wp-block-search__input,
.wp-block[data-type="coblocks/form"] .components-text-control__input,
.wp-block[data-type="coblocks/form"] .components-textarea-control__input {
	background-color: var(--go-input--color--background, var(--go--color--white));
	border: var(--go-input--border);
	border-radius: var(--go-input--border-radius, var(--go-button--border-radius));
	box-shadow: var(--go-input--box-shadow, none);
	color: var(--go-input--color--text);
	font-size: var(--go-input--font-size);
	font-weight: var(--go-input--font-weight, 400);
	padding: var(--go-input--padding--y) var(--go-input--padding--x);
}

/* Default Appender */
.editor-default-block-appender .editor-default-block-appender__content {
	font-family: var(--go--font-family);
	font-size: var(--go--font-size);
}

/*  Features */
.wp-block-coblocks-feature .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

/*  Services */
.wp-block-coblocks-service .wp-block[data-type="core/heading"] [data-block] {
	margin-bottom: -10px;
}

.wp-block[data-type="coblocks/service"] {
	margin-left: 0;
	margin-right: 0;
}

[data-columns="2"] .wp-block[data-type="coblocks/service"] {
	@media (--medium) {
		max-width: calc(100% / 2 - 1em);
	}
}

[data-columns="3"] .wp-block[data-type="coblocks/service"] {
	@media (--large) {
		max-width: calc(100% / 3 - 0.5em);
	}
}

[data-columns="4"] .wp-block[data-type="coblocks/service"] {
	@media (--small) {
		max-width: calc(100% / 2 - 1em);
	}

	@media (--large) {
		max-width: calc(100% / 4 - 0.5em);
	}
}

/* Forms */
.gform_wrapper {

	& .gfield_time_hour i {
		margin-top: 0 !important;
	}

	& .gfield_time_ampm select {
		height: inherit !important;
	}
}

/*! Verse */
.wp-block-verse pre {
	margin: 0;
	padding: 0;
}

/*! Button */
.wp-block-button__link,
.wp-block-search__button {

	&:focus {
		outline: none !important;
	}
}

.is-style-outline .wp-block-button__link {
	border: 2px solid;
}

/*! Table */
.wp-block-table {

	& table td,
	& table th {
		border: 2px solid var(--go-table--border-color, var(--go-heading--color--text));
	}
}

/*! Separator */
.wp-block[data-type="core/separator"] {
	margin-bottom: var(--editor-block-spacing, 4em);
	margin-top: var(--editor-block-spacing, 4em);
}

.wp-block-separator {
	border-bottom-color: var(--go-separator--color--border, var(--go-heading--color--text));
	padding: 0;

	&.is-style-wide {
		max-width: 100%;
	}

	&.is-style-dots::before {
		font-size: var(--go-separator--size, 2rem);
	}
}

