/**
 * Playful - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/carousel.css");

.wp-block-separator:not(.is-style-dots) {
	background-color: hsl(var(--theme-color-secondary));
	background-position: 50%;
	background-repeat: repeat-x;
	border: none;
	height: 9pt;
	mask-image: url("../../../dist/images/design-styles/playful/cross-stich-border.svg");
	max-width: 113px;
}

.wp-block-separator.is-style-dots:not(.has-text-color)::before {
	color: hsl(var(--theme-color-secondary));
}

.wp-block-pullquote p {
	margin-left: 1em;

	&::before {
		content: "“";
		font-size: 2em;
		line-height: 1;
		position: absolute;
		transform: translate3d(-120%, 0, 0);

		@media (--medium) {
			font-size: 3em;
		}
	}
}
