/**
 * Playful - Editor Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/carousel.css");

/*! Separator */
.wp-block-separator:not(.is-style-dots) {
	background-color: hsl(var(--theme-color-secondary));
	background-position: 50%;
	background-repeat: repeat-x;
	border: none;
	height: 9pt;
	mask-image: url("../../../dist/images/design-styles/playful/cross-stich-border.svg");
	max-width: 113px;
}
