/*
* Overrides to site search to better match primary button
*/

body {

	& .site-search {

		& .search-input__button {

			&::after {
				background-color: hsl(var(--color-white));
				bottom: 0;
				content: "";
				display: none;
				height: 8px;
				left: var(--theme-button-block-vertical-spacing-unit);
				position: absolute;
				right: var(--theme-button-block-vertical-spacing-unit);
			}

			&:hover {

				&::after {
					display: block;
				}
			}
		}
	}
}
