@import url("customize/global.css");
@import url("customize/switcher-control.css");
@import url("customize/range-control.css");

#customize-preview.is-loading {
	opacity: 0;
}

.wp-full-overlay {
	background: #fff;
}

.customize-control-design_style_control {

	& .customize-control-title {
		line-height: 1.75;
		margin-bottom: 4px;
	}
}

#customize-control-social_icon_color {
	margin-top: 10px;
}

#customize-control-header_background_color,
#customize-control-footer_background_color {
	margin-top: 5px;
}

.home .entry-header.page-header {
	display: none;
}
