/**
 * Creative Services - site search
 */

.site-search .search-form__input {
	border: 1px solid hsla(var(--THEME-COLOR-SECONDARY), 0.8);
}

.site-search .search-input__button {
	--theme-button-block-padding: var(--theme-spacing-unit);

	background-color: hsla(var(--THEME-COLOR-SECONDARY), 1);
	color: hsl(var(--THEME-COLOR-PRIMARY));
}
