/*! Layout: Error 404 & Search Not Found */
.not-found {
	text-align: center;

	& > * {
		max-width: var(--theme-not-found-width, 42rem);
	}

	& p {
		margin-bottom: calc(var(--vertical-rhythm--med) * 1.5);
	}

	& .site-search {
		margin-top: 0 !important;
	}

	& .search-form {
		display: flex;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& .search-input__arrow-icon {
		display: none;
	}

	& .search-input__button {
		outline-offset: 2px;
	}

	& input[type="search"] {
		margin-bottom: 0;
		margin-right: 8px;
		padding: var(--theme-input--padding-y) var(--theme-input--padding-x);
		width: 100%;
	}
}

.error404 {

	& .site-search {
		padding-top: 3rem;
	}
}
