/*! Layout: Error 404 */
.error404 {

	& .site-content {
		align-items: center;
		display: flex;
		margin-bottom: var(--theme-block-spacing-huge);
		margin-top: var(--theme-block-spacing-huge);
	}

	&[data-header="header-3"] .site-header__inner {
		padding-bottom: 0;
	}

	&[data-footer="footer-2"] .site-footer {
		padding-top: var(--theme-header--padding-y);
	}
}

.error-404 {

	& .entry-header {
		margin-bottom: 3rem;
		padding: 0;
		text-align: center;
	}

	& .page-title {
		margin: 0;
	}

	& .site-search {
		margin: 0 auto;
		max-width: 50em;
		opacity: 1;
		padding: 0 1rem;
		pointer-events: auto;
		position: relative;
		transform: none;

		@media (--medium) {
			padding: 0 5rem;
		}
	}
}
