/*! Layout: Content Area */
.content-area > * {
	margin-bottom: var(--vertical-rhythm);
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--vertical-rhythm);
	max-width: var(--theme-max-w-base);
	padding-left: var(--theme-block-padding-x);
	padding-right: var(--theme-block-padding-x);

	&:not(p):not(ul):not(ol):not(.wp-block-spacer):not(.wp-block-image):not(.wp-block-file):not(.wp-block-preformatted):not(.wp-block-verse):not(.wp-block-categories-dropdown):not(.wp-block-archives-dropdown):not(.wp-block-code):not(.wp-block-coblocks-alert):not(.wp-block-coblocks-accordion):not(.wp-block-coblocks-author) {
		margin-bottom: var(--vertical-rhythm--lrg);
		margin-top: var(--vertical-rhythm--lrg);
	}

	/* Remove margin from nested child blocks */
	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	/* Remove margin from the very first block */
	&:first-child {
		margin-top: calc(var(--vertical-rhythm--lrg) * 0.55) !important;
	}

	/* Apply the largest spacing value to the last item that is not .alignfull */
	&:not(.alignfull):last-child {
		margin-bottom: var(--vertical-rhythm--lrg) !important;
	}

	/*! Account for the last block being .alignfull */
	& > .alignfull:last-child {
		margin-bottom: var(--vertical-rhythm--lrg) !important;
	}

	/* Set alignments for wide and full */
	&.alignwide {
		max-width: var(--theme-max-w-wide);
	}

	&.alignfull {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

/* Account for the first block if we have a featured image. */
.has-featured-image .content-area > *:first-child {
	margin-top: var(--vertical-rhythm--lrg) !important;
}

/* Account for the first block being .alignfull */
.content-area > *.alignfull:first-child,
.content-area > *figure:first-child,
.content-area > *.wp-block-gallery:first-child {
	margin-top: 0 !important;
}

/* Account for page titles. */
.has-page-titles:not(.home) .content-area > *:first-child {
	margin-top: var(--vertical-rhythm--lrg) !important;

	@media (--large) {
		margin-top: calc(var(--vertical-rhythm--lrg) - var(--theme-header--padding-y)) !important;
	}
}

.is-header-3 .content-area > *:first-child {
	margin-top: 0 !important;
}

/* Remove .alignfull margin if there is a footer background enabled */
.has-footer-background .content-area > .alignfull:last-child {
	margin-bottom: 0 !important;
}

.single-post.has-comments-open .content-area > *:last-child {
	margin-bottom: var(--theme-block-spacing-huge) !important;
}

.content-area {

	& p ~ {

		& blockquote,
		& .wp-block-cover,
		& .wp-block-coblocks-accordion,
		& .wp-block-coblocks-author,
		& figure:not(.alignfull):not(.alignwide) {

			/* Remove huge spacing when right after a paragraph */
			margin-bottom: var(--vertical-rhythm--med) !important;
			margin-top: var(--vertical-rhythm--med) !important;
		}

		& .wp-block-columns,
		& .wp-block-coblocks-row {
			margin-bottom: var(--vertical-rhythm) !important;
			margin-top: var(--vertical-rhythm) !important;
		}

		& .coblocks-form,
		& .wp-block-button,
		& .wp-block-separator,
		& .wp-block-coblocks-dynamic-separator,
		& .wp-block-pullquote:not(.is-style-solid-color):not(.alignleft):not(.alignright) {
			margin-bottom: calc(var(--vertical-rhythm--med) * 1.5) !important;
			margin-top: calc(var(--vertical-rhythm--med) * 1.5) !important;
		}
	}

	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {

		& + p {

			/* Remove space between headings and paragraphs */
			margin-top: calc(var(--vertical-rhythm--lrg) * -0.825) !important;
		}

		& + .wp-block-button {

			/* Remove space between headings and button blocks */
			margin-top: calc(var(--vertical-rhythm--lrg) * -0.65) !important;
		}
	}
}
