/*! Layout: Entry Header */
.entry-header {
	max-width: var(--theme-entry-header--width, 78rem);
	padding-top: calc(var(--vertical-rhythm--lrg) * 0.55);
	text-align: center;
}

.has-featured-image .entry-header {
	padding-top: var(--theme-entryheader--padding-top);
}

/* .has-header-3 .entry-header {
	@media (--large) {
		padding-top: 0;
	}
} */
