/*! Layout: Entry Header */
.entry-header {
	padding-top: calc(var(--theme-block-spacing-huge) * 0.55);
	text-align: center;
}

.has-featured-image:not(.woocommerce-page) .entry-header {
	padding-top: var(--theme-entryheader--padding-top);
}

.has-header-3:not(.has-featured-image) .entry-header {
	@media (--large) {
		padding-top: 0;
	}
}

.hfeed article .content-area > :first-child {
	margin-top: 3rem !important;
}
