/*! Single Post */
.post__title {
	margin: 0;

	& a {
		text-decoration: none;
	}
}

.post__categories {

	& li,
	& a {
		display: inline-block;
	}
}

.post__meta {
	font-size: var(--theme-font-size-post-meta, 0.975rem);
	margin-top: 1.25em;
}

.post__author {
	font-style: italic;
}
