/* stylelint-disable declaration-no-important */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	/**
	 * Many screen reader and browser combinations announce broken words
	 * as they would appear visually.
	 */
	word-wrap: normal !important;

	&:focus {
		@mixin outline;

		background-color: hsla(var(--theme-button--bg), 1);
		clip: auto !important;
		clip-path: none;
		color: hsla(var(--theme-button--color), 1);
		display: block;
		font-family: var(--theme-button--font-family);
		font-size: var(--theme-button--font-size);
		font-weight: var(--theme-button--font-weight);
		height: auto;
		left: 0;
		letter-spacing: var(--theme-button--letter-spacing);
		outline-color: hsla(var(--theme-color-body-bg), 1);
		outline-offset: -5px;
		padding: 0.75rem 1rem;
		text-decoration: none;
		text-transform: var(--theme-button--text-transform);
		top: 0;
		width: auto;
		z-index: 100000;
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* stylelint-enable */

/**
 * Resources on prefers-reduced-motion:
 * https://webkit.org/blog-files/prefers-reduced-motion/prm.htm
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
 */
@media (prefers-reduced-motion: reduce) {

	*,
	*::before,
	*::after {
		animation-duration: 0.001s !important;
		transition-duration: 0.001s !important;
	}
}
