.wp-block-image,
.wp-block-embed {

	& figcaption {
		color: hsla(var(--theme-color-secondary), 0.75);
		font-size: 0.8125rem;
		margin-bottom: -0.6rem !important;
		text-align: left;
	}

	&.alignfull {

		& figcaption {
			padding-left: var(--theme-block-padding-x);
			padding-right: var(--theme-block-padding-x);
		}
	}
}
