.wp-block-image,
.wp-block-embed {

	& figcaption {
		color: hsl(var(--theme-color-text-secondary));
		font-size: 0.8125rem;
		margin-bottom: -0.6rem !important;
		text-align: left;
	}

	&.alignfull {

		& figcaption {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}
}
