.wp-block-image,
.wp-block-embed,
.wp-block-audio {

	& figcaption {
		color: hsl(var(--theme-caption--color));
		font-size: var(--theme-caption--font-size);
		font-style: var(--theme-caption--style);
		margin-bottom: -0.6rem !important;
		text-align: var(--theme-caption--alignment);
	}

	&.alignfull {

		& figcaption {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}

	& .aligncenter {

		& figcaption {
			text-align: center;
		}
	}
}
