/**
 * Everything should be prefixed with .u-your-class
 */

.u-bg-cover {
	background-position: center center;
	background-size: cover;
}

.u-ma-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-max-width-base {
	max-width: var(--theme-max-width-base);
}

.u-max-width-full {
	max-width: var(--theme-max-width-full);
}

.u-max-width-wide {
	max-width: var(--theme-max-width-wide);
}

.u-unlist {
	list-style: none;
	margin: 0;
	padding: 0;
}
