/*! CoBlocks: Accordion */
.wp-block-coblocks-accordion.alignfull {
	padding-left: var(--theme-block-padding-x);
	padding-right: var(--theme-block-padding-x);
}

.wp-block-coblocks-accordion-item__title {
	border: var(--coblocks-accordion--border);
	border-radius: var(--coblocks-accordion--radius, var(--theme-button--radius));

	&:not(.has-background) {
		background: hsl(var(--coblocks-accordion--bg, var(--theme-color-body-bg)));
	}

	&:not(.has-text-color) {
		color: hsl(var(--coblocks-accordion--color));
	}

	&:hover::after {
		background: var(--coblocks-accordion--bg-hover);
		border-radius: var(--coblocks-accordion--radius, var(--theme-button--radius)) var(--coblocks-accordion--radius, var(--theme-button--radius)) 0 0;
	}

	&:focus {
		@mixin outline;
		outline-offset: -6px;
	}
}

.wp-block-coblocks-accordion-item__content {
	border: var(--coblocks-accordion--border);
	border-color: hsl(var(--coblocks-accordion--border-color)) !important;
	margin-top: calc(var(--coblocks-accordion--border-width, 2px) * -1);
}

.wp-block-coblocks-accordion-item details[open] summary {
	border-radius: var(--coblocks-accordion--radius, var(--theme-button--radius)) var(--coblocks-accordion--radius, var(--theme-button--radius)) 0 0;
}
