/*! CoBlocks: Author */
.wp-block-coblocks-author {
	background-color: hsl(var(--theme-coblocks-author-background-color));
	border-radius: var(--theme-coblocks-author-border-radius);
	padding: 1rem;
}

.wp-block-coblocks-author__heading {
	color: hsla(var(--theme-coblocks-author-heading-color), 1);
}

.wp-block-coblocks-author__name {
	color: hsla(var(--theme-coblocks-author-name-color), 1);
}
