/*! CoBlocks: Author */
.wp-block-coblocks-author {
	background-color: hsl(var(--coblocks-author--bg));
	border-radius: var(--coblocks-author--radius, 0);
	padding: 1rem;
}

.wp-block-coblocks-author__heading {
	color: hsla(var(--coblocks-author--color-heading), 1);
}

.wp-block-coblocks-author__name {
	color: hsla(var(--coblocks-author--color-name), 1);
}
