/*! CoBlocks: Food & Drinks */
.wp-block-coblocks-food-and-drinks {

	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		background-color: var(--coblocks-food-drinks-title--bg, var(--theme-color-heading));
		border-bottom: var(--coblocks-food-drinks-title--border-bottom);
		color: var(--coblocks-food-drinks-title--color, hsl(0, 0%, 100%));
		font-size: var(--coblocks-food-drinks-title--font-size);
		font-style: var(--coblocks-food-drinks-title--style);
		margin-bottom: var(--coblocks-food-drinks-title--margin-y);
		padding: var(--coblocks-food-drinks-title--padding);
	}

	&.is-style-list .wp-block-coblocks-food-item {
		margin-top: var(--coblocks-food-drinks-item--spacing);
	}
}

.wp-block-coblocks-food-item {
	margin-top: var(--coblocks-food-drinks-item--spacing);
}

.wp-block-coblocks-food-item__heading-wrapper {
	margin-bottom: 0;
}

.wp-block-coblocks-food-item__heading {
	font-size: var(--coblocks-food-drinks-item--font-size);
	font-weight: var(--coblocks-food-drinks-item--weight);
	letter-spacing: var(--coblocks-food-drinks-item--tracking);
	margin-bottom: 0.75rem;
	text-transform: var(--coblocks-food-drinks-item--text-transform);
}

.wp-block-coblocks-food-item__attributes {
	position: relative;
	top: -5px;

	& svg {
		fill: var(--coblocks-food-drinks-item--fill, var(--theme-color-heading));
	}
}

.wp-block-coblocks-food-item__description {
	font-size: var(--coblocks-food-drinks-desc--font-size, var(--theme-text-sm));
}

.wp-block-coblocks-food-item__price {
	color: var(--coblocks-food-drinks-price--color, var(--theme-color-text-secondary));
	font-size: var(--coblocks-food-drinks-price--font-size, var(--theme-text-sm));
	opacity: 1;
}

[class*="hint--"]::after {
	background-color: var(--coblocks-food-drinks-hint--bg, var(--theme-color-heading));
	border-radius: var(--coblocks-food-drinks-hint--radius, 0);
}

.hint--top::before {
	border-top-color: var(--coblocks-food-drinks-hint--bg, var(--theme-color-heading));
}
