/*! CoBlocks: Food & Drinks */
.wp-block-coblocks-food-and-drinks {

	& h3,
	& h4,
	& h5 {
		margin-bottom: 2rem;
	}
}

.wp-block-coblocks-food-and-drinks.is-style-list .wp-block-coblocks-food-item {
	margin-top: 1rem;
}

.wp-block-coblocks-food-item {
	margin-top: 2rem;
}

.wp-block-coblocks-food-item__heading {
	font-size: var(--theme-h6--font-size);
	margin-bottom: 0 !important;
}

.wp-block-coblocks-food-item__heading-wrapper {
	margin-bottom: 0;
}

.wp-block-coblocks-food-item__price {
	color: hsl(var(--theme-color-text));
	font-size: 0.9rem;
	opacity: 1;
}
