/*! CoBlocks: Form */
.coblocks-form {

	& .coblocks-label {
		margin-bottom: var(--go-label--margin-bottom);
	}

	& .coblocks-field {
		margin-bottom: var(--theme-input--spacing);
	}

	& .required {
		color: var(--go--color--primary);
	}
}
