/*! CoBlocks: Hero */
.wp-block-coblocks-hero {

	&.alignfull .has-padding {
		padding-left: var(--theme-block-padding-x);
		padding-right: var(--theme-block-padding-x);
	}

	& .wp-block-coblocks-buttons {
		margin-bottom: 0 !important;
		margin-top: 2rem;
	}

	& .wp-block-coblocks-hero__content *:last-child {
		margin-bottom: 0;
	}
}

.wp-block-coblocks-hero__content-wrapper {
	@mixin blockWidthNoPaddingWide;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.hero-top-center-align .wp-block-coblocks-hero__content,
.hero-center-center-align .wp-block-coblocks-hero__content {
	margin: 0 auto;
}

.wp-block-coblocks-map.alignfull + .wp-block-pullquote.alignfull {
	margin-top: 0 !important;
}

.hero-top-right-align .wp-block-coblocks-hero__content-wrapper,
.hero-bottom-right-align .wp-block-coblocks-hero__content-wrapper {
	margin-right: 0;
	width: inherit;
}
