/*! CoBlocks: Row */
div.is-stacked-on-mobile.has-medium-gutter > [class*="wp-block-coblocks-"]:not(:last-child) {
	@media (max-width: 600px) {
		margin-bottom: var(--vertical-rhythm);
	}
}

/**
 * Allows us to overlap an Shape Divider (SVG) block
 * on top of another block above it.
 */
.wp-block-coblocks-row.is-overlapping-above {
	position: relative;
	z-index: 10;
}
