/*! CoBlocks: Services */
.wp-block-coblocks-services.alignfull {
	padding-left: var(--theme-block-padding-x);
	padding-right: var(--theme-block-padding-x);
}

.wp-block-coblocks-service h2,
.wp-block-coblocks-service h3,
.wp-block-coblocks-service h4,
.wp-block-coblocks-service h5,
.wp-block-coblocks-service h6 {
	margin-top: 1.25em;
}

.wp-block-coblocks-service__content {

	& p ~ .wp-block-button {
		margin-top: 2.5rem !important;
	}
}

.wp-block-coblocks-services[data-columns="2"] > .wp-block-coblocks-service {
	@media (--large) {
		max-width: calc(100% / 2 - 2em);
	}
}

.wp-block-coblocks-services[data-columns="3"] > .wp-block-coblocks-service {
	@media (--large) {
		max-width: calc(100% / 3 - 2em);
	}
}
