/*! CoBlocks: Social */
.wp-block-coblocks-social {

	& .wp-block-button__link:not(.has-background) {
		background-color: hsl(var(--theme-button--bg));
	}

	& a::after {
		display: none;
	}
}

.wp-block-coblocks-social__button {
	font-size: inherit;
}
