:root {

	/*--------------------------------------------------------------
	>>> TABLE OF CONTENTS:
	----------------------------------------------------------------
	# Base
	# Colors
	# Typography
	# Forms
	# Buttons
	# Header
	# Header Navigation Toggle
	# Header Search Toggle
	# Entry Header
	# Footer
	# Blocks
	# CoBlocks


	/*--------------------------------------------------------------
	## Editor
	--------------------------------------------------------------*/
	--editor-max-w-base: 702px;
	--editor-max-w-wide: 1118px;


	/*--------------------------------------------------------------
	## Base
	--------------------------------------------------------------*/
	--theme-max-w-base: 42rem;
	--theme-max-w-wide: 84rem;

	/* Vertical Rhythm */
	--vertical-rhythm: 1.15rem;
	--vertical-rhythm--med: 1.75rem;
	--vertical-rhythm--lrg: calc(2rem + 8vw);

	@media (--large) {
		--vertical-rhythm: 1.8rem;
		--vertical-rhythm--med: 2.25rem;
	}

	/* Site Padding */
	--theme-block-padding-x: 6vw;

	/* Block Padding */
	--editor-padding: 8vw;

	/* Accessibility */
	--theme-outline-color: var(--theme-color-heading);
	--theme-selection--bg: var(--theme-color-heading);

	/* Transitions */
	--theme-link-transition: color 200ms cubic-bezier(0.7, 0, 0.3, 1);
	--theme-button-transition: background-color 200ms cubic-bezier(0.7, 0, 0.3, 1), border-color 200ms cubic-bezier(0.7, 0, 0.3, 1), color 200ms cubic-bezier(0.7, 0, 0.3, 1), fill 200ms cubic-bezier(0.7, 0, 0.3, 1);


	/*--------------------------------------------------------------
	## Text Colors
	--------------------------------------------------------------*/
	--theme-color-heading: var(--theme-color-secondary);
	--theme-color-text: 218, 12%, 30%;
	--theme-color-text-secondary: 0, 0%, 43%;


	/*--------------------------------------------------------------
	## Typography
	--------------------------------------------------------------*/
	--theme-body--font: "Nunito Sans", sans-serif;
	--theme-body--font-size: 1.05rem;
	--theme-body--leading: 1.85;

	/* Headings */
	--theme-heading--font: "Crimson Text", serif;
	--theme-heading--leading: 1.15;
	--theme-heading--spacing: 2rem;
	--theme-heading--tracking: -0.02em;
	--theme-heading--weight: 400;
	--theme-heading--button-spacing: 1.75rem;

	--theme-h1--font-size: 2.5em;
	--theme-h2--font-size: 2em;
	--theme-h3--font-size: 1.6em;
	--theme-h4--font-size: 1.5em;
	--theme-h5--font-size: 1.3em;
	--theme-h6--font-size: 1.25em;

	@media (--medium) {
		--theme-h1--font-size: 3.35em;
	}

	@media (--large) {
		--theme-h1--font-size: 4.35em;
		--theme-h2--font-size: 2.75em;
		--theme-h3--font-size: 2.5em;
	}

	@media (--huge) {
		--theme-h1--font-size: 4.75em;
		--theme-h2--font-size: 3em;
	}

	/* Text Utilities */
	--theme-text-xs: 82%;
	--theme-text-sm: 85%;
	--theme-text-sm--letter-spacing: 0.015em;

	@media (--small) {
		--theme-text-sm: 90%;
	}

	@media (--large) {
		--theme-text-sm: 97%;
	}

	/* Captions */
	--theme-caption--alignment: left;
	--theme-caption--color: var(--theme-color-text-secondary);
	--theme-caption--font-size: 0.85rem;

	/* Pullquote */
	--theme-pullquote--font: serif;
	--theme-pullquote--border-color: transparent;
	--theme-pullquote--border-style: solid;
	--theme-pullquote--border-width: 0;
	--theme-pullquote--border: var(--theme-pullquote--border-width) var(--theme-pullquote--border-style) hsl(var(--theme-pullquote--border-color));
	--theme-pullquote--color: var(--theme-color-heading);
	--theme-pullquote--font-size: var(--theme-h2--font-size);
	--theme-pullquote--leading: 1.25;
	--theme-pullquote--padding-y: 0.75rem;
	--theme-pullquote--padding-x: 1rem;
	--theme-pullquote--style: normal;
	--theme-pullquote--weight: var(--theme-heading--weight);

	/* Blockquote */
	--theme-quote--border-color: var(--theme-color-primary);
	--theme-quote--border-style: solid;
	--theme-quote--border-width: 0.45rem;
	--theme-quote--border: var(--theme-quote--border-width) var(--theme-quote--border-style) hsl(var(--theme-quote--border-color));
	--theme-quote--color: var(--theme-color-heading);
	--theme-quote--font-size: var(--theme-h3--font-size);
	--theme-quote--leading: var(--theme-heading--leading);
	--theme-quote--style: normal;
	--theme-quote--weight: var(--theme-heading--weight);

	/* Blockquote (Large) */
	--theme-quote-large--color: var(--theme-color-heading);
	--theme-quote-large--font-size: 2.5em;
	--theme-quote-large--leading: var(--theme-heading--leading);
	--theme-quote-large--style: normal;

	@media (--medium) {
		--theme-quote-large--font-size: 3.75em;
	}


	/*--------------------------------------------------------------
	## Forms
	--------------------------------------------------------------*/
	--theme-label--color: var(--theme-color-heading);
	--theme-label--font-size: 1rem;
	--theme-label--font: var(--theme-body--font);
	--theme-label--tracking: var(--theme-site-nav--tracking);
	--theme-label--transform: normal;
	--theme-label--weight: var(--theme-site-nav--weight);
	--theme-label--spacing: 0.25rem;

	/* Input */
	--theme-input--bg: var(--theme-color-body-bg);
	--theme-input--bg-interactive: 0, 0%, 100%;
	--theme-input--border-color: var(--theme-color-heading);
	--theme-input--border-style: solid;
	--theme-input--border-width: 2px;
	--theme-input--border: var(--theme-input--border-width) var(--theme-input--border-style) hsl(var(--theme-input--border-color));
	--theme-input--color: var(--theme-color-text);
	--theme-input--font-size: var(--theme-body--font-size);
	--theme-input--padding-x: 0.85rem;
	--theme-input--padding-y: 0.85rem;
	--theme-input--spacing: 2rem;
	--theme-input--weight: 400;

	/* Input Focus */
	--theme-input--border-color-focus: var(--theme-color-primary);
	--theme-input--color-focus: var(--theme-color-text);

	/* Errors */
	--theme-input-error--border-color: 0, 65%, 51%; /* #d32f2f */
	--theme-input-error--color: 0, 65%, 51%; /* #d32f2f */

	/* Checkbox and Radio*/
	--theme-checkbox-radio-fill: var(--theme-color-heading);

	/* Feedback colors: error, success, warning, informational. */
	--theme-feedback-informational-color: 208, 100%, 43%;


	/*--------------------------------------------------------------
	## Buttons
	--------------------------------------------------------------*/
	--theme-button--bg: var(--theme-color-primary);
	--theme-button--bg-interactive: var(--theme-color-heading);
	--theme-button--border-width: 2px;
	--theme-button--font-size: 1.3rem;
	--theme-button--font: var(--theme-heading--font);
	--theme-button--padding-x: 2.25rem;
	--theme-button--padding-y: 1.4rem;
	--theme-button--radius: 4px;
	--theme-button--text-transform: normal;
	--theme-button--tracking: 0;
	--theme-button--weight: 500;

	/* Disabled */
	--theme-button--disabled-bg: 0, 2%, 89%;
	--theme-button--disabled-color: 0, 0%, 61%;


	/*--------------------------------------------------------------
	## Header
	--------------------------------------------------------------*/
	--theme-site-title--color: var(--theme-color-heading);
	--theme-site-title--font-size: 1.75rem;

	@media (--medium) {
		--theme-site-title--font-size: 2.15rem;
	}

	--theme-site-description--color: var(--theme-color-heading);
	--theme-site-description--leading: 1.4;

	/* Header > Navigation */
	--theme-site-nav--color: var(--theme-color-heading);
	--theme-site-nav--font: var(--theme-heading--font);
	--theme-site-nav--font-size: 1.3rem;
	--theme-site-nav--font-size-mobile: 1.65rem;
	--theme-site-nav--weight: 400;
	--theme-site-nav--text-transform: normal;
	--theme-site-nav--tracking: 0;
	--theme-site-nav--transition: var(--theme-link-transition);


	/*--------------------------------------------------------------
	## Search
	--------------------------------------------------------------*/
	--theme-search-toggle--color: var(--theme-color-heading);
	--theme-search-toggle--color-interactive: var(--theme-color-primary);
	--theme-search-submit--bg: var(--theme-color-primary);
	--theme-search-submit--bg-interactive: var(--theme-color-heading);
	--theme-search-submit--color: var(--color-white);


	/*--------------------------------------------------------------
	## Entry Header
	--------------------------------------------------------------*/
	--theme-entryheader--padding-top: 3rem;


	/*--------------------------------------------------------------
	## Footer
	--------------------------------------------------------------*/
	--theme-footer--color: var(--theme-color-heading);
	--theme-footer-heading--color: var(--theme-color-heading);
	--theme-footer-2--padding-y: 4rem;

	/* Footer > Navigation */
	--theme-footer-nav--leading: 2.25;
	--theme-footer-nav--padding-x: 1rem;
	--theme-footer-nav--padding-y: 0.25rem;

	@media (--medium) {
		--theme-footer-nav--padding-y: 0.1rem;
	}

	/* Footer > Social Icons */
	--theme-social--color: var(--theme-color-primary);
	--theme-social--size: 1.5rem;
	--theme-social--spacing: 1rem;

	/* Footer Variations Specific */
	--theme-footer-3-site-info--border-color: 0, 0%, 80%;


	/*--------------------------------------------------------------
	## Post
	--------------------------------------------------------------*/
	--theme-entry-header--width: 70rem;
	--theme-meta--font: var(--theme-body--font);
	--theme-meta--font-size: 1rem;
	--theme-meta--color: var(--theme-color-heading);
	--theme-meta--opacity: 0.65;
	--theme-comment-p--font-size: 0.95rem;


	/*--------------------------------------------------------------
	## CoBlocks
	--------------------------------------------------------------*/
	--coblocks-accordion--bg-hover: none;
	--coblocks-accordion--border-color: var(--theme-color-primary);
	--coblocks-accordion--border: var(--coblocks-accordion--border-width, 2px) solid hsl(var(--coblocks-accordion--border-color));
	--coblocks-accordion--color: var(--theme-color-primary);

	--coblocks-features--icon-spacing: 2rem;
	--coblocks-features--heading-spacing: 1rem;

	--coblocks-food-drinks-desc--font-size: var(--theme-text-sm);
	--coblocks-food-drinks-hint--bg: var(--theme-color-heading);
	--coblocks-food-drinks-item--fill: var(--theme-color-heading);
	--coblocks-food-drinks-item--font-size: 1.5em;
	--coblocks-food-drinks-item--spacing: 3em;
	--coblocks-food-drinks-item--text-transform: normal;
	--coblocks-food-drinks-item--tracking: 0;
	--coblocks-food-drinks-item--weight: 400;
	--coblocks-food-drinks-price--color: var(--theme-color-text-secondary);
	--coblocks-food-drinks-price--font-size: var(--theme-text-sm);
	--coblocks-food-drinks-title--bg: none;
	--coblocks-food-drinks-title--border-bottom: none;
	--coblocks-food-drinks-title--color: var(--theme-color-heading);
	--coblocks-food-drinks-title--font-size: 2.25em;
	--coblocks-food-drinks-title--margin-y: 0.5em;
	--coblocks-food-drinks-title--padding: 0.5em 0.25em 0;
	--coblocks-food-drinks-title--style: normal;

	--coblocks-pricing--bg: var(--color-white);
	--coblocks-pricing--border: 2px solid hsl(var(--theme-color-heading));
	--coblocks-pricing--color-price: var(--theme-color-heading);
	--coblocks-pricing--color-title: var(--theme-color-heading);

	--coblocks-shapedivider--bg: var(--theme-color-primary);

	--coblocks-services--heading-margin-bottom: 1.25rem;
	--coblocks-services--heading-margin-top: 2rem;
}
