:root {

	/* Content width */
	--go--max-width: 42rem;
	--go--max-width--alignwide: 84rem;

	/* Spacing */
	--go--spacing--horizontal: 60;
	--go--spacing--paragraph: 9;
	--go--spacing--header: 22;

	/* Typography */
	--go--color--text: hsl(218, 12%, 30%);
	--go--font-family: "Nunito Sans", sans-serif;
	--go--font-size--small: 85%;
	--go--font-size--smallest: 82%;
	--go--font-size: 1.05rem;
	--go--letter-spacing--small: 0.015em;
	--go--line-height: 1.85;

	@media (--small) {
		--go--font-size--small: 90%;
	}

	@media (--large) {
		--go--font-size--small: 97%;
	}

	/* Headings */
	--go-heading--button-spacing: 1.75rem;
	--go-heading--color--text: var(--go--color--secondary);
	--go-heading--font-family: "Crimson Text", serif;
	--go-heading--font-weight: 400;
	--go-heading--letter-spacing: -0.02em;
	--go-heading--line-height: 1.15;
	--go-heading--margin-bottom: 2rem;

	--go-heading--font-size--h1: 2.5em;
	--go-heading--font-size--h2: 2em;
	--go-heading--font-size--h3: 1.6em;
	--go-heading--font-size--h4: 1.5em;
	--go-heading--font-size--h5: 1.3em;
	--go-heading--font-size--h6: 1.25em;

	@media (--medium) {
		--go-heading--font-size--h1: 3.35em;
	}

	@media (--large) {
		--go-heading--font-size--h1: 4.35em;
		--go-heading--font-size--h2: 2.75em;
		--go-heading--font-size--h3: 2.5em;
	}

	@media (--huge) {
		--go-heading--font-size--h1: 4.75em;
		--go-heading--font-size--h2: 3em;
	}

	/* Captions */
	--go-caption--color--text: hsl(0, 0%, 43%);
	--go-caption--font-size: 0.85rem;
	--go-caption--text-align--rtl: right;
	--go-caption--text-align: left;

	/* Blockquote */
	--go-quote--border-width: 0.45rem;
	--go-quote--font-size: var(--go-heading--font-size--h3);
	--go-quote--font-weight: var(--go-heading--font-weight);
	--go-quote--line-height: var(--go-heading--line-height);
	--go-quote-large--font-size: 2.5em;

	@media (--medium) {
		--go-quote-large--font-size: 3.75em;
	}

	/* Pullquote */
	--go-pullquote--font-family: serif;
	--go-pullquote--font-size: var(--go-heading--font-size--h2);
	--go-pullquote--font-style: normal;

	/* Accessibility */
	--go-outline--color--text: var(--go-heading--color--text);
	--go-selection--color--background: var(--go-heading--color--text);

	/* Buttons */
	--go-button--border-radius: 4px;
	--go-button--font-family: var(--go-heading--font-family);
	--go-button--font-size: 1.3rem;
	--go-button--font-weight: 500;
	--go-button--padding--x: 2.25rem;
	--go-button--padding--y: 1.4rem;
	--go-button-interactive--color--background: var(--go-heading--color--text);

	/* Labels */
	--go-label--font-family: var(--go--font-family);
	--go-label--font-size: 1rem;
	--go-label--font-weight: var(--go-navigation--font-weight, 400);
	--go-label--letter-spacing: var(--go-navigation--letter-spacing, normal);
	--go-label--margin-bottom: 0.25rem;

	/* Input */
	--go-input--border: var(--go-input--border-width, 2px) var(--go-input--border-style, solid) var(--go-input--border-color, var(--go-heading--color--text));
	--go-input--color--background: var(--go--color--background);
	--go-input--color--text: var(--go--color--text);
	--go-input--font-size: var(--go--font-size);
	--go-input--margin-bottom: 2rem;
	--go-input--padding--x: 0.85rem;
	--go-input--padding--y: 0.85rem;
	--go-input-interactive--color--text: var(--go--color--text);

	/* Site Title */
	--go-site-title--color--text: var(--go-heading--color--text);
	--go-site-title--font-size: 1.75rem;

	@media (--medium) {
		--go-site-title--font-size: 2.15rem;
	}

	/* Site Description */
	--go-site-description--color--text: var(--go-heading--color--text);

	/* Site Navigation */
	--go-navigation--color--text: var(--go-heading--color--text);
	--go-navigation--font-family: var(--go-heading--font-family);
	--go-navigation--font-size: 1.3rem;
	--go-navigation-mobile--font-size: 1.65rem;

	/* Site Search */
	--go-search-button--color--text: var(--go-heading--color--text);
	--go-search-button--color--text-interactive: var(--go--color--primary);
	--go-search-button--color--background: var(--go--color--primary);
	--go-search-button--color--background-interactive: var(--go-heading--color--text);

	/* Entry Header */
	--go-entryheader--padding-top: 3rem;

	/* Footer */
	--go-footer--color--text: var(--go-heading--color--text);
	--go-footer-navigation--line-height: 2.25;

	/* Social Icons */
	--go-social--color--text: var(--go--color--primary);
	--go-social--padding: 1rem;
	--go-social--size: 1.5rem;

	/* CoBlocks */
	--coblocks-accordion--bg-hover: none;
	--coblocks-accordion--border-color: var(--go--color--primary);
	--coblocks-accordion--border: var(--coblocks-accordion--border-width, 2px) solid var(--coblocks-accordion--border-color);
	--coblocks-accordion--color: var(--go--color--primary);
	--coblocks-features--icon-spacing: 2rem;
	--coblocks-features--heading-spacing: 1rem;
	--coblocks-food-drinks-item--font-size: 1.5em;
	--coblocks-food-drinks-item--spacing: 3em;
	--coblocks-food-drinks-item--text-transform: normal;
	--coblocks-food-drinks-item--tracking: 0;
	--coblocks-food-drinks-item--weight: 400;
	--coblocks-food-drinks-title--bg: none;
	--coblocks-food-drinks-title--border-bottom: none;
	--coblocks-food-drinks-title--color: var(--go-heading--color--text);
	--coblocks-food-drinks-title--font-size: 2.25em;
	--coblocks-food-drinks-title--margin-y: 0.5em;
	--coblocks-food-drinks-title--padding: 0.5em 0.25em 0;
	--coblocks-food-drinks-title--style: normal;
	--coblocks-pricing--border: 2px solid var(--go-heading--color--text);
	--coblocks-services--heading-margin-bottom: 1.25rem;
	--coblocks-services--heading-margin-top: 2rem;

	/* Block Editor */
	--editor-max-w-base: 702px;
	--editor-max-w-wide: 1118px;
}
