/**
 * Footer #3
 */

[data-footer="footer-3"] {

	& .site-footer {
		padding-bottom: calc(var(--theme-footer-spacing) * 0.4);
		padding-top: calc(var(--theme-footer-spacing) * 0.4);
	}

	& .footer-navigation {
		text-align: center;

		@media (--medium) {
			flex: 1 65%;
			text-align: left;
		}

		& li {
			@media (--medium) {
				display: inline-block;
			}

			&:first-child a {
				@media (--medium) {
					padding-left: 0;
				}
			}
		}

		& a {
			padding: 1rem 1.35rem;
		}
	}

	& .social-icons {
		margin-top: 1rem;

		@media (--medium) {
			margin-top: 0;
		}

		& a {
			padding-left: calc(var(--theme-footer-social-icon-spacing) * 0.75);
			padding-right: calc(var(--theme-footer-social-icon-spacing) * 0.75);

			@media (--medium) {
				padding-left: calc(var(--theme-footer-social-icon-spacing) * 0.5);
				padding-right: calc(var(--theme-footer-social-icon-spacing) * 0.5);
			}
		}

		& svg {
			height: calc(var(--theme-footer-social-icon-size) * 0.85);
		}
	}

	& .site-info {
		margin-top: 0.75rem;

		@media (--medium) {
			margin-top: 0;
		}
	}
}
