/**
 * Footer #2
 */

[data-footer="footer-2"] {

	& .site-footer {
		border-top: 1px solid hsl(var(--theme-footer-2-border-top-color), 1);
		padding-bottom: calc(var(--theme-footer-spacing) * 0.9);
		padding-top: calc(var(--theme-footer-spacing) * 0.9);

		@media (--large) {
			padding-bottom: calc(var(--theme-footer-spacing) * 0.66);
			padding-top: calc(var(--theme-footer-spacing) * 0.66);
		}
	}

	& .site-footer__row {
		border-bottom: 1px solid hsl(var(--theme-footer-2-border-top-color), 1);
		border-top: 1px solid hsl(var(--theme-footer-2-border-top-color), 1);
		margin-top: calc(var(--theme-footer-spacing) * 0.75);
		padding: 1rem 0;

		@media (--large) {
			margin-top: calc(var(--theme-footer-spacing) * 0.55);
		}
	}

	& .footer-navigation {
		flex: 0 1 48%;
		padding-right: 2%;

		@media (--small) {
			flex: 0 1 33%;
		}

		&:last-of-type {
			padding-right: 0;
		}
	}

	& .footer-navigation--1,
	& .footer-navigation--2 {
		margin-bottom: 1.5rem;

		@media (--medium) {
			margin-bottom: 0;
		}
	}

	& .footer-blurb-text {
		flex: 100%;
		margin-bottom: calc(var(--theme-footer-spacing) * 0.75);

		@media (--large) {
			margin-bottom: 0;
		}

		& > * {
			@media (--large) {
				max-width: 55%;
			}

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	& .social-icons {
		margin-top: 0.25rem;

		@media (--medium) {
			margin-top: 0;
		}

		& svg {
			height: calc(var(--theme-footer-social-icon-size) * 0.66);
		}

		& a {
			padding-left: calc(var(--theme-footer-social-icon-spacing) * 0.5);
			padding-right: calc(var(--theme-footer-social-icon-spacing) * 0.5);
		}
	}

	& .site-info {
		margin-top: 0.75rem;

		@media (--medium) {
			flex: 1 50%;
			margin-top: 0;
		}
	}
}
