/**
 * Social icons
 */

.social-icons {

	& a {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: var(--theme-footer-social-icon-spacing);

		&:focus {
			outline: 2px dotted hsla(var(--theme-outline-color), 1);
		}
	}

	& svg {
		fill: hsla(var(--theme-footer-social-icon-color), 1);
		vertical-align: middle;
	}
}
