/**
 * Social icons
 */

.social-icons {

	& li {

		&:first-child a {
			padding-left: 0;
		}

		&:last-child a {
			padding-right: 0;
		}
	}

	& a {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 1rem var(--theme-footer-social-icon-spacing);
	}

	& svg {
		fill: hsla(var(--theme-footer-social-icon-color), 1);
		vertical-align: middle;
	}
}
