/**
 * Traditional - Footer variant #2
 */

.is-traditional .site-footer--2 {
	border-top: 1px solid hsla(var(--theme-footer-2-border-top-color), 0.1);
	color: hsl(var(--color-shuttle-gray));

	@media (--large) {
		padding-bottom: calc(3.5 * var(--theme-spacing-unit-6));
		padding-top: calc(1.6 * var(--theme-spacing-unit-6));
	}

	& .row--1 {
		margin-bottom: var(--theme-spacing-unit-4);

		@media (--large) {
			padding-left: 12.32%;
			padding-right: 12.32%;
		}
	}

	& .row--2 {
		border-bottom: 1px solid hsla(var(--theme-footer-2-border-top-color), 0.1);

		@media (--large) {
			margin-left: 12.32%;
			margin-right: 12.32%;
		}
	}

	& .footer-navigation__title {
		font-family: var(--theme-body-font-family);
		font-size: 0.875rem;
		font-weight: 400;
	}

	& .footer-navigation {
		margin-bottom: calc(2.2 * var(--theme-spacing-unit-4));

		& a {
			color: hsl(var(--color-shuttle-gray));
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.36;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				color: hsl(var(--THEME-COLOR-PRIMARY));
				text-decoration: underline;
			}
		}
	}

	& .footer-copy-text {
		font-size: 0.875rem;
		margin: var(--theme-spacing-unit-2) var(--theme-spacing-unit);

		@media (--medium) {
			margin: 0;
		}
	}

	& .social-icons {
		margin-bottom: var(--theme-spacing-unit-2);
		margin-left: 0;

		@media (--medium) {
			margin: 0;
			padding: 0;
		}

		& li {
			padding: 0;
		}

		& a {
			color: hsl(var(--THEME-COLOR-PRIMARY));
			padding-left: calc(var(--theme-spacing-unit) / 2);
			padding-right: calc(var(--theme-spacing-unit) / 2);

			&:active,
			&:focus,
			&:hover {
				color: var(--theme-color-blue-stone);
			}
		}
	}
}
