/* Arimo font */
@font-face {
	font-family: Arimo;
	font-style: italic;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-bolditalic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-bolditalic-webfont.woff") format("woff");
}

@font-face {
	font-family: Arimo;
	font-style: normal;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-bold-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: Arimo;
	font-style: italic;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-italic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-italic-webfont.woff") format("woff");
}

@font-face {
	font-family: Arimo;
	font-style: normal;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-regular-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/arimo/arimo-regular-webfont.woff") format("woff");
}

/* Montserrat font */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-bolditalic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-bolditalic-webfont.woff") format("woff");
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-italic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-italic-webfont.woff") format("woff");
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/creative-services/fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
}
