/*! Modern: Button */
.wp-block-button__link,
.wp-block-search__button {
	overflow: hidden;

	&::after {
		background-color: currentColor;
		bottom: 0;
		content: "";
		display: block;
		height: 10px;
		left: var(--theme-button--padding-x);
		position: absolute;
		right: var(--theme-button--padding-x);
		transform: translateY(100%);
		transition: transform 200ms cubic-bezier(0.7, 0, 0.3, 1);
	}

	&:focus,
	&:hover {

		&::before {
			opacity: 1;
		}

		&::after {
			transform: translateY(0);
		}
	}
}

.single_add_to_cart_button::after {
	display: none !important;
}
