/*! Modern: CoBlocks Carousel */
.flickity-button {
	background-color: transparent;
	border: 2px solid hsl(var(--color-white)) !important;
	border-radius: 0;
	height: 37px;
	width: 48px;

	&::after {
		background-image: url("../../../dist/images/design-styles/modern/carousel-arrow.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		content: "";
		display: inline-block;
		height: 8px;
		left: 13px;
		position: absolute;
		top: calc(50% - 3px);
		transition: transform 200ms cubic-bezier(0.7, 0, 0.3, 1);
		width: 48px;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: var(--color-white);
	}

	& .flickity-button-icon {
		display: none;
	}

	&.previous {
		left: 18px;

		@media (--medium) {
			left: 25px;
		}

		&::after {
			transform: rotate(180deg);
		}

		&:active::after,
		&:focus::after,
		&:hover::after {
			transform: translateX(-29px) rotate(180deg);
		}
	}

	&.next {
		right: 18px;

		@media (--medium) {
			right: 25px;
		}

		&::after {
			left: auto;
			right: 13px;
		}

		&:active::after,
		&:focus::after,
		&:hover::after {
			transform: translateX(29px);
		}
	}
}

.has-aligned-cells {

	& .flickity-button::before {
		background: hsl(var(--theme-button--bg));
		bottom: 0;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}
