.wp-block-table {

	table {
		border-collapse: collapse;
		margin: 0 0 1rem;
		width: 100%;
	}

	table td,
	table th {
		border: 2px solid var(--go-table--border-color, var(--go-heading--color--text));
		padding: 1em;
		word-break: break-all;
	}
}
