@define-mixin button {
	appearance: none !important;
	background-color: hsl(var(--theme-button--bg));
	border: none;
	border-radius: var(--theme-button--radius);
	box-sizing: border-box;
	color: hsl(var(--theme-button--color, 0, 0%, 100%));
	display: inline-block;
	font-family: var(--theme-button--font);
	font-size: var(--theme-button--font-size);
	font-weight: var(--theme-button--weight);
	letter-spacing: var(--theme-button--tracking);
	line-height: 1;
	padding: var(--theme-button--padding-y) var(--theme-button--padding-x);
	position: relative;
	text-decoration: none;
	text-transform: var(--theme-button--text-transform);
	transition: var(--theme-button-transition);
	vertical-align: bottom;
}

@define-mixin button-hover {
	background-color: hsl(var(--theme-button--bg-interactive));
}

@define-mixin button-disabled {
	background-color: hsl(var(--theme-button--disabled-bg));
	color: hsl(var(--theme-button--disabled-color));
	cursor: default;
}

@define-mixin outline {
	outline-color: hsla(var(--theme-outline-color), 1);
	outline-style: var(--theme-outline-style, dotted);
	outline-width: var(--theme-outline-width, 1px);
}

@define-mixin outline-text-link {
	border: 0;
	border-bottom-width: var(--theme-outline-width);
	border-color: hsla(var(--theme-outline-color), 1);
	border-style: var(--theme-outline-style, dotted);
	outline: none;
}

@define-mixin select-menu {
	appearance: button;
	background-color: hsl(var(--theme-input--bg));
	background-image: url("../images/arrow-down-solid.svg");
	background-position: calc(100% - 10px) center;
	background-repeat: no-repeat;
	border: var(--theme-input--border);
	box-shadow: none;
	color: hsl(var(--theme-input--color));
	display: block;
	font-weight: var(--theme-input--weight);
	margin: 0;
	overflow: hidden;
	padding: var(--theme-input--padding-y) var(--theme-input--padding-x);
	text-overflow: ellipsis;
	user-select: none;
	white-space: nowrap;
	width: 100%;
}

@define-mixin select-menu-focus {
	border-color: hsl(var(--theme-input--border-color-focus));
	box-shadow: var(--heme-input--shadow-focus);
	color: hsl(var(--theme-input--color));
	outline: 0;
}

@define-mixin checkbox-radio-label {
	align-items: center;
	display: flex;
	padding-left: 2.5rem;
}

@define-mixin checkbox-radio-label-before {
	background-color: hsl(var(--theme-checkbox-radio-fill));
	content: "";
	display: block;
	height: 19px;
	left: 0;
	mask-position: left bottom;
	mask-repeat: no-repeat;
	position: absolute;
	width: 20px;
}

@define-mixin checkbox-label-before {
	mask-image: url("../images/checkbox.svg");
}

@define-mixin checkbox-label-checked-before {
	mask-image: url("../images/checkbox-checked.svg");
}

@define-mixin radio-label-before {
	background-color: hsl(var(--color-white));
	border: 1px solid hsl(var(--theme-checkbox-radio-fill));
	border-radius: 9999px;
	box-shadow: inset 0 0 0 3px #fff;
}

@define-mixin radio-label-selected-before {
	background-color: hsl(var(--theme-checkbox-radio-fill));
}

@define-mixin blockWidthNoPaddingWide {
	--total-block-padding: calc(var(--theme-block-padding-x) * 2);
	max-width: calc(var(--theme-max-w-wide) - var(--total-block-padding));
}
