@mixin button {
	appearance: none !important;
	background-color: var(--go-button--color--background, var(--go--color--primary));
	border: none;
	border-radius: var(--go-button--border-radius);
	box-sizing: border-box;
	color: var(--go-button--color--text, var(--go--color--white));
	display: inline-block;
	font-display: swap;
	font-family: var(--go-button--font-family, var(--go-navigation--font-family));
	font-size: var(--go-button--font-size, var(--go--font-size));
	font-weight: var(--go-button--font-weight);
	letter-spacing: var(--go-button--letter-spacing, normal);
	line-height: 1;
	padding: var(--go-button--padding--y) var(--go-button--padding--x);
	position: relative;
	text-decoration: none;
	text-transform: var(--go-button--text-transform, normal);
	transition: var(--go-button--transition, background-color 200ms cubic-bezier(0.7, 0, 0.3, 1), box-shadow 200ms cubic-bezier(0.7, 0, 0.3, 1), border-color 200ms cubic-bezier(0.7, 0, 0.3, 1), color 200ms cubic-bezier(0.7, 0, 0.3, 1), fill 200ms cubic-bezier(0.7, 0, 0.3, 1));
	vertical-align: bottom;
}
@mixin button-hover {
	background-color: var(--go-button-interactive--color--background, var(--go--color--secondary));
}
@mixin button-disabled {
	background-color: var(--go-button-disabled--color--background, hsl(0, 2%, 89%));
	color: var(--go-button-disabled--color--text, hsl(0, 0%, 61%));
	cursor: default;
}
@mixin outline {
	outline-color: var(--go-outline--color--text);
	outline-style: var(--go-outline--style, dotted);
	outline-width: var(--go-outline--width, 1px);
}
@mixin outline-text-link {
	border: 0;
	border-bottom-width: var(--go-outline--width);
	border-color: var(--go-outline--color--text);
	border-style: var(--go-outline--style, dotted);
	outline: none;
}
@mixin select-menu {
	appearance: button;
	background-color: var(--go-input--color--background, var(--go--color--white));
	background-image: url(../../images/arrow-down-solid.svg);
	background-position: calc(100% - 10px) center;
	background-repeat: no-repeat;
	border: var(--go-input--border);
	box-shadow: none;
	color: var(--go-input--color--text);
	display: block;
	font-weight: var(--go-input--font-weight, 400);
	margin: 0;
	overflow: hidden;
	padding: var(--go-input--padding--y) var(--go-input--padding--x);
	text-overflow: ellipsis;
	user-select: none;
	white-space: nowrap;
	width: 100%;
}
@mixin select-menu-focus {
	border-color: var(--go-input-interactive--color--border-color, var(--go--color--primary));
	color: var(--go-input--color--text);
	outline: 0;
}
@mixin checkbox-radio-label {
	align-items: center;
	display: flex;
	padding-left: 2.5rem;
}
@mixin checkbox-radio-label-before {
	background-color: var(--go-input-radio--color--fill, var(--go-heading--color--text));
	content: "";
	display: block;
	height: 19px;
	left: 0;
	mask-position: center center;
	mask-repeat: no-repeat;
	position: absolute;
	width: 20px;
}
@mixin checkbox-label-before {
	mask-image: url(../images/checkbox.svg);
}
@mixin checkbox-label-checked-before {
	mask-image: url(../images/checkbox-checked.svg);
}
@mixin radio-label-before {
	background-color: var(--go--color--white);
	border: 1px solid var(--go-input-radio--color--fill, var(--go-heading--color--text));
	border-radius: 9999px;
	box-shadow: inset 0 0 0 3px #fff;
}
@mixin radio-label-selected-before {
	background-color: var(--go-input-radio--color--fill, var(--go-heading--color--text));
}
@mixin blockWidthNoPaddingWide {
	--total-block-padding: calc(var(--go-block--padding--x) * 2);
	max-width: calc(var(--go--max-width--alignwide) - var(--total-block-padding));
}
