:root {

	/*! Vertical Rhythm */
	--vertical-rhythm--lrg: calc(100 / var(--viewportBasis) * 100vw);

	@media (--huge) {
		--vertical-rhythm--lrg: calc(90 / var(--viewportBasis) * 100rem);
	}

	/*! Horizontal Rhythm */
	--horizontalSpacingMax: calc(var(--horizontalSpacing) * 0.9);
	--theme-block-padding-x: calc(var(--horizontalSpacing) / var(--viewportBasis) * 100vw);

	@media (--huge) {
		--theme-block-padding-x: calc(var(--horizontalSpacingMax) / var(--viewportBasis) * 100rem);
	}

	/*! Header */
	--headerSpacingMax: calc(var(--headerSpacing) * 0.9);
	--header-padding: calc(var(--headerSpacing) / var(--viewportBasis) * 100vw);

	@media (--huge) {
		--header-padding: calc(var(--headerSpacingMax) / var(--viewportBasis) * 100rem);
	}

	/*! Paragraph */
	--vertical-rhythm: calc(var(--paragraphSpacing) / var(--viewportBasis) * 100rem);
}
