:root {

	/*! Vertical Rhythm */
	--go--spacing--vertical--lg: calc(100 / var(--go--viewport-basis) * 100vw);

	@media (--huge) {
		--go--spacing--vertical--lg: calc(90 / var(--go--viewport-basis) * 100rem);
	}

	/*! Horizontal Rhythm */
	--go--spacing--horizontalMax: calc(var(--go--spacing--horizontal) * 0.9);
	--go-block--padding--x: calc(var(--go--spacing--horizontal) / var(--go--viewport-basis) * 100vw);

	@media (--huge) {
		--go-block--padding--x: calc(var(--go--spacing--horizontalMax) / var(--go--viewport-basis) * 100rem);
	}

	/*! Header */
	--go--spacing--headerMax: calc(var(--go--spacing--header) * 0.9);
	--go--header--padding--y: calc(var(--go--spacing--header) / var(--go--viewport-basis) * 100vw);

	@media (--huge) {
		--go--header--padding--y: calc(var(--go--spacing--headerMax) / var(--go--viewport-basis) * 100rem);
	}

	/*! Paragraph */
	--go--spacing--vertical: calc(var(--go--spacing--paragraph) / var(--go--viewport-basis) * 100rem);
}
