.editor-writing-flow {
	background-color: hsla(var(--theme-color-body-bg), 1);
	color: hsla(var(--theme-color-text), 1);
	font-family: var(--theme-body--font);
	font-size: var(--theme-body--font-size);
	letter-spacing: var(--theme-body--tracking);
	line-height: var(--theme-body--leading);
	word-wrap: break-word;
}

.wp-block[data-align="wide"] {
	max-width: var(--theme-max-w-base);
}

.wp-block[data-align="full"] {
	max-width: none;
}
