:root {

	/* CUSTOMIZER SETTINGS */

	/* Hex: #254e9c */
	--THEME-COLOR-PRIMARY-DEFAULT: 219, 62%, 38%;
	--THEME-COLOR-PRIMARY: var(--USER-COLOR-PRIMARY, var(--THEME-COLOR-PRIMARY-DEFAULT));

	/* Hex: #fcae6e */
	--THEME-COLOR-SECONDARY-DEFAULT: 27, 96%, 71%;
	--THEME-COLOR-SECONDARY: var(--USER-COLOR-SECONDARY, var(--THEME-COLOR-SECONDARY-DEFAULT));

	/* Hex: #eff8fb */
	--theme-color-aqua-spring: 192, 56%, 96%;

	/* Hex: #eef8f5 */
	--theme-color-aqua-squeeze: 162, 42%, 95%;

	/* Hex: #021b3b */
	--theme-color-tangaroa: 214, 93%, 12%;

	/* Hex: #73bfd8 */
	--theme-color-viking: 195, 56%, 65%;

	/* Hex: #41b093 */
	--theme-color-keppel: 164, 46%, 47%;

	/* Spacing units. */
	--theme-spacing-unit: 0.5rem;
	--theme-spacing-unit-2: 1rem;
	--theme-spacing-unit-4: 2rem;
	--theme-spacing-unit-5: 2.5rem;
	--theme-spacing-unit-6: 3rem;
	--theme-spacing-unit-15: 7.5rem;

	/* Max widths. */
	--theme-max-width-base: 960px;
	--theme-max-width-wide: 1276px;
	--theme-max-width-full: 1440px;

	/***************************************************************
	* TYPOGRAPHY
	***************************************************************/

	/* Font families */
	--theme-body-font-family: "Quicksand", sans-serif;
	--theme-heading-font-family: "Quicksand", sans-serif;

	/* Heading font size */
	--theme-h1-font-size: 2.5rem;
	--theme-h2-font-size: 2.18rem;
	--theme-h3-font-size: 2.25rem;
	--theme-h4-font-size: 1.75rem;
	--theme-h5-font-size: 1.5rem;
	--theme-h6-font-size: 1.25rem;

	@media (--large) {
		--theme-h1-font-size: 3.5rem;
		--theme-h2-font-size: 2.5rem;
	}

	/* Heading colors */
	--theme-h1-color: var(--color-shark);
	--theme-h2-color: var(--color-shark);
	--theme-h3-color: var(--color-shark);
	--theme-h4-color: var(--color-shark);
	--theme-h5-color: var(--color-shark);
	--theme-h6-color: var(--color-shark);

	/* Body color */
	--theme-body-color: var(--color-abbey);
	--theme-body-font-color: var(--color-abbey);

	/* Line heights */
	--theme-body-line-height: 2.0625;
	--theme-heading-line-height: 1.14;

	/* Links */
	--theme-link-color: var(--THEME-COLOR-PRIMARY);
	--theme-link-color-interactive: var(--THEME-COLOR-PRIMARY);
	--theme-link-underline-color: var(--THEME-COLOR-PRIMARY);
	--theme-link-underline-color-interactive: var(--THEME-COLOR-PRIMARY);

	/* Bulleted Lists */
	--theme-list-bullet-color: var(--theme-color-viking);
	--theme-list-font-size: 1rem;
	--theme-list-line-height: 2.0625;
	--theme-list-color: var(--color-mineshaft);
	--theme-list-font-weight: 700;

	/* Feedback colors: error, success, warning, informational.
	 * shared/css/utilities/feedback.css
	 */
	--theme-feedback-error-color: 3, 100%, 61%;
	--theme-feedback-informational-color: 208, 100%, 43%;
	--theme-feedback-success-color: 94, 48%, 56%;
	--theme-feedback-warning-color: 46, 100%, 61%;

	/* shared/css/components/header/site-navigation__toggle.css */
	--theme-site-navigation__toggle-color: var(--color-white);
	--theme-site-navigation__toggle-color-interactive: var(--color-white);
	--theme-site-navigation__toggle-color-active: var(--color-white);
	--theme-site-navigation__toggle-height: var(--spacing-unit-4);
	--theme-site-navigation__toggle-width: var(--spacing-unit-4);
	--theme-site-navigation__toggle-transition-duration: var(--transition-duration);
	--theme-site-navigation__toggle-easing-function: var(--transition-easing-function);
	--theme-site-navigation__toggle-spacing-unit: var(--spacing-unit);
	--theme-site-navigation__toggle-z-index: 301;

	/* shared/css/components/header/has-offscreen-nav.css */
	--theme-has-offscreen-nav-overlay-color: var(--THEME-COLOR-PRIMARY);
	--theme-offscreen-nav-padding: var(--spacing-unit-4);

	/* shared/css/components/header/site-search__toggle.css */
	--theme-site-search__toggle-color: var(--color-white);
	--theme-site-search__toggle-color-interactive: var(--THEME-COLOR-SECONDARY);
	--theme-site-search__toggle-color-active: var(--THEME-COLOR-SECONDARY);
	--theme-site-search__toggle-height: 24px;
	--theme-site-search__toggle-width: 24px;
	--theme-site-search__toggle-transition-duration: var(--transition-duration);
	--theme-site-search__toggle-easing-function: var(--transition-easing-function);
	--theme-site-search__toggle-spacing-unit: var(--spacing-unit);

	/* shared/css/components/header/primary-menu.css */
	--theme-primary-menu-link-color: var(--color-white);
	--theme-primary-submenu-bg-color: var(--color-shark);
	--theme-primary-submenu-link-color: var(--color-white);
	--theme-primary-menu-link-hover-active-color: var(--color-white);

	--theme-site-header-background-color: var(--THEME-COLOR-PRIMARY);
	--theme-site-footer-background-color: var(--THEME-COLOR-PRIMARY);
	--theme-site-footer-link-color: var(--color-white);

	/* shared/css/components/header/site-branding.css */
	--theme-site-branding-text-color: var(--color-white);
	--theme-site-branding-font-family: var(--theme-font-family-heading);
	--theme-site-branding-spacing-unit: var(--spacing-unit-2);
	--theme-site-branding-dividing-border-color: var(--color-white);

	/* shared/css/components/header/site-navigation.css */
	--theme-site-navigation-overlay-color: var(--color-white-alt);
	--theme-site-navigation-z-index: var(--z-index-menu);

	/***************************************************************
	* CoBlocks blocks
	***************************************************************/
	--theme-coblocks-author-background-color: var(--theme-color-aqua-squeeze);
	--theme-coblocks-author-border-radius: 0;
	--theme-coblocks-author-heading-color: var(--color-shark);
	--theme-coblocks-author-name-color: var(--color-shark);

	--theme-coblocks-hero-content-color: var(--color-white);

	--theme-coblocks-pricing-table-color: var(--color-charade);
	--theme-coblocks-pricing-table-background-color: var(--color-athens-gray);
	--theme-coblocks-pricing-table-title-font-family: var(--theme-heading-font-family);
	--theme-coblocks-pricing-table-price-font-family: var(--theme-heading-font-family);
	--theme-coblocks-pricing-table-features-font-family: var(--theme-heading-font-family);
	--theme-coblocks-pricint-table-features-color: var(--color-mid-gray);

	--theme-coblocks-gallery-carousel-overlay-color: var(--color-white);
	--theme-coblocks-gallery-carousel-border-color: var(--color-charade);

	/***************************************************************
	* BUTTONS
	* shared/css/config/mixins.css
	***************************************************************/

	/* SHARED: Vertical button padding */
	--theme-button-block-vertical-spacing-unit: 1.035rem;

	/* SHARED: Horizontal button padding */
	--theme-button-block-horizontal-spacing-unit: 1.9rem;

	/* SHARED: Line height */
	--theme-button-block-line-height: 1.25em;

	/* PRIMARY BUTTON: Font color */
	--theme-button-block-color: 0, 0%, 0%; /* #000 */
	--theme-button-block-color-interactive: 0, 0%, 100%; /* #fff */

	/* PRIMARY BUTTON: Font weight */
	--theme-button-block-font-weight: 700;

	/* PRIMARY BUTTON: Font size */
	--theme-button-block-font-size: 1rem;

	/* PRIMARY BUTTON: Background color */
	--theme-button-block-background-color: 40, 14%, 96%; /* #f6f5f3 */
	--theme-button-block-background-color-interactive: var(--THEME-COLOR-SECONDARY); /* #FCAE6E */

	/* PRIMARY BUTTON: Border radius */
	--theme-button-block-border-radius: 230px;

	/* PRIMARY BUTTON: Border */
	--theme-button-block-border: 5px solid #fff;
	--theme-button-block-border-interactive: 5px solid transparent;

	/* PRIMARY BUTTON: Box shadow (use none to remove) */
	--theme-button-block-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
	--theme-button-block-shadow-interactive: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.12);

	/* PRIMARY BUTTON: Padding */
	--theme-button-block-padding: calc(var(--theme-button-block-vertical-spacing-unit) - 6px) calc(var(--theme-button-block-horizontal-spacing-unit) - 5px) calc(var(--theme-button-block-vertical-spacing-unit) - 4px);

	/* PRIMARY BUTTON: Text decoration */
	--theme-button-block-text-decoration: none;
	--theme-button-block-text-decoration-interactive: none;

	/* PRIMARY BUTTON: Text transform */
	--theme-button-block-text-transform: normal;

	/* SECONDARY BUTTON: Background color */
	--theme-button-block-outline-background-color: 192, 56%, 96%; /* #f1f9fb */
	--theme-button-block-outline-background-color-interactive: 0, 0%, 100%; /* #fff */

	/* SECONDARY BUTTON: Border color */
	--theme-button-block-outline-border: 2px solid transparent;
	--theme-button-block-outline-border-interactive: 2px solid hsl(0, 10%, 92%); /* #ede9e9 */

	/* SECONDARY BUTTON: Border radius */
	--theme-button-block-outline-border-radius: 230px;

	/* SECONDARY BUTTON: Box shadow (use none to remove) */
	--theme-button-block-outline-shadow: none;
	--theme-button-block-outline-shadow-interactive: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.12);

	/* SECONDARY BUTTON: Font color */
	--theme-button-block-outline-color: var(--color-charade); /* #24252f */
	--theme-button-block-outline-color-interactive: 0, 0%, 0%; /* #000 */

	/* SECONDARY BUTTON: Font weight */
	--theme-button-block-outline-font-weight: 700;

	/* SECONDARY BUTTON: Font size */
	--theme-button-block-outline-font-size: 1rem;

	/* SECONDARY BUTTON: Padding */
	--theme-button-block-outline-padding: calc(var(--theme-button-block-vertical-spacing-unit) - 3px) calc(var(--theme-button-block-horizontal-spacing-unit) - 2px) calc(var(--theme-button-block-vertical-spacing-unit) - 1px);

	/* SECONDARY BUTTON: Text decoration */
	--theme-button-block-outline-text-decoration: none;
	--theme-button-block-outline-text-decoration-interactive: underline;

	/* SECONDARY BUTTON: Text transform */
	--theme-button-block-outline-text-transform: normal;

	/* ALTERNATE BUTTON: Border color */
	--theme-button-block-alternate-border: 3px solid hsl(225, 6%, 13%);
	--theme-button-block-alternate-border-interactive: 3px solid hsl(225, 6%, 13%);

	/* ALTERNATE BUTTON: Font color */
	--theme-button-block-alternate-color: 225, 6%, 13%;
	--theme-button-block-alternate-color-interactive: 225, 6%, 13%;

	/* ALTERNATE BUTTON: Font size */
	--theme-button-block-alternate-font-size: 0.875rem;

	/* ALTERNATE BUTTON: Font weight */
	--theme-button-block-alternate-font-weight: 700;

	/* ALTERNATE BUTTON: Padding */
	--theme-button-block-alternate-padding: var(--theme-button-block-vertical-spacing-unit) 0 0;

	/* ALTERNATE BUTTON: Text transform */
	--theme-button-block-alternate-text-transform: uppercase;

	/* DISABLED BUTTON: Background color */
	--theme-button-block-disabled-background-color: 0, 2%, 89%; /* #e3e2e2 */

	/* DISABLED BUTTON: Border radius */
	--theme-button-block-disabled-border-radius: 230px;

	/* DISABLED BUTTON: Font color */
	--theme-button-block-disabled-color: 0, 0%, 61%; /* #9b9b9b */

	/* DISABLED BUTTON: Font size */
	--theme-button-block-disabled-font-size: 1rem;

	/* DISABLED BUTTON: Font weight */
	--theme-button-block-disabled-font-weight: 700;

	/* DISABLED BUTTON: Padding */
	--theme-button-block-disabled-padding: calc(var(--theme-button-block-vertical-spacing-unit) - 1px) var(--theme-button-block-horizontal-spacing-unit) calc(var(--theme-button-block-vertical-spacing-unit) + 1px);

	/* UNDERLINED BUTTON: Underline color */
	--theme-button-block-underlined-color: 0, 0%, 100%; /* #fff */
	--theme-button-block-underlined-color-interactive: 0, 0%, 100%; /* #fff */

	/***************************************************************
	* FORMS
	* shared/css/elements/forms.css
	* shared/css/config/mixins.css
	***************************************************************/

	/* SHARED: Input padding */
	--theme-spacing-v-input: 1rem;
	--theme-spacing-h-input: 1rem;

	/* Labels */
	--theme-label-letter-spacing: 2px;
	--theme-label-text-transform: uppercase;
	--theme-label-font-family: sans-serif;
	--theme-input-label-font-size: 0.875rem;
	--theme-input-label-font-weight: 700;
	--theme-label-color: 195, 56%, 65%; /* #73bfd8 */

	/* Inputs */
	--theme-input-border-bottom-width: 1px;
	--theme-input-border-left-width: 1px;
	--theme-input-border-right-width: 1px;
	--theme-input-border-top-width: 1px;
	--theme-input-border-width: 1px;
	--theme-input-stroke-color: 210, 6%, 63%; /* #9aa0a6 */
	--theme-input-border-radius: 0;
	--theme-input-font-size: 1rem;
	--theme-input-font-weight: 700;
	--theme-input-stroke-color-focus: 195, 56%, 65%; /* #73bfd8 */
	--theme-input-box-shadow-focus: 0 1px 11px rgba(40, 37, 37, 0.07);
	--theme-input-color: 0, 0%, 47%; /* #797878 */
	--theme-input-color-focus: 195, 56%, 65%; /* #73bfd8 */
	--theme-input-placeholder-color: 0, 0%, 70%; /* #b3b3b3 */
	--theme-input-color-background: 0, 0%, 100%; /* #fff */

	/* Errors */
	--theme-color-error: 357, 81%, 38%; /* #b0131c */
	--theme-input-stroke-error: 357, 81%, 38%; /* #b0131c */

	/* Textarea */
	--theme-textarea-color: 0, 0%, 47%; /* #797878 */
	--theme-textarea-stroke-color: 210, 6%, 63%; /* #9aa0a6 */
	--theme-textarea-color-focus: 195, 56%, 65%; /* #73bfd8 */
	--theme-textarea-stroke-color-focus: 195, 56%, 65%; /* #73bfd8 */
	--theme-textarea-color-background: 0, 0%, 100%; /* #fff */

	/* Check and Radio SVG trick */
	--theme-checkbox-radio-fill: 195, 56%, 65%; /* #73bfd8 */
}
