/**
 * Trendy Shop - Site branding
 */

.site-branding__title,
.site-branding__description {
	font-family: var(--theme-heading-font-family);
	font-size: 1.4rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}
