/**
 * Traditional - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");

.flickity-prev-next-button {
	border-radius: 3px;
}

.flickity-button-icon {
	fill: hsl(var(--theme-color-primary));
}

.wp-block-coblocks-food-item__attributes {
	top: 0;
}

.meta-icon {
	position: relative;
	top: 1px;
}

.post-date .meta-icon {
	top: 2px;
}
