/**
 * Traditional - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");

.wp-block-code,
.wp-block-verse,
p.has-background,
.wp-block-pullquote,
.wp-block-coblocks-alert,
.wp-block-separator.is-style-wide,
.wp-block-group:not(.alignfull):not(.alignwide),
.wp-block-cover:not(.alignwide):not(.alignfull),
.wp-block-coblocks-dynamic-separator.is-style-fullwidth::before {
	@media (--base) {
		margin-left: var(--theme-block-padding-x);
		margin-right: var(--theme-block-padding-x);
	}
}

.site-branding__title {
	position: relative;
	top: -5px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	outline: none !important;
}

.flickity-prev-next-button {
	border-radius: 3px;
}

.flickity-button-icon {
	fill: hsl(var(--theme-color-primary));
}

.wp-block-coblocks-food-item__attributes {
	top: 0;
}
