/*
 * Add named breakpoints into the DOM for JS hooks
*/
body {

	&::before {
		content: "has-offscreen-nav";
		display: none;

		@media (--large) {
			content: "has-full-nav has-search-toggle";
		}
	}
}

/**
 * Offscreen navigation
 */
.has-offscreen-nav {

	& .site-navigation {
		opacity: 1;
	}

	& .primary-menu .sub-menu {
		margin-top: 1.75rem;
		padding: 0 1.75rem;
	}

	& .sub-menu[aria-hidden="true"] {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

	&.menu-is-open .site-header .custom-logo-link,
	&.menu-is-open .site-header .site-branding__link {
		opacity: 0;
	}

	&.menu-is-open:not([data-header="header-5"]) {

		& .primary-menu .menu-item a {
			color: hsl(var(--theme-offscreen-nav--color));
		}

		& .primary-menu .sub-menu {
			background-color: hsl(var(--theme-offscreen-submenu--bg));

			&::before {
				border-bottom: 10px solid hsl(var(--theme-offscreen-submenu--bg));
			}

			& a {
				color: hsl(var(--theme-offscreen-submenu--color));
			}
		}
	}

	&.menu-is-open .primary-menu {
		padding-bottom: 4rem;
		padding-top: 4rem;
		z-index: 11;

		& .menu-item {
			padding-bottom: 1.25rem;
			padding-top: 1.25rem;
		}

		& .sub-menu li {
			padding-bottom: 0.25rem;
			padding-top: 0.5rem;

			&:first-child {
				padding-top: 1.75rem;
			}

			&:last-child {
				padding-bottom: 1.75rem;
			}

			& a {
				padding: 0.5rem;
				width: auto;
			}
		}
	}

	&.menu-is-open .site-navigation {
		background-color: hsl(var(--theme-offscreen-nav--bg));
		bottom: 0;
		height: 100%;
		left: 0;
		opacity: 1;
		padding-left: var(--theme-block-padding-x);
		padding-right: var(--theme-block-padding-x);
		position: fixed;
		right: 0;
		visibility: visible;
		width: auto;
		z-index: 999;

		@media (--large) {
			height: auto;
			padding: 0;
		}
	}

	&.menu-is-open .site-navigation__toggle-icon-inner,
	&.menu-is-open .site-navigation__toggle-icon-inner::before,
	&.menu-is-open .site-navigation__toggle-icon-inner::after {
		background-color: hsl(var(--theme-offscreen-nav--color));
	}

	&.menu-is-open[data-header="header-1"] {

		& .site-search__toggle {
			display: none;
		}
	}

	&.menu-is-open[data-header="header-2"] {

		& .primary-menu {
			padding-bottom: 5rem;
			padding-top: 6rem;
		}
	}

	&.menu-is-open[data-header="header-4"] {
		height: 100%;
		overflow: hidden;
		position: fixed;
		width: 100%;

		& .site-navigation {
			overflow: visible;

			& .primary-menu {
				opacity: 1;
				transform: scale(1, 1);
				transition: opacity 250ms ease-in-out, visibility 0s 0s linear, transform 250ms ease-in-out;
				visibility: visible;
			}

			@media (--large) {
				align-items: center;
				bottom: 0;
				height: 100%;
				left: 0;
				overflow-y: scroll;
				padding-left: 0;
				position: fixed;
				right: 0;

				& .primary-menu {

					& .sub-menu a,
					& .menu-item {
						padding-left: 0;
						padding-right: 0;
					}
				}

				& .sub-menu {
					margin: 0;
				}
			}

			& .site-navigation .primary-menu .menu-item-has-children > [aria-haspopup] {
				@media (--large) {
					margin-left: 10px;
				}
			}

			& [aria-hidden="true"] {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&.menu-is-open[data-header="header-5"] {
		bottom: 0;
		height: 100%;
		left: 0;
		overflow-y: hidden;
		position: static;
		right: 0;
		top: 0;
		width: 100%;

		&::after {
			opacity: 1;
			transition: opacity 100ms linear, visibility 0ms 0ms linear;
			visibility: visible;
		}

		& .site-navigation {
			align-items: flex-start;
			background-color: hsl(var(--theme-header-5-offscreen-nav--bg));
			overflow: visible;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			width: 100%;

			@media (--medium) {
				width: 26em;
			}

			@media (--large) {
				width: 30em;
			}
		}

		& .site-navigation__toggle {
			height: calc(var(--theme-site-nav-toggle--size) + 2rem);
			width: calc(var(--theme-site-nav-toggle--size) + 2rem);

			@media (--medium) {
				height: var(--theme-header-5-nav--width);
				width: var(--theme-header-5-nav--width);
			}
		}

		&.menu-is-open .site-navigation__toggle-icon-inner,
		&.menu-is-open .site-navigation__toggle-icon-inner::before,
		&.menu-is-open .site-navigation__toggle-icon-inner::after {
			background-color: hsl(var(--theme-header-5-offscreen-nav--color));
		}

		& .primary-menu {
			height: 100%;
			left: 0;
			overflow-y: scroll;
			padding-top: 4em;

			@media (--medium) {
				padding-top: 8em;
			}

			& ul:not(.sub-menu) a {
				color: hsl(var(--theme-header-5-offscreen-nav--color));
			}
		}
	}
}
