/*! Header: Header 4 */
[data-header="header-4"] {

	&::before {
		content: "has-search-toggle has-offscreen-nav";
		display: none;

		@media (--large) {
			content: "has-search-toggle has-offscreen-nav";
		}
	}

	& .site-header .site-branding {
		flex: 1;
		justify-content: center;
		max-width: 100%;
		text-align: center;
	}

	& .site-navigation__toggle {
		display: block;
	}

	& .site-navigation {
		text-align: center;

		@media (--large) {
			align-items: center;
			flex-direction: row;
			height: 0;
			justify-content: center;
			opacity: 0;
			overflow: hidden;
			position: fixed;
			width: auto;
		}
	}

	& .primary-menu {
		margin-left: 0;
		margin-right: 0;
		opacity: 0;
		transform: scale(1.35, 1.35);
		visibility: hidden;
		width: 100%;

		& a {
			font-size: var(--theme-site-nav--font-size-mobile);
		}

		& .menu-item {
			@media (--large) {
				display: block;
				padding-right: 0;
			}
		}

		& > li > .sub-menu::before {
			left: 50%;
		}
	}

	& .site-header .site-search {
		left: 0;
		left: calc(var(--theme-block-padding-x) - 0.3rem);
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: calc(var(--theme-block-padding-x) - 2rem);
		transform: translateX(-100%);
		transition: opacity 175ms ease-out 75ms, transform ease-out 175ms;
		z-index: 310;

		@media (--medium) {
			right: auto;
		}
	}
}
