/*! Header: Header 4 */
.has-header-4 {

	& .header__extras {
		justify-content: flex-start;
		order: 1;

		& .site-search__toggle {
			margin-left: -0.75rem;
			margin-right: 0;
		}
	}

	& .header__nav-toggle {
		align-items: flex-end;
		display: inline-flex;
		justify-content: flex-end;
		order: 3;

		& .site-navigation__toggle {
			display: inline-flex;
			margin-left: 0;
			margin-right: -0.75rem;
		}
	}

	& .header__title {
		order: 2;
	}

	& .site-branding {
		flex: 1 0 100%;
		justify-content: center;
		text-align: center;
	}

	& .site-navigation {
		display: none;
	}
}
