/*! Header */
.header {
	background-color: hsl(var(--theme-header--bg));

	& .u-informational {
		display: inline-block;
		padding: 0.3rem 0.5rem;
	}
}

.header__inner {
	padding: 2vw var(--theme-block-padding-x);

	@media (--medium) {
		padding-bottom: var(--header-padding, 3vw);
		padding-top: var(--header-padding, 3vw);
	}
}

.header__title-nav {
	flex: 1 0 75%;
	order: 2;
}

.header__extras {
	align-items: center;
	display: inline-flex;
	flex: 0 0 12.5%;
	justify-content: flex-start;
	margin-left: -0.75rem;
	order: 1;
	z-index: 9999;

	@media (--large) {
		flex: inherit;
		flex-grow: 0;
		flex-shrink: 1;
		margin-left: var(--theme-site-nav--padding-x, 2.25vw);
		margin-right: -0.75rem;
		order: 3;
	}
}

.has-header-1 .header__extras {
	@media (--large) {
		justify-content: flex-end;
	}
}
