/*! Header: Header 7 */
.has-header-7 {

	.header__title-nav {
		flex: 0 0 80%;
		order: 1;
	}

	.header__extras {
		flex: 0 0 45px;
		justify-content: flex-end;
		margin-left: -0.75rem;
		order: 5;
	}

	.site-header {

		.social-icons-container {
			display: flex;
			flex: auto;
			justify-content: flex-end;
			margin: 0 1rem 0 0;
			order: 4;
			padding-left: 0;

			.social-icons {
				margin: 0;
				padding: 0;
				text-align: right;
				width: 100%;

				.social-icons__icon {
					padding: 6px;
				}
			}
		}
	}

	.header .header__titles {
		flex: 1 0 20%;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		.site-description {
			margin-left: 0;
			margin-right: 0;
			margin-top: var(--go-site-description--margin-top, 0.25rem);
		}

		.custom-logo-link {
			.custom-logo {
				margin: 0;
			}

			~ a .site-title {
				margin: 0;
			}
		}
	}

	@include media(large) {

		.header__navigation {
			flex: 0 0 80%;
			justify-content: center;
			margin-left: inherit;
			margin-top: 0.75rem;
			order: 2;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}
}
