/*! Header: Header 2 */
.has-header-2 {

	& .site-header__extras {
		justify-content: flex-start;
		order: 1;

		& .site-search__toggle {
			margin-left: -0.75rem;
			margin-right: 0;
		}
	}

	& .site-header__title {
		order: 2;
	}

	& .site-header__nav-toggle {
		align-items: flex-end;
		display: inline-flex;
		justify-content: flex-end;
		order: 3;

		& .site-navigation__toggle {
			margin-left: 0;
			margin-right: -0.75rem;
		}
	}

	@media (--large) {

		& .site-header__title {
			order: 3;
		}

		& .site-navigation {
			justify-content: flex-start;
			order: 1;
			padding-left: 0;
			padding-right: var(--theme-site-nav--padding-x, 2vw);
			text-align: left;

			& li:not(:first-child) {
				margin-left: 0;
			}

			& li:not(:last-child) {
				margin-right: var(--theme-site-nav--padding-x, 2vw);
			}
		}

		& .site-header__extras {
			order: 1;

			& > *:last-child {
				@media (--large) {
					margin-left: 0;
					margin-right: var(--theme-site-nav--padding-x, 2.25vw);
				}
			}
		}
	}
}
