/*! Header: Header 2 */
[data-header="header-2"] {

	& .site-header .site-branding {
		flex: auto 0;
	}

	& .site-header .site-branding__link {
		text-align: right;

		@media (--small) {
			order: 2;
		}

		& + .site-branding__description {
			@media (--small) {
				margin-left: 0;
				margin-right: 0.5rem;
				padding-left: 0;
				padding-right: 1.75rem;
			}

			&::before {
				@media (--small) {
					left: auto;
					right: 10px;
					width: 1px;
				}
			}
		}
	}

	& .primary-menu {
		@media (--large) {
			margin-left: calc(-1 * var(--theme-site-nav--padding-x));
		}
	}

	& .site-navigation__toggle {
		margin-left: -0.5rem;
		margin-right: calc(var(--theme-block-padding-x) * 0.65);
	}
}
