/*! Header: Site Navigation */
.header__navigation {
	display: none;

	@media (--large) {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		flex-shrink: 1;
		justify-content: flex-end;
		margin-left: auto;
		order: 2;
		padding-left: var(--theme-site-nav--padding-x, 2vw);
		position: relative;
		text-align: right;
	}

	& li:not(:first-child) {
		margin-left: var(--theme-site-nav--padding-x, 2vw);
	}

	& .primary-menu [aria-hidden="true"]:not(:hover) {
		display: none !important;
		opacity: 0;
		visibility: hidden;
	}
}
