/*! Header: Site Branding */
.site-branding {
	flex: 1 0 33%;
	line-height: 1.1;
	max-width: 50%;
	position: relative;
	top: 3px;

	& a {
		text-decoration-color: transparent;
	}

	& .custom-logo {
		max-width: var(--theme-site-logo--width-mobile);

		@media (--small) {
			max-width: var(--theme-site-logo--width);
		}
	}
}

.wp-custom-logo .site-branding {
	top: 0;
}

.site-branding__title {
	color: hsla(var(--theme-site-title--color), 1);
	font-family: var(--theme-site-title--font);
	font-size: var(--theme-site-title--font-size);
	font-weight: var(--theme-site-title--weight);
	letter-spacing: var(--theme-site-title--tracking);
	text-transform: var(--theme-site-title--text-transform);
}

h1.site-branding__title {
	color: hsla(var(--theme-site-title--color), 1);
	line-height: inherit;
	margin: 0;
}

.site-branding__link {
	display: block;
	line-height: 1;
	text-decoration: none;

	@media (--medium) {
		display: inline-block;
	}

	&:hover {
		text-decoration: none;
	}

	& + .site-branding__description {
		color: hsla(var(--theme-site-description--color), 1);
		line-height: var(--theme-site-description--leading);
		margin-top: 0.25rem;
		opacity: var(--theme-site-description--opacity, 0.65);

		@media (--small) {
			margin-left: 0.5rem;
			margin-top: 0;
			padding-left: 1.75rem;
		}

		&::before {
			@media (--small) {
				background-color: currentColor;
				content: "";
				display: block;
				height: 100%;
				left: 10px;
				opacity: 0.25;
				position: absolute;
				width: 1px;
			}
		}
	}
}

.site-branding__link:focus,
.custom-logo-link:focus {
	@mixin outline;
	outline-offset: 7px;
}
