/*! Site Search: */
.header .site-search {
	z-index: 2;

	& .search-form {
		display: flex;
	}

	& .search-form__input {
		margin-bottom: 0;
	}

	& .search-input__button {
		border-radius: var(--theme-search-submit--radius, var(--theme-button--radius));
		box-shadow: none;
		color: inherit;
		margin: 0 0 0 0.5rem;
		padding: 0 1.75rem;
		position: relative;
		transition: var(--theme-button-transition);
		width: 50px;

		& .search-input__label {
			left: -5000px;
			position: absolute;
		}

		& .search-input__arrow-icon {
			fill: hsl(var(--theme-search-submit--color));
			height: auto;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 20px;
		}

		&::after {
			display: none !important;
		}

		&:active,
		&:hover {
			background-color: hsl(var(--theme-search-submit--bg-interactive));
			border-color: hsl(var(--theme-search-submit--bg-interactive));
			box-shadow: none;

			& .search-input__arrow-icon {
				fill: hsl(var(--theme-search-submit--color));
			}
		}

		&:focus {
			@mixin outline;
			outline-offset: 2px;
		}
	}
}
