/*! Header */
.site-header {
	background-color: hsla(var(--theme-header--bg), 1);
	overflow: hidden;
}

.site-header__inner {
	padding: var(--theme-header--padding-y) var(--theme-block-padding-x);
}

.site-header.has-background + .site-content {
	margin-top: var(--theme-block-padding-x);
}
