/*! Header: Site Branding */
.site-branding {
	flex: 1 0 33%;
	line-height: 1.1;
	max-width: 50%;
	position: relative;
	top: 3px;

	& .custom-logo {
		max-width: var(--theme-site-logo--width-mobile);

		@media (--small) {
			max-width: var(--theme-site-logo--width);
		}
	}
}

.wp-custom-logo .site-branding {
	top: 0;
}

.site-branding__title {
	color: hsla(var(--theme-site-title--color), 1);
	font-family: var(--theme-site-title--font);
	font-size: var(--theme-site-title--font-size);
	font-weight: var(--theme-site-title--weight, var(--theme-heading--weight));
	letter-spacing: var(--theme-site-title--tracking);
	text-transform: var(--theme-site-title--text-transform);
}

h1.site-branding__title {
	color: hsla(var(--theme-site-title--color), 1);
	line-height: inherit;
	margin: 0;
}

.site-branding__description {
	color: hsl(var(--theme-site-description--color));
	font-family: var(--theme-site-description--font);
	font-size: var(--theme-site-description--font-size);
	font-weight: var(--theme-site-description--font-weight, 400);
	line-height: var(--theme-site-description--leading);
	margin-top: var(--theme-site-description--mt, 0);
	opacity: var(--theme-site-description--opacity, 0.65);
}

.site-branding__link {
	display: block;
	line-height: 1;
	text-decoration: none;

	@media (--medium) {
		display: inline-block;
	}

	&:hover {
		text-decoration: none !important;
	}

	& + .site-branding__description {
		display: none;

		@media (--medium) {
			display: block;
			margin-left: 1.5rem;
		}
	}
}

.site-branding__link:focus,
.custom-logo-link:focus {
	@mixin outline;
	outline-offset: 7px;
}
