/*! Header: Site Navigation */
.site-navigation {
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 0;
	left: 0;
	min-width: 18em;
	opacity: 0;
	overflow-y: scroll;
	position: fixed;
	top: 0;

	@media (--large) {
		align-items: center;
		background: transparent;
		flex-direction: row;
		height: 100%;
		justify-content: flex-end;
		max-height: none;
		opacity: 1;
		overflow: visible;
		position: relative;
		top: auto;
		width: auto;
	}

	& .primary-menu [aria-hidden="true"]:not(:hover) {
		display: none !important;
		opacity: 0;
		visibility: hidden;
	}
}

.admin-bar .site-navigation {
	top: 32px;

	@media (--admin-bar-lg) {
		top: 46px;
	}

	@media (--large) {
		top: initial;
	}
}

body.menu-is-open {
	@media (max-width: 1087px) {
		height: 100%;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}

	&.admin-bar {
		@media (--admin-bar-lg) {
			position: inherit !important;
		}
	}
}
