/*! Header: Site Search: Toggle */
.site-search__toggle {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: hsl(var(--theme-search-toggle--color));
	display: inline-block;
	height: calc(var(--theme-search-toggle--size, 1.5rem) * 2);
	line-height: 1;
	padding: 0.1rem;
	position: relative;
	transition: var(--theme-link-transition);
	width: calc(var(--theme-search-toggle--size, 1.5rem) * 2);
	z-index: 1;

	@media (--large) {
		display: block;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	&:hover svg,
	&:focus svg {
		outline: none;
		transform: scale(1.125);
	}

	& svg {
		fill: currentColor;
		transition: transform 0.15s linear;
		width: var(--theme-search-toggle--size, 1.5rem);
	}
}

.primary-menu + .site-search__toggle {
	margin-left: 0.7rem;
}
