/*! Header: Site Search */
.site-header {

	& .site-search {
		z-index: 2;

		@media (--large) {
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			right: -0.75rem;
			transform: translateX(60%);
			transition: opacity 175ms ease-out 75ms, transform ease-out 175ms;
		}

		& .search-form {
			display: flex;
		}

		& .search-form__input {
			margin-bottom: 0;
		}

		& .search-input__button {
			background-color: hsl(var(--theme-search-submit--bg));
			border-radius: var(--theme-search-submit--radius, var(--theme-button--radius));
			box-shadow: none;
			color: inherit;
			margin: 0 0 0 0.5rem;
			padding: 0 1.75rem;
			position: relative;
			transition: var(--theme-button-transition);
			width: 50px;

			& .search-input__label {
				left: -5000px;
				position: absolute;
			}

			& .search-input__arrow-icon {
				fill: hsl(var(--theme-search-submit--color));
				height: auto;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 20px;
			}

			&::after {
				display: none !important;
			}

			&:active,
			&:hover {
				background-color: hsl(var(--theme-search-submit--bg-interactive));
				border-color: hsl(var(--theme-search-submit--bg-interactive));
				box-shadow: none;

				& .search-input__arrow-icon {
					fill: hsl(var(--theme-search-submit--color));
				}
			}

			&:focus {
				@mixin outline;
				outline-offset: 2px;
			}
		}

		/* When search becomes visible */
		&.is-open {
			opacity: 1;
			pointer-events: all;
			transform: translateX(0);
			z-index: 9999;
		}
	}
}

/* Override aria defaults */
.site-navigation .site-search[aria-hidden="true"] {
	display: block;
	visibility: visible;
}
