/*! Header: Primary Menu */
.primary-menu {

	/* A toggling parent item with children */
	& .menu-item-has-children {

		& svg {
			color: currentColor;
			display: inline-block;
			height: 0.55rem;
			margin-left: 0.25rem;
			width: 0.55rem;
		}

		&:hover,
		&.child-has-focus {

			& > .sub-menu {
				@media (--large) {
					display: block;
				}
			}
		}
	}

	/* First submenu */
	& > li > .sub-menu {
		position: relative;

		@media (--large) {
			position: absolute;
			top: 165%;
		}

		/* Upward dark arrow on top of the flyout sub-menu */
		&::before {
			border-bottom: 10px solid hsl(var(--theme-submenu--bg, var(--theme-color-heading)));
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			content: "";
			display: inline-block;
			height: 0;
			left: 5%;
			position: absolute;
			top: -10px;
			transform: translateX(-10px);
			width: 0;

			@media (--large) {
				left: 50%;
			}
		}
	}

	/* All other submenus */
	& .sub-menu {
		background-color: hsl(var(--theme-submenu--bg, var(--theme-color-heading)));
		list-style: none;
		margin: 0;
		padding: 0;
		z-index: 999;

		@media (--large) {
			display: none;
			left: 50%;
			padding: 0.75rem;
			position: absolute;
			text-align: center;
			transform: translateX(-50%);
			width: 200px;
		}

		/* All submenu link containers (<li>) */
		& .menu-item {
			white-space: normal;

			@media (--large) {
				display: block;
				margin-left: 0;
			}
		}

		/* All submenu links */
		& a {
			color: hsl(var(--theme-submenu--color, 0, 0%, 100%));
			width: 100%;

			@media (--large) {
				padding-bottom: 0.35rem;
				padding-top: 0.35rem;
			}

			&::after {
				display: none;
			}

			&:focus {
				@mixin outline;
				outline-color: hsla(var(--theme-submenu--color, 0, 0%, 100%), 0.25);
				outline-offset: 0;
			}
		}
	}

	/* Tertiary submenu */
	& .sub-menu .sub-menu {
		display: block;
		left: 0;
		margin: 0;
		padding: 0;
		position: relative;
		transform: none;
		width: auto;
	}

	&.primary-menu--hide-medium {
		@media (--medium) {
			opacity: 0;
			pointer-events: none;
		}
	}
}

/* Flip icon when item is expanded */
.submenu-is-open {

	& svg {
		transform: rotate(180deg);
	}
}

& .sub-menu[aria-hidden="true"] {
	display: none;
	opacity: 0;
	visibility: hidden;
}
