/* "Open Sans" font */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-bolditalic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-bolditalic-webfont.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-bold-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-italic-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-italic-webfont.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-regular-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/opensans/opensans-regular-webfont.woff") format("woff");
}

/* "Work Sans" font */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	src:
		url("../../../dist/design-styles/welcoming/fonts/worksans/worksans-bold-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/worksans/worksans-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	src:
		url("../../../dist/design-styles/welcoming/fonts/worksans/worksans-regular-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/worksans/worksans-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 300;
	src:
		url("../../../dist/design-styles/welcoming/fonts/worksans/worksans-light-webfont.woff2") format("woff2"),
		url("../../../dist/design-styles/welcoming/fonts/worksans/worksans-light-webfont.woff") format("woff");
}
