/**
 * Global hr styling
 */

.content-area {

	& .wp-block-separator,
	& hr {
		background-image: url("../../../dist/design-styles/play/svg/cross-stich-border.svg");
		background-position: center center;
		background-repeat: repeat-x;
		border: none;
		height: 12px;
		max-width: 114px !important;
	}
}
