/**
 * blog.css
 *
 * Defines most styles for blog listing.
 *
 */

.archive,
.blog,
.search,
.page {

	& .navigation.posts-navigation,
	& .post.post--archive {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--theme-max-width-wide); /* design doesn't match */
		max-width: 1150px;
	}

	& .content-area > h1 {
		margin-bottom: var(--theme-spacing-unit-5);
		text-align: center;
	}

	& .page-title {
		font-size: var(--theme-page-title-font-size, 1.875rem);
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
