/**
 * Traditional - CoBlocks Author card overrides
 */

/* Local scoped variable overrides */
.wp-block-coblocks-author {
	@media (--medium) {
		padding-bottom: calc(2 * var(--theme-spacing-unit));
	}

	& .wp-block-coblocks-author__heading {
		font-family: var(--theme-heading-font-family);
	}

	& .wp-block-coblocks-author__biography {
		line-height: 1.75;
	}

	& .wp-block-button {
		margin-top: calc(4 * var(--theme-spacing-unit));
	}
}
