/**
 * Traditional - CoBlocks Hero block
 */

.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay),
.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay) {

	&:not(.has-background-overlay) .wp-block-coblocks-hero__box::before {
		background-color: hsl(var(--THEME-COLOR-PRIMARY));
		opacity: 0.8;
	}

	&:not(.has-text-color) {
		color: hsl(var(--color-white));

		& h1,
		& .h1,
		& h2,
		& .h2,
		& h3,
		& .h3,
		& h4,
		& .h4,
		& h5,
		& .h5,
		& h6,
		& .h6 {
			color: inherit;
		}
	}

	& h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.05;

		@media (--large) {
			font-size: 3.125rem;
			line-height: 1.1;
		}
	}

	& .wp-block-button.is-style-outline {
		--theme-button-block-outline-color: var(--color-iron);
		--theme-button-block-outline-color-interactive: var(--color-iron);

		--theme-button-block-outline-background-color-interactive: var(--theme-color-blue-stone);
	}

	& .is-style-outline .wp-block-button__link {
		border-color: currentColor;
	}
}
