/**
 * Traditional - CoBlocks Media Card block
 */

.wp-block-coblocks-media-card {
	overflow: hidden;

	/* Media Card - wrapper */
	& .wp-block-coblocks-media-card__wrapper {
		grid-template-columns: repeat(24, 1fr);
	}

	/* Media Card - <figure> element */
	& .wp-block-coblocks-media-card__media {
		@media (min-width: 660px) {
			grid-column: 1 / 17;
		}

		@media (--medium) {
			grid-column: 1 / 19;
		}

		& img {
			object-fit: fill;
		}
	}

	/* Media Card - content: heading + copy */
	& .wp-block-coblocks-media-card__content {
		@media (min-width: 660px) {
			grid-column: 13 / 25;
			margin: 0;
		}
	}

	/* Media Card - we have to brute this color in to place. */
	& .wp-block-coblocks-row__inner[style*="background-color:#FFFFFF"],
	& .wp-block-coblocks-row__inner[style*="background-color: rgb(255, 255, 255)"] {
		background-color: hsl(var(--color-alabaster)) !important;
	}

	/* Media Card - we override the 'Huge' setting only */
	& .wp-block-coblocks-row__inner.has-huge-padding {
		padding: calc(2 * var(--theme-spacing-unit-4)) calc(1.25 * var(--theme-spacing-unit-4)) var(--theme-spacing-unit-4);
	}

	&.is-stacked-on-mobile .wp-block-coblocks-media-card__content {
		@media (max-width: 660px) {
			margin-left: var(--theme-spacing-unit-2);
			margin-right: var(--theme-spacing-unit-2);
			margin-top: -10%;
		}
	}

	/* Media Card - heading */
	& h3 {
		font-size: 1.8rem;
		line-height: 1.02;
		margin: 0 0 var(--theme-spacing-unit);

		@media (--large) {
			font-size: 3.125rem;
		}
	}

	/* Media Card - inner content */
	& .wp-block-coblocks-column__inner {

		& > h3 {
			color: hsl(var(--color-mineshaft));
		}

		& > * {
			color: hsl(var(--color-mid-gray));
		}

		& > p {
			line-height: 1.375;
		}

		& .wp-block-button {
			margin-top: calc(2 * var(--theme-spacing-unit-2));
			max-width: none;

			@media (--large) {
				margin-top: calc(4 * var(--theme-spacing-unit-2));
			}
		}
	}
}
