/**
 * Traditional - CoBlocks Pricing Table block
 */

.wp-block-coblocks-pricing-table {

	/* Pricing Tables - each item */
	& .wp-block-coblocks-pricing-table-item {
		padding-bottom: calc(3.2 * var(--theme-spacing-unit-2));
	}

	/* Pricing Tables - item title */
	& .wp-block-coblocks-pricing-table-item__title {
		font-family: var(--theme-body-font-family);
		text-transform: lowercase;
	}

	/* Pricing Tables - price wrapper */
	& .wp-block-coblocks-pricing-table-item__price-wrapper {
		font-family: var(--theme-body-font-family);
		margin-bottom: calc(3 * var(--theme-spacing-unit));
	}

	/* Pricing Tables - features <ul> list */
	& .wp-block-coblocks-pricing-table-item__features {
		font-family: var(--theme-body-font-family);
		margin-bottom: calc(3.5 * var(--theme-spacing-unit-2));

		& li {
			margin-bottom: var(--theme-spacing-unit-2);
		}
	}

	/* Pricing Tables - link-button */
	& .is-style-outline .wp-block-button__link,
	& .is-style-outline-rounded .wp-block-button__link {
		padding-bottom: 13px;
		padding-top: 13px;

		@media (--large) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
