/**
 * Play - Footer #4 variant
 */

.is-play .site-footer--4 {
	@media (--large) {
		padding-top: calc(2 * var(--theme-spacing-unit-6));
	}

	& .row--1 {
		align-items: center;
		display: flex;
		flex-flow: column wrap;
		margin-bottom: 0;

		@media (--medium) {
			flex-flow: row wrap;
			justify-content: flex-start;
			margin-left: 4.65%;
			margin-right: 4.65%;
		}
	}

	& .row--2 {
		display: flex;
		justify-content: center;

		@media (--medium) {
			justify-content: flex-end;
		}

		@media (--large) {
			margin-left: 4.65%;
			margin-right: 4.65%;
		}
	}

	& .row--3 {
		@media (--large) {
			margin-left: 4.65%;
			margin-right: 4.65%;
		}
	}

	& .site-branding {
		margin-bottom: var(--theme-spacing-unit-6);

		@media (--medium) {
			flex: 0 1 16%;
			margin-right: var(--theme-spacing-unit-6);
		}
	}

	& .footer-navigation__title {
		font-size: 0.75rem;
	}

	& .footer-navigation {
		text-align: center;

		@media (--medium) {
			flex: 1 15%;
			max-width: 240px;
			text-align: left;
		}
	}

	& .footer-menu {

		& a {
			text-decoration-color: transparent;

			&:active,
			&:focus,
			&:hover {
				text-decoration-color: currentColor;
			}
		}
	}

	& .footer-copy-text {
		text-align: center;

		@media (--medium) {
			text-align: left;
		}

		@media (--large) {
			margin-top: calc(1.5 * var(--theme-spacing-unit-2));
		}
	}

	& .custom-logo {
		@media (--large) {
			max-height: 112px;
		}
	}

	& .social-icons {
		margin-left: 0;
		margin-right: 0;

		& svg {
			height: 2.5rem;
		}
	}
}
