/**
 * Site footer
 */

.site-footer {
	background-color: hsl(var(--theme-site-footer-background-color));

	& a,
	& h6,
	& .footer-copy-text {
		color: hsl(var(--color-white));
	}

	& .social-icons a {
		color: hsla(var(--color-white), 0.8);
	}

	& a:active,
	& a:focus,
	& a:hover {
		color: hsl(var(--color-athens-gray));
	}
}
