/*! Editor Font Sizes */
.has-small-font-size {
	font-size: var(--go--font-size);
}

.has-medium-font-size {
	font-size: var(--go--type-scale-1);
}

.has-large-font-size {
	font-size: var(--go--type-scale-2);
}

.has-huge-font-size {
	font-size: var(--go--type-scale-3);
}
