// Welcoming - Styles
@import "../../../shared/css/config/breakpoints";
@import "../settings";

// Blocks
@import "blocks/button";
@import "blocks/carousel";

// WooCommerce
@import "woocommerce/checkout";

html {
	background-color: var(--go-header--color--background);
}

body {
	border: 0.75rem solid var(--go-header--color--background);
	border-top: 0;
}

.site-footer.has-background {
	border-top: 0.75rem solid var(--go-header--color--background);
}

.has-footer-3 .site-footer__inner {
	padding-bottom: var(--go-block--padding--x);
}

.has-footer-3 .site-footer__row {
	border-color: var(--go-footer-3--border-color, hsl(0, 0%, 80%));
}

.has-footer-3 .has-background .site-footer__row {
	border-width: 2px;
}

.primary-menu a {

	&::after {
		background-color: var(--go--color--primary);
		bottom: -0.2rem;
		content: "";
		height: 0.2rem;
		left: 0;
		opacity: 0;
		position: absolute;
		transform-origin: left center;
		transition: all 0.1s ease-in-out;
		width: 100%;
	}

	@media (hover: hover) {

		&:hover::after {
			opacity: 1;
		}
	}

	&:hover {
		text-decoration: none;
	}

	&:focus::after {
		opacity: 1;
	}
}
