/**
 * Welcoming - Styles
 */
@import url("../../../shared/css/config/media-queries.css");
@import url("../settings.css");
@import url("components/button.css");
@import url("components/carousel.css");
@import url("woocommerce/tabs.css");
@import url("woocommerce/product.css");

html {
	background-color: hsl(var(--theme-header--bg));
}

body {
	border: 0.75rem solid hsl(var(--theme-header--bg));
	border-top: 0;
}

.site-footer.has-background {
	border-top: 0.75rem solid hsl(var(--theme-header--bg));
}

.has-footer-3 .site-footer__inner {
	padding-bottom: var(--theme-block-padding-x);
}

.has-footer-3 .site-footer__row {
	border-color: hsla(var(--theme-footer-3-site-info--border-color), 1);
}

.has-footer-3 .has-background .site-footer__row {
	border-width: 2px;
}

.primary-menu a {

	&::after {
		background-color: hsl(var(--theme-color-primary));
		bottom: -0.2rem;
		content: "";
		height: 0.2rem;
		left: 0;
		opacity: 0;
		position: absolute;
		transform-origin: left center;
		transition: all 0.1s ease-in-out;
		width: 100%;
	}

	@media (hover: hover) {

		&:hover::after {
			opacity: 1;
		}
	}

	&:hover {
		text-decoration: none;
	}

	&:focus::after {
		opacity: 1;
	}
}
