/*! Cover */
.wp-block-cover {

	&.has-tertiary-background-color {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: var(--go--color--primary);
		}
	}

	ul,
	ol {
		padding-left: 0;
	}

	&__inner-container {
		margin: 0 auto;
		max-width: var(--go--max-width--alignwide) !important;
		padding: var(--go--spacing--vertical--lg) 1rem;
		width: auto !important;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&:not(.is-position-center-center) {

		.wp-block-cover__inner-container {
			padding: calc(var(--go--spacing--vertical) * 0.5) var(--go--spacing--vertical);

			@include media(medium) {
				padding: calc(var(--go--spacing--vertical) * 1.5) calc(var(--go--spacing--vertical) * 2);
			}
		}
	}

	&.is-position-center-center {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			text-align: center;
		}

		.wp-block-buttons {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
