/*! Welcoming: CoBlocks Carousel */
.wp-block-coblocks-gallery-carousel {

	& .flickity-button::after {
		background: var(--theme-button--bg);
	}

	& .coblocks-gallery--item {
		transition: opacity 0.75s;

		&:not(.is-selected) {
			opacity: 0.25;
		}
	}

	& .coblocks-gallery--figure::before {
		display: none;
	}
}

.flickity-button {
	background: var(--color-white);
}

.flickity-prev-next-button {
	border-radius: 0;
}

.flickity-button-icon {
	fill: var(--theme-color-primary);
}
