/**
 * Play - CoBlocks Author card overrides
 */

.wp-block-coblocks-author {
	@media (--medium) {
		padding-bottom: calc(3 * var(--theme-spacing-unit));
	}

	& .wp-block-coblocks-author__heading {
		font-family: var(--theme-heading-font-family);
	}

	& .wp-block-coblocks-author__biography {
		color: hsl(var(--color-abbey));
	}

	& .wp-block-button {
		margin-top: calc(2.5 * var(--theme-spacing-unit));

		&:not(.is-style-squared):not(.is-style-outline):not(.is-style-circular):not(.is-style-3d):not(.is-style-shadow) .wp-block-button__link {
			background-color: hsl(var(--color-white));
			box-shadow: none;

			&:active,
			&:focus,
			&:hover {
				border-color: hsl(var(--THEME-COLOR-PRIMARY));
				color: hsl(var(--color-black));
			}
		}
	}
}
