/**
 * Play - CoBlocks Hero block
 */

.content-area {

	& .wp-block-coblocks-hero {

		& .wp-block-coblocks-hero__inner:not(.has-background) .wp-block-coblocks-hero__box {
			background-color: hsla(var(--THEME-COLOR-SECONDARY), 0.95);
		}

		&:not(.has-text-color) {
			color: hsl(var(--theme-h1-color));
		}

		& h1,
		& .h1,
		& h2,
		& .h2,
		& h3,
		& .h3,
		& h4,
		& .h4,
		& h5,
		& .h5,
		& h6,
		& .h6 {
			color: inherit;
		}

		& .wp-block-coblocks-hero__inner .wp-block-coblocks-hero__box {
			background-color: inherit;
		}

		& h2 {

			&::before {
				background-image: url("../../../dist/design-styles/play/images/squiggle.png");
				background-position: center center;
				background-repeat: no-repeat;
				content: "";
				display: block;
				height: 33px;
				margin: 0 auto 1rem;
				width: 59px;
			}

			font-family: Montserrat, serif;
			font-size: 2.5rem;
			font-weight: 400;
			line-height: 1.05;
			margin-bottom: 0.5rem;

			@media (--large) {
				font-size: 3.125rem;
				line-height: 1.1;
			}
		}

		& p {
			font-size: 1.125rem;
		}

		& .wp-block-button.is-style-outline {
			--theme-button-block-outline-color: var(--color-iron);
			--theme-button-block-outline-color-interactive: var(--color-iron);
		}
	}
}

/* cube-3d hero */
body {

	& .cube-3d.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box {
		margin-left: auto;
	}

	& .cube-3d.wp-block-coblocks-hero .wp-block-coblocks-hero__inner .wp-block-coblocks-hero__box .wp-block-button {
		color: hsl(var(--color-shark));
		margin-top: 4rem;
	}

	/*
	* When explicitly setting alignment, padding is reset to 0.
	* We need to provide some trivial padding
	*/
	& .cube-3d.wp-block-coblocks-hero .has-center-content.has-background.has-padding:not(.has-background-overlay),
	& .cube-3d.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay),
	& .cube-3d.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay) {
		padding: 4rem;
	}

	& .cube-3d.wp-block-coblocks-hero .has-center-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box,
	& .cube-3d.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box,
	& .cube-3d.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box {
		display: block;
		grid-column: none;
		max-width: 560px !important;
	}

	& .cube-3d .wp-block-coblocks-hero__inner.has-center-content.has-background.has-padding:not(.has-background-overlay),
	& .cube-3d .wp-block-coblocks-hero__inner.has-right-content.has-background.has-padding:not(.has-background-overlay),
	& .cube-3d .wp-block-coblocks-hero__inner.has-left-content.has-background.has-padding:not(.has-background-overlay),
	& .cube-3d .wp-block-coblocks-hero__inner {
		align-items: flex-end;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		grid-template-columns: none;
		grid-template-rows: none;
		overflow: hidden;
	}

	& .cube-3d .wp-block-coblocks-hero__inner.hero-center-left-align > .wp-block-coblocks-hero__box *:first-child {
		margin-top: 0;
	}

	& .cube-3d.wp-block-coblocks-hero .has-center-content.has-background.has-padding:not(.has-background-overlay):not(.has-background-overlay) .wp-block-coblocks-hero__box::before,
	& .cube-3d.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay):not(.has-background-overlay) .wp-block-coblocks-hero__box::before,
	& .cube-3d.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay):not(.has-background-overlay) .wp-block-coblocks-hero__box::before {
		background-color: hsl(var(--color-white));
		opacity: 0.9;
	}

	& .cube-3d .wp-block-coblocks-hero__inner.hero-center-center-align > .wp-block-coblocks-hero__box,
	& .cube-3d .wp-block-coblocks-hero__inner.hero-center-right-align > .wp-block-coblocks-hero__box,
	& .cube-3d .wp-block-coblocks-hero__inner.hero-center-left-align > .wp-block-coblocks-hero__box {
		flex: 1;
		grid-column: none;
		grid-row: none;
		justify-content: center;
		padding: 3rem;
		position: relative;
		text-align: center;

		&::before {
			background-color: hsl(var(--color-white));
			content: "";
			height: 100%;
			opacity: 0.9;
			position: absolute;
			right: 100%;
			top: 0;
			transform: skewY(-30deg);
			transform-origin: 100% 100%;
			width: 130%;
			z-index: 1;
		}

		&::after {
			background-color: hsl(var(--color-white));
			content: "";
			height: 100%;
			left: 0;
			opacity: 0.7;
			position: absolute;
			top: 100%;
			transform: skewX(-60deg);
			transform-origin: 0 0;
			width: 100%;
			z-index: 2;
		}
	}

	& .cube-3d.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box::before,
	& .cube-3d.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box::before {
		background-color: hsl(var(--color-white));
		content: "";
		height: 100%;
		left: auto;
		opacity: 0.9;
		position: absolute;
		right: 100%;
		top: 0;
		transform: skewY(-30deg);
		transform-origin: 100% 100%;
		width: 100%;
		z-index: 1;
	}

	& .cube-3d.wp-block-coblocks-hero .has-right-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box::after,
	& .cube-3d.wp-block-coblocks-hero .has-left-content.has-background.has-padding:not(.has-background-overlay) .wp-block-coblocks-hero__box::after {
		background-color: hsl(var(--color-white));
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.7;
		position: absolute;
		right: auto;
		top: 100%;
		transform: skewX(-60deg);
		transform-origin: 0 0;
		width: 100%;
		z-index: 2;
	}

	/* Temp override */
	& .wp-block-coblocks-column p:last-of-type {
		margin-bottom: 2em;
	}
}
