/**
 * Modern - Footer variant #1
 */

/*.is-modern .site-footer--1 {
	padding-bottom: calc(2.8 * var(--spacing-unit-6));

	@media (--large) {
		padding-bottom: calc(4.25 * var(--spacing-unit-6));
	}
}

.is-modern .social-icons {
	margin-bottom: calc(1.6 * var(--spacing-unit-6));
}

.is-modern .footer-menu {
	@media (--large) {
		margin-bottom: calc(0.8 * var(--spacing-unit-6));
	}

	& .menu-item {
		margin-bottom: calc(1.5 * var(--spacing-unit-2));
	}

	& a {
		font-size: 1.0625rem;
		font-weight: 400;
		letter-spacing: 2px;
		line-height: 2.1;
		text-decoration: none;

		@media (--large) {
			padding: var(--theme-spacing-unit-2) var(--theme-spacing-unit-6);
		}
	}
}
*/