:root {

	// Content width
	--go--max-width: 42rem;
	--go--max-width--alignwide: 82rem;

	// Spacing
	--go--viewport-basis: 750;
	--go--spacing--horizontal: 50;
	--go--spacing--paragraph: 15;
	--go--spacing--header: 25;

	// Typography
	--go--color--text: var(--go--color--primary);
	--go--font-family: "Karla", sans-serif;
	--go--font-size--small: 90%;
	--go--font-size: 1rem;
	--go--line-height: 1.8;
	--go--type-ratio: 1.235;

	// Headings
	--go-heading--button-spacing: 2rem;
	--go-heading--color--text: var(--go--color--primary);
	--go-heading--font-family: "Work Sans", sans-serif;
	--go-heading--font-weight: 300;
	--go-heading--line-height: 1.35;
	--go-heading--margin-bottom: 1.75rem;

	// Captions
	--go-caption--color--text: hsl(0, 0%, 52%);
	--go-caption--font-size: 0.85rem;
	--go-caption--text-align: center;

	// Pullquote
	--go-pullquote--font-size: var(--go--type-scale-6);

	// Accessibility
	--go-outline--color--text: var(--go--color--primary);
	--go-selection--color--background: var(--go--color--primary);

	// Buttons
	--go-button--border-width: 1px;
	--go-button--padding--x: 1.85rem;
	--go-button--padding--y: 1.35rem;
	--go-button--border-radius: 3px;
	--go-button--text-transform: lowercase;
	--go-button--letter-spacing: 1px;
	--go-button--font-weight: 400;
	--go-button-interactive--color--background: var(--go--color--secondary);

	// Labels
	--go-label--font-size: var(--go--font-size);
	--go-label--letter-spacing: var(--go-navigation--letter-spacing, normal);
	--go-label--text-transform: lowercase;
	--go-label--font-weight: var(--go-navigation--font-weight, 400);
	--go-label--margin-bottom: 0.35rem;

	// Input
	--go-input--border-color: var(--go--color--primary);
	--go-input--border: var(--go-input--border-width, 2px) var(--go-input--border-style, solid) var(--go-input--border-color, var(--go-heading--color--text));
	--go-input--color--text: var(--go-caption--color--text);
	--go-input--font-size: 1.1rem;
	--go-input--padding--x: 1.35rem;
	--go-input--padding--y: 1rem;
	--go-input--margin-bottom: 1.75rem;
	--go-input-interactive--color--border-color: var(--go--color--secondary);
	--go-input-interactive--color--text: var(--go-heading--color--text);

	// Header
	--go-header--color--background: "";

	// Site Title
	--go-site-title--color--text: var(--go-heading--color--text);
	--go-site-title--font-size: 1.85rem;
	--go-site-title--font-weight: 600;
	--go-site-title--letter-spacing: 0;
	--go-site-title--text-transform: normal;

	@include media(medium) {
		--go-site-title--font-size: 2.25rem;
	}

	// Site Description
	--go-site-description--color--text: var(--go--color--primary);
	--go-site-description--opacity: 1;

	// Site Navigation
	--go-navigation--color--text: var(--go--color--primary);
	--go-navigation--font-family: var(--go--font-family);
	--go-navigation--font-size: 1rem;
	--go-navigation--letter-spacing: 1px;
	--go-navigation--padding--x: 1.5vw;
	--go-navigation--text-transform: lowercase;
	--go-navigation-mobile--font-size: 1.75rem;

	// Site Search
	--go-search-button--color--text-interactive: var(--go--color--text);
	--go-search-button--color--background: var(--go--color--primary);
	--go-search-button--color--background-interactive: var(--go--color--text);

	// Footer
	--go-footer--color--text: var(--go--color--primary);
	--go-footer-navigation--color--text: var(--go-heading--color--text);
	--go-footer-3--border-color: var(--go-header--color--background);
	--go-footer-3--border-width: 10px;

	// Social
	--go-social--padding: 0.5rem;
	--go-social--size: 1.5rem;

	@include media(medium) {
		--go-social--padding: 1rem;
		--go-social--size: 2rem;
	}

	// Posts
	--go-meta--color--text: var(--go--color--primary);

	// CoBlocks
	--wp-block-coblocks-food-item--heading--font-weight: 700;
}
