/**
 * Traditional - header-nav-logo-search variant
 */

body.is-header-nav-logo-search #searchform {
	background-color: hsl(var(--color-white));
}

/* Override the search toggle to match the search input button */
.site-header--nav-logo-search .site-search__toggle {
	flex: 0 1 58px;
	height: 58px;
}

.is-traditional .site-header--nav-logo-search .primary-menu {

	--theme-primary-submenu-link-color: var(--color-shark);

	& a {
		opacity: 1;
	}
}
