/**
 * Traditional - Primary Menu
 */

.primary-menu {
	font-size: 1.125rem;

	& a {
		font-weight: 400;
	}

	@media (--large) {

		& .menu-item {
			padding-left: calc(1.5 * var(--theme-spacing-unit));
			padding-right: calc(1.5 * var(--theme-spacing-unit));
		}
	}
}
