/*! Forms */
fieldset {
	margin-top: 5rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	appearance: none;
	background-color: hsl(var(--theme-input--bg));
	border: var(--theme-input--border);
	border-radius: var(--theme-input--radius, var(--theme-button--radius));
	box-shadow: var(--theme-input--shadow, none);
	color: hsl(var(--theme-input--color));
	font-size: var(--theme-input--font-size);
	font-weight: var(--theme-input--weight);
	line-height: 1;
	margin-bottom: var(--theme-input--spacing);
	padding: var(--theme-input--padding-y) var(--theme-input--padding-x);
	width: 100%;

	&:focus {
		background: hsl(var(--theme-input--bg-interactive));
		border-color: hsl(var(--theme-input--border-color-focus));
		box-shadow: var(--theme-input--shadow-focus, none);
		color: hsl(var(--theme-input--color-focus));
		outline: none;
	}
}

input[type="radio"],
input[type="checkbox"] {
	appearance: none;
}

textarea {
	background-color: hsl(var(--theme-input--bg));
	border: var(--theme-input--border);
	border-radius: var(--theme-input--radius, var(--theme-button--radius));
	color: hsl(var(--theme-input--color));
	display: block;
	font-size: var(--theme-input--font-size);
	font-weight: var(--theme-input--weight);
	margin-bottom: var(--theme-input--spacing);
	min-height: calc(0.5rem * 10);
	padding: var(--theme-input--padding-x) var(--theme-input--padding-x);
	width: 100%;

	&:focus {
		background: hsl(var(--theme-input--bg-interactive));
		border-color: hsl(var(--theme-input--border-color-focus));
		box-shadow: var(--theme-input--shadow-focus, none);
		color: hsl(var(--theme-input--color-focus));
		outline: none;
	}
}

select {
	@mixin select-menu;
	margin-bottom: var(--theme-input--spacing);
	padding: var(--theme-input--padding-y) var(--theme-input--padding-x) !important;

	/* CAUTION: IE hackery ahead */
	&::-ms-expand {
		display: none; /* remove default arrow on ie10 and ie11 */
	}

	&:focus {
		@mixin select-menu-focus;
	}

	/* Target Internet Explorer 9 to undo the custom arrow */
	@media screen and (min-width: 0\0) {
		background: none\9;
		padding: 5px\9;
	}
}

option {
	font-weight: var(--theme-input--weight);
}

::placeholder {
	color: hsl(var(--theme-input-placeholder--color, 0, 0%, 47%));
	line-height: 1.5;
	opacity: 1;
}

::-ms-input-placeholder {
	color: hsl(var(--theme-input-placeholder--color, 0, 0%, 47%));
}

:-ms-input-placeholder {
	color: hsl(var(--theme-input-placeholder--color, 0, 0%, 47%));
}
