/*! Headings - <h1> through </h6> */
h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
	clear: both;
	display: block;
	font-family: var(--theme-heading--font);
	font-style: var(--theme-heading--style, normal);
	font-weight: var(--theme-heading--weight);
	line-height: var(--theme-heading--leading);
	margin: 0 0 var(--theme-heading--spacing);

	& + .wp-block-button {
		margin-top: var(--theme-heading--button-spacing);
	}
}

h1,
.h1 {
	color: hsl(var(--theme-h1--color, var(--theme-color-heading)));
	font-size: var(--theme-h1--font-size);
	letter-spacing: var(--theme-heading--tracking);
}

h2 {
	color: hsl(var(--theme-h2--color, var(--theme-color-heading)));
	font-size: var(--theme-h2--font-size);
	letter-spacing: var(--theme-heading--tracking);
}

h3 {
	color: hsl(var(--theme-h3--color, var(--theme-color-heading)));
	font-size: var(--theme-h3--font-size);
}

h4 {
	color: hsl(var(--theme-h4--color, var(--theme-color-heading)));
	font-size: var(--theme-h4--font-size);
}

h5 {
	color: hsl(var(--theme-h5--color, var(--theme-color-heading)));
	font-size: var(--theme-h5--font-size);
}

h6 {
	color: hsl(var(--theme-h5--color, var(--theme-color-heading)));
	font-size: var(--theme-h6--font-size);
}
