/**
 * Global link styling
 */

.site-content {

	& p a {
		color: hsl(var(--theme-link--color));

		&:hover,
		&:active {
			color: hsl(var(--theme-link--color-interactive));
			outline: 0;
		}

		&:focus {
			@mixin outline;
			outline-width: thin;
		}
	}
}
