/**
 * Global link styling
 */

.site {

	& a {
		color: hsl(var(--theme-link--color));

		&:hover,
		&:active {
			color: hsl(var(--theme-link--color-interactive));
			outline: 0;
		}

		&:focus {
			@mixin outline;
		}
	}

	& p a:focus {
		outline-width: thin;
	}
}
