/*! Make sure images are scaled correctly. */
img {
	height: auto;
	max-width: 100%;

	/* Removes the whitespace under img, safer than `display: block;`. */
	vertical-align: middle;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: hsl(var(--color-white)) !important;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-current {
	background: hsl(var(--theme-color-primary)) !important;
}
