html {
	box-sizing: border-box;
	font-size: 100%;
}

::-moz-selection {
	background-color: hsla(var(--theme-selection--color), 0.1);
}

::selection {
	background-color: hsla(var(--theme-selection--color), 0.1);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
}

input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: var(--theme-body--font);
	font-weight: var(--theme-body--weight);
	line-height: var(--theme-body--leading);
	text-rendering: optimizeLegibility;
}
