html {
	font-size: 100%;
}

::-moz-selection {
	background-color: hsla(var(--theme-selection--color), 0.1);
}

::selection {
	background-color: hsla(var(--theme-selection--color), 0.1);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: hsl(var(--theme-color-body-bg));
	color: hsl(var(--theme-color-text));
	font-family: var(--theme-body--font);
	font-size: var(--theme-body--font-size);
	font-weight: var(--theme-body--weight);
	letter-spacing: var(--theme-body--tracking);
	line-height: var(--theme-body--leading);
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: var(--theme-body--font);
	font-weight: var(--theme-body--weight);
	line-height: var(--theme-body--leading);
	text-rendering: optimizeLegibility;
}
