.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	&:hover {
		background: $color__background-button-hover;
		cursor: pointer;
	}

	&:focus {
		@mixin outline;
		cursor: pointer;
	}

}
