/**
 * Global Headings - <h1> through </h6>
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: var(--theme-heading-font-family);
	line-height: var(--theme-heading-line-height);
	margin: var(--theme-spacing-unit-2) 0;
}

h1 {
	color: hsla(var(--theme-h1-color), 1);
	font-size: var(--theme-h1-font-size);
}

h2 {
	color: hsla(var(--theme-h2-color), 1);
	font-size: var(--theme-h2-font-size);
}

h3 {
	color: hsla(var(--theme-h3-color), 1);
	font-size: var(--theme-h3-font-size);
}

h4 {
	color: hsla(var(--theme-h4-color), 1);
	font-size: var(--theme-h4-font-size);
}

h5 {
	color: hsla(var(--theme-h5-color), 1);
	font-size: var(--theme-h5-font-size);
}

h6 {
	color: hsla(var(--theme-h6-color), 1);
	font-size: var(--theme-h6-font-size);
}

/* Bonus class. Would be applied via editor Advanced tab */
.over-line {
	font-family: var(--theme-heading-font-family);
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.33;
	text-transform: uppercase;
}
