/*! Lists */
.content-area {

	& ul,
	& ol {

		& li {
			margin: 0 0 0.25rem 1rem;
		}

		& ol {
			margin-bottom: 0.25rem;
			margin-top: 0.25rem;
			padding-left: 0;

			& li {
				list-style: decimal;
			}
		}

		& ul {
			margin-bottom: 0.25rem;
			margin-top: 0.25rem;
			padding-left: 0;

			& li {
				list-style: circle;
			}
		}
	}
}
