.content-area table {

	& caption {
		padding: var(--theme-spacing-unit);
	}

	& th,
	& td {
		border-color: hsla(var(--THEME-COLOR-SECONDARY), 1);
		padding: var(--theme-spacing-unit);
	}

	& thead th,
	& tfoot th {
		background-color: hsla(var(--THEME-COLOR-SECONDARY), 1);
		border-color: hsla(var(--THEME-COLOR-SECONDARY), 1);
		color: hsla(var(--color-white));
	}

	& tbody tr:nth-child(odd) {
		background-color: hsla(var(--THEME-COLOR-SECONDARY), 0.15);
	}
}

.content-area > table {
	margin-bottom: var(--theme-spacing-unit-4);
	margin-top: var(--theme-spacing-unit-4);

	@media (--medium) {
		margin-bottom: var(--theme-spacing-unit-6);
		margin-top: var(--theme-spacing-unit-6);
	}
}
