/**
 * Play - Primary Menu
 */
.primary-menu {
	--border-start: 18px;
	--border-end-mobile: 22px;
	--border-end-desktop: 24px;

	/* A toggling parent item with children */
	& .menu-item-has-children {

		/* Add a small ddown arrow */
		& > [aria-haspopup] {

			&::after {
				background-image: url("../../../dist/shared/svg/arrow-down-white.svg");
			}
		}
	}
}
